#main{
  padding-left:0px !important;
}
#remeber_me[type="checkbox"] + label:after {
    border: 1px solid #50E3C2;
    background: #50E3C2;
    width: 15px;
    height: 15px;
    transform: scale(1);
}
#remeber_me[type="checkbox"]:checked + label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 8px;
    height: 11px;
    z-index: 1;
    top: 0;
    left: 0;
}
#toast-container {
    left: 40%;
    top: 22%;
}

/*----------START TOP NAV HEADER------------*/
.tabs1 {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
}
ul.tabs1 li {
    float: left;
    width: 160px !important;
}
.tabs1 .tab1 {
    display: inline-block;
    text-align: center;
    height: 48px;
    padding: 0;
    margin: 0;
    line-height: 75px;
    min-height: 68px;
}
.tabs1 .tab1 a {
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.tabs1 .tab1 a  {
      color: #666;
      font-weight: 500;
}

.tabs1 {
  width: 100% !important;
  height: 68px;
  padding-left: 114px !important;
  box-shadow: 3px 1px 3px #ccc;
}
.tabs1 .tab1 a:hover, .tabs1 .tab1 a.active {
  color: #000000;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 3px solid #ff85a1;
}
.tabs1 .tab1 {
  border:0;
  text-transform: none;
  margin-left: 3px;
  margin-right: 3px;
}
.tabs1 .tab1 a {
  font-size: 14px;
  padding: 0;
}
li.tab1 a.active {
  min-height: unset !important;
}
/*----------END TOP NAV HEADER------------*/

.topfix {
    position: fixed;
    width: 100%;
    z-index: 1;
}
div#breadcrumbs-wrapper {
    margin-top: 50px;
}
