
		@media only screen and (min-width: 600px) {
		  /* For tablets: */
		  .col-sm-1 {width: 8.33%;}
		  .col-sm-2 {width: 16.66%;}
		  .col-sm-3 {width: 25%;}
		  .col-sm-4 {width: 33.33%;}
		  .col-sm-5 {width: 41.66%;}
		  .col-sm-6 {width: 50%;}
		  .col-sm-7 {width: 58.33%;}
		  .col-sm-8 {width: 66.66%;}
		  .col-sm-9 {width: 75%;}
		  .col-sm-10 {width: 83.33%;}
		  .col-sm-11 {width: 91.66%;}
		  .col-sm-12 {width: 100%;}
		}

		@media only screen and (min-width: 768px) {
		  /* For desktop: */
		  .col-sm-1 {width: 8.33%;}
		  .col-sm-2 {width: 16.66%;}
		  .col-sm-3 {width: 25%;}
		  .col-sm-4 {width: 33.33%;}
		  .col-sm-5 {width: 41.66%;}
		  .col-sm-6 {width: 50%;}
		  .col-sm-7 {width: 58.33%;}
		  .col-sm-8 {width: 66.66%;}	
		  .col-sm-9 {width: 75%;}
		  .col-sm-10 {width: 83.33%;}
		  .col-sm-11 {width: 91.66%;}
		  .col-sm-12 {width: 100%;}
		}
		
		@media screen and (-webkit-min-device-pixel-ratio:0){
			::i-block-chrome, .col-sm-1, ::i-block-chrome, .col-sm-2, ::i-block-chrome, .col-sm-3, ::i-block-chrome, .col-sm-4, ::i-block-chrome, .col-sm-5, ::i-block-chrome, .col-sm-6, ::i-block-chrome, .col-sm-7, ::i-block-chrome, .col-sm-8, ::i-block-chrome, .col-sm-9, ::i-block-chrome, .col-sm-10, ::i-block-chrome, .col-sm-11, ::i-block-chrome, .col-sm-12{
				float:left;
			}
			::i-block-chrome,.sbtn{ margin:-5% 0 10px 62% !important; }
			::i-block-chrome,.applyTo{ height:1850px; }
			::i-block-chrome,.g-recaptcha{ height:85px; }
		}	

		/* Desktop View */
		@media only screen and (min-width: 992px) {
			.desktop-view{
				display:block !important;
			}
			
			.mobile-view{
				display:none !important;
			}
			
			.text-ft{
				padding:6% 0 0 0;
			}
		}

		/* Mobile View */
		@media only screen and (max-width: 600px) {
			.desktop-view{
				display:none !important;
			}
			
			.mobile-view{
				display:block !important;
			}		
			
			.text-ft{
				text-align:left !important;
				padding-left:12%;
				font-size: 18px;
				line-height: 30px;
			}
			
			.topnav .co-links{
				border-top: 1px soild #ccc !important;
			}
		}
		
		* {box-sizing: border-box;}
		body { 
			margin: 6% 0 0 0;
			font-family: Roboto, sans-serif !important;
			overflow-x: hidden;
		}

		.header {
			height: 100px;
			overflow: hidden;
			opacity: 0.9;
			padding: 15px 20px 4px 4%;
			border-bottom: 1px solid #ccc;
		}

		.header .logo {
			float: left;
			color: black;
			text-align: center;
			padding: 15px;
			text-decoration: none;
			font-size: 15px !important; 
			line-height: 25px;
			border-radius: 4px;
		}
		
		.header .header-right a{
			color: black;
			text-align: center;
			padding: 8px 22px;
			text-decoration: none;
			font-size: 14px !important; 
			line-height: 25px;
			border-radius: 4px;
		}

		.header a.logo {
			height:30px;
			width: 30px;
			margin-top:-20px;
		}

		.header .header-right a:hover {
			background-color: #ddd;
			color: black;
		}

		.login-btn {
			background-color: #bc343a !important;
			color: #fff !important;
			height:32px !important;
			margin-top:10px !important;
			line-height:5px !important;
			width:25%;
			padding: 11px 15px !important;
			border-radius: 6px !important
		}
		
		.loginBtn, .loginBtn:hover{
			padding: 11px 15px !important;
			border-radius: 6px !important;
		}

		.header-right {
			float:right !important;
			padding:15px 20px 15px 0;
		}

		@media screen and (max-width: 500px) {
		.header a {
			float: none;
			display: block;
			text-align: center;
			padding:0 10px;
		}
		}
		
		*:focus {
			outline: none;
		}
		
		/* Footer */
		
		.footers a {color:#696969;}
		.footers p {color:#696969;}
		.footers ul {line-height:30px;}
		
		a{ color:#000; }

		#social {
			margin: 20px 10px;
			text-align: center;
		}

		.smGlobalBtn { /* global button class */
			display: inline-block;
			position: relative;
			cursor: pointer;
			width: 20px;
			height: 20px;
			border:2px solid #ddd; /* add border to the buttons */
			box-shadow: 0 3px 3px #999;
			padding: 0px;
			text-decoration: none;
			text-align: center;
			color: #fff;
			font-size: 10px;
			font-weight: normal;
			line-height: 2em;
			border-radius: 27px;
			-moz-border-radius:27px;
			-webkit-border-radius:27px;
		}

		/* facebook button class*/
		.facebookBtn{
			background: #4060A5;
		}

		.facebookBtn:before{ /* use :before to add the relevant icons */
			font-family: "FontAwesome";
			content: "\f09a"; /* add facebook icon */
		}

		.facebookBtn:hover{
			color: #4060A5;
			background: #fff;
			border-color: #4060A5; /* change the border color on mouse hover */
		}

		/* twitter button class*/
		.twitterBtn{
			background: #00ABE3;
		}

		.twitterBtn:before{
			font-family: "FontAwesome";
			content: "\f099"; /* add twitter icon */
		}

		.twitterBtn:hover{
			color: #00ABE3;
			background: #fff;
			border-color: #00ABE3;
		}

		/* google plus button class*/
		.googleplusBtn{
			background: #e64522;
		}

		.googleplusBtn:before{
			font-family: "FontAwesome";
			content: "\f0d5"; /* add googleplus icon */
		}

		.googleplusBtn:hover{
			color: #e64522;
			background: #fff;
			border-color: #e64522;
		}

		/* linkedin button class*/
		.linkedinBtn{
			background: #0094BC;
		}

		.linkedinBtn:before{
			font-family: "FontAwesome";
			content: "\f0e1"; /* add linkedin icon */
		}

		.linkedinBtn:hover{
			color: #0094BC;
			background: #fff;
			border-color: #0094BC;
		}

		/* pinterest button class*/
		.pinterestBtn{
			background: #cb2027;
		}

		.pinterestBtn:before{
			font-family: "FontAwesome";
			content: "\f0d2"; /* add pinterest icon */
		}

		.pinterestBtn:hover{
			color: #cb2027;
			background: #fff;
			border-color: #cb2027;
		}

		/* tumblr button class*/
		.tumblrBtn{
			background: #3a5876;
		}

		.tumblrBtn:before{
			font-family: "FontAwesome";
			content: "\f173"; /* add tumblr icon */
		}

		.tumblrBtn:hover{
			color: #3a5876;
			background: #fff;
			border-color: #3a5876;
		}

		/* rss button class*/
		.rssBtn{
			background: #e88845;
		}

		.rssBtn:before{
			font-family: "FontAwesome";
			content: "\f09e"; /* add rss icon */
		}

		.rssBtn:hover{
			color: #e88845;
			background: #fff;
			border-color: #e88845;
		}
		
		.col-md-3 {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 11% !important;
		}
		
		a:hover{
			text-decoration: none !important;
		}
		
		.foo-firsttabs{
			list-style-type:none;
			text-align:left !important;
			padding-left:38%;
		}
		
		.foo-secondtabs{
			list-style-type:none;
			text-align:left !important;
		}
		
		.comp{
			margin-left:-5%;
		}
		
		.foo-thirdtabs{
			list-style-type:none;
			text-align:left !important;
			padding-left:34%;
		}
		
		.foo-list li{
			padding:8px 0px;
		}
		
		.foo-list li a{
			color:#000 !important;
		}
		
		.footer-margin {
			padding: 30px;
			background-color: #bf4b3d;
		}
		
		.social-logo{
			margin:15px 0 0 20px;
		}

		.logo-footer{
			margin:-0.7% 0 0.8% 0; 
			text-align: left;
		}
		
		.navbar-nav{
			text-align:right;
		}
		
		.footer-list{
			padding:25px 5% 45px 4.6% !important; 
			width:101%; 
			border-top: 4px solid #ccc; 
			border-bottom: 1px solid #ccc;
		}
		
		.copyright{
			display:block;
			text-align:center;
		}
		
		/*.....................*/
		
		.topnav {
		  overflow: hidden;
		  background-color: transparent;
		  border-bottom:1px solid #ccc;
		  position: relative;
		}

		.topnav #myLinks {
		  display: none;
		}

		.topnav a {
		  color: #595959;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		  display: block;
		  margin-right:10px;
		}

		.topnav a.icon {
		  background: transparent;
		  display: block;
		  position: absolute;
		  right: 0;
		  top: 15px;
		}

		.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		}

		.active {
		  background-color: transparent;
		  color: white;
		}
		
		.fa-caret-down{
			text-align:right; 
			float:right;
			font-size: 22px;
			color: #595959;
		}
		
		.copy-right{
			font-size:13px; 
		}
		
		.mail-text:hover{
			color:#bc343a !important;
		}