	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
		.mobile-view{
			
		}
	}
	@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
		.mobile-view{
			
		}
	}
	
	@media screen and (min-width: 1200px) {
		.container {
			max-width: 100%;
		}
	}
	
	@media only screen and (min-width: 992px) {
		#partner-btn{
			margin-left:10px !important;
		}	
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0){
		 
		::i-block-chrome,.absolute-center{
			margin-top: 2%;
		}

		::i-block-chrome,.col-md-1, ::i-block-chrome,.col-md-2, ::i-block-chrome,.col-md-3, ::i-block-chrome,.col-md-4, ::i-block-chrome,.col-md-5, ::i-block-chrome,.col-md-6, ::i-block-chrome,.col-md-7, ::i-block-chrome,.col-md-8, ::i-block-chrome,.col-md-9, ::i-block-chrome,.col-md-10, ::i-block-chrome,.col-md-11, ::i-block-chrome,.col-md-12 {
			float:left;
		}
		::i-block-chrome,.footer-list .col-sm-2, ::i-block-chrome,.footer-list .col-sm-3 {
			float:left;
		}
		::i-block-chrome,.teamates .col-sm-2, ::i-block-chrome,.teamates .col-sm-3 {
			float:left;
		}
		::i-block-chrome, .col-sm-5 .job-mindesc, ::i-block-chrome, .col-sm-7 .job-mindesc {
			float:left;
		}
		
		::i-block-chrome,.trending-video-row{ margin-top:105% !important; }
		::i-block-chrome,.mbTrending{ padding-top:40%; }
		::i-block-chrome,.carousel-control-prev, ::i-block-chrome,.carousel-control-next{ top:35%; }
		::i-block-chrome,.trending-video-row { background-image: url(../images/cohorts/01.jpg) !important; }
		::i-block-chrome,.trending-video-1 .video-container{ margin-left:22% !important; }
		::i-block-chrome,.col-md-3.connect{ height:170px; }
		::i-block-chrome,.container{ width:97%; }
		::i-block-chrome,.carousel-control-next-icon{background-image:url('img/Group 10566.png');width:100%;height:100%; background-repeat: no-repeat;}
		::i-block-chrome,.carousel-control-prev-icon{background-image:url('img/Group 10567.png');width:100%;height:100%; background-repeat: no-repeat;}
		::i-block-chrome,.carousel-control-next{ top:75%; } 
		::i-block-chrome,.carousel-control-prev{ top:75%; }
		::i-block-chrome,.learn{ margin-top:60% !important; }
		::i-block-chrome,.clienttrust .carousel-control-prev-icon.visible{  width: 56% !important; height: 36% !important; margin: -8% 0 0 10% !important; }
		::i-block-chrome,.clienttrust .carousel-control-next-icon.visible{  width: 56% !important; margin: 339% 0 0 35% !important; }
		::i-block-chrome,.footer-list{ border-bottom:none !important; }
		
	}
	
	/*Mobile View*/
	@media only screen and (max-width: 600px) {
		.mb-tw{ margin:24% 0 0 9.6%; }
		.mb-link{ margin:31% 0 0 -5%; }
		.mb-fb{ margin:24% 0 0 -5%; }
		.mb-in{ margin:31% 0 0 -4.8%; }
		.mb-yt{ margin:24% 0 0 -4.3%; }
		.smicon{ float:left; width:20%; }
		.container.mediaiconbar{ height:340px; } 
		.container.mediaiconbar{ margin-top:160%; }
		.container.freeresources { height: 400px; }
		.mobile-view .imageSide .emailtosign2{ margin: 4.9% 0 0 24%; border-radius: 10px; }
		.mobile-view .imageSide .head-submit2{ width:100%; margin:0 0 0 24%; border-radius:10px; }
		.martop10.signupbox h4 { font-size: 31px; padding: 22% 20% 0 20%; }
		.martop10.signupbox{ background-size: cover; margin-top:-20%; }
		.feature-div .sec-title2{ margin-top:-5px; }
		.container .hm_p{ margin:-1.5% 0 5% 0%; }
		.container .sec-title{ width:90%; }
		.container .marleft4 { margin: 0 4% 0 4%; }
		.hm-gradient .xb-item .founder1{ font-size:16px !important; } 
		.padleft10{ padding-left:10px; }
		.topnav .logo img{ margin:-3% 0 0 -5%; }
		.markimg{ margin:0 8%; }
		.SoMedia .socialConnect{ padding:6% 0% 2% 4%; }
		.card-header{
			height:80px !important;
		}
		.head-row .co-desc{
			width:86%;
			margin: 30px 0 12px 15px;
		}
		.head-row .imageSide .emailtosign{
			width:90%;
			border-radius:8px;
		}
		.head-row .imageSide .head-submit{
			width:90%;
			margin:5% 5%;
			border-radius:8px;
		}
		.head-row .co-h1 {
			margin: 10% 0 0 15px;
			font-size: 25px;
			width:90%;
		}	
		.head-row .desk-signup-form{ width:95%; }
		.head-row .desk-sign-form{ width:95%; }
		.homesection img.sideimg{ height:100%; width:100%; }
		.homesection .feature-div{ padding: 5% 0px 8% 6%; }
		.container .two { order: 1; padding-top: 5%!important; }
		.container .one { order: 2; padding-bottom: 5%; }
		.social-row .connect{ max-width:100% !important; }
		#xbcarousel .carousal_us{ width:90%; }
		#xbcarousel .carousal_hr{ width: 100%; margin: 3% 0 2% 0%; }
		#xbcarousel .carousel-control-prev, #xbcarousel .carousel-control-next{ display:none; }
		#xbcarousel .carousel-inner{ width: 98%; overflow: hidden; margin: 0 0%; }
		#xbcarousel .founder-desc{ margin:-8% 0 10px 0%; }
		.footer-list .ft-2{ margin:8% 0 0 -8%; }
		.footer-list .sm-icon{ margin: 10% 0 0 2%; text-align: center; }
		.ftheadh6{ padding-bottom:10px; }
		.topnav #myLinks{ padding:0 0 0 4%; border-top:1px solid #ccc; }	
		.topnav #myLinks a{ padding: 14px 16px 10px 16px; font-size: 15px; }
		.pp-row .heading{ margin-top:5%; }
		.trending-video-row .trendVideocell { width: 330px; height: 338px; margin: 5px 0 0 0; border-radius: 10px; }
		.trending-video-row .trending-video-1 .video-container{ height: 355px; width: 90%; margin: 0 0 0 -8%; }
		.trending-video-row .trend-h2{ margin-bottom:10%; }
		.social-row.SoMedia{ margin:230% 0 0 0; }
		.trending-other-video .videorw { padding: 5% 15%; }
		.mbTrending .trending-other-video{ height:310%; margin-top:-10%; } 
		.SoMedia .col-md-3.connect{ max-width: 100% !important; flex: 100%; }
		.socialConnect .textsocial{ font-size:13px !important; }
		.socialConnect img{ width:35px; height:35px; }
		.socialConnect .textsocial2, .socialConnect .textsocial3 { margin: 10px 0 0 -7px; }
		.socialConnect .mbyt .textsocial3{ margin: 10px 0 0 -1px; }
		.socialConnect .textsocial5{ margin:10px 0 0 13%; }
		.insta{ margin:0 2px 0 6px; } 
		p.kooMar{ margin:0 0 0 1%; }
		.bvSlide .hm-gradient{margin:0% 0% 0 0%;}
		.bvSlide .middlebv{ margin:24% 0 0 0; }
		.bvSlide .prnext{ margin:-5% 0 0 0; width:98%; }
	}
	
	
	* {
		font-family: Poppins,sans-serif;
	}
	
	.red{ color:#bc343a !important; }
	
	.container {
		padding:0 4% !important;
	}
	
	.header{
		height: 85px !important;
		padding: 10px 20px 10px 4% !important;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 2000;
		background-color: #fff;
		opacity:1 !important;
	}
	
	.logo img{ 
		width: 282px; height: 74px;
		/*width: 267px; height: 76px;*/ 
	}
	
	section {
		padding: 0px 0;
	}

	section .section-title {
		text-align: center;
		color: #007b5e;
		margin-bottom: 50px;
		text-transform: uppercase;
	}
	.image{
		/*height:740px;*/
		height:665px;
		text-align:center;
		/*background-image: url('img/green_wave.png');*/
		background-image: url('img/banner_bv.png');
		background-position: center!important;
		background-repeat: no-repeat!important;
		background-size: contain !important;
		margin:0% 0 5% 0;
		width:101.1%;
		border-bottom:3px solid #bc343a;
	}
	
	.gift-image{
		height:250px;
		width:100%;
		text-align:center;
	}
	
	.progress-bar{
		width:10%;
		height:6px;
	}

	.button{
		margin-top: 60px;
	}
	
	.input{
		text-align:center;
		border-radius: 25px;
		height:30px;
		padding:10px 0;
		margin:10px 0;
	}
	
	.contact-input{
		margin:10px 0;
	}
	
	.contact-input input{
		border-radius:5px;
		width:350px;
		height:40px;
		padding-left:10px;
		border-left:none;
		border-top-left-radius:0px;
		border-bottom-left-radius:0px;
		margin-left:-4px;
	}
	
	.container1{
		height:10px;
	}
	
	.co-h1{
		margin: 9% 0 0 25px;
		color: #bc343a !important;
		font-size:  40px;
		font-weight: 700;
		text-align: left;
		padding:8% 0 0 0;
	}
	
	.co-h2{
		margin: 5% 0 0 25px;
		color: #7863e8 !important;
		font-size:  32px;
		font-weight: 700;
		text-align: left;
	}
	
	.comp-email {
		margin-bottom: 20px;
		margin-left: 20px;
		width: 100%; 
		margin-bottom: 20px;
		border-radius: 5px;
		padding: 7px 15px;
		outline: none;
		background-color:#f7f7f7;
		border: 1.5px solid #eee;
		float: left;
		color:#777;
		font-size:14px !important;
	}
	
    
	
	.contact-login{	
		background-color: #6b36f4;
		color: white;
		padding: 10px 10px;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		width: 10%;
		opacity: 0.9;
		height:45px;
		font-size:14px;
    }
	
	.icon {
      padding: 10.5px;
      background: white;
      color: #ccc;
      min-width: 20px;
      text-align: center;
      border: 1.5px solid #ccc;
      border-radius: 10px;
    }

    .btn:hover {
		opacity: 1;
    }
    
	.sub-btn{   
		text-align:left;   
	}
    
	.co-desc{
		color: #595959;
		margin:30px 0 12px 25px;
		text-align: justify;
		font-size:20px;
		width: 75%;
    }
	
	.mo-desc{
		color: #595959;
		margin:30px 0 30px 25px;
		text-align: justify;
		font-size:20px;
		width: 82%;
    }
	
	.gift-container{
		margin-top:8% !important;
	}
	
	.xc-contact{
		text-align:center;
	}
	
	.feature-div{
		padding:3.2% 0 8% 0;
	}
	
	.head-row{
		padding:0 0 0 5% !important;
	}
	
	.sec-title{
		color: #010101 !important;
		font-weight:400;
	}
	
	.p-padd{
		margin-top: 8px;
	}
	
	.feature-div h4{
		padding-bottom:4%;
	}
	
	.faq-div{
		padding: 3% 0 0 0 !important;
	}
	
	.card-header{
		background-color:transparent !important;
		border-bottom: none !important;
		height:60px;
	}
	
	.card-header h5{
		color: #7863e8!important;
		font-weight:400;
		font-size:18px;
	}
	
	.card{
		border:none !important;
		border-bottom: 1px solid #f7f7f7 !important;
		margin-bottom:10px;
	}
	
	.collapse{
		margin-top:-20px; 
	}
	
	.mb-signup-form{
		width:88%;
	}
	
	.desk-signup-form{
		width: 100%;
		display: -webkit-inline-box;
	}
	
	.desk-sign-form{
		width: 100%;
		display: -webkit-inline-box;
	}
	
	.hm_p{
		font-size:17px;
	}
	
	.hmb_p{
		margin:-10% 0 0 15%; 
		font-size:17px;
	}
	
	.free-signup-box{
		margin-left:20px;
	}
	
	.m-right{
		margin-right: 0px !important;
	}
	
	.inthenews{
		background-color:#7863e8!important;
		margin-top:3%;
	}
	
	.inthenews h2{
		color:#000 !important;
		text-align:center;
		font-weight:500;
		padding:3% 0 1% 0;
	}
	
	.client-trust{
		color:#000 !important;
		text-align:center;
		font-weight:400;
		padding:3% 0 3% 0;
		font-size: 30px;
	}
	
	.newssection{
		margin: 0 0 0 0;
		padding: 6% 12%;
	}
	
	.opa-image {
		opacity: .7;
	}
	
	.fn {
		padding:13px 0 0 0;
		margin-left:-15px;
	}
	
	.faq-img{
		margin:-1% 0 0 1%;
	}
	
	.ad-img{
		margin:6% 0 0 -5%;
	}
	
	.ar-img{
		margin:5% 0 0 -1.5%;
	}
	
	.medico-img{
		margin:5% 0 0 1%;
	}
	
	.for-img{
		margin:0 0 0 -5%;
	}
	
	.mb-news{
		margin:12px 0 10% 0;
	}
	
	
	.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    /*background: url(img/testimonial.bg-top.png);*/
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    position: relative;
    /*background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
	background-image: url('img/nimbulogo.png');*/
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 345px;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
	/*background-image: url('img/testimonialbg.png');*/
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: contain !important;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    margin: 20px 0 0 131%;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #595959;
    font-size: 16px;
    line-height: 1.4;
    margin: -15% 0 20px 32.5%;
    background: #fff;
    width: 50%;
    height: 275px;
    padding: 3% 4%;
    text-align: justify;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .carousel {
	padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}

.faq h3{
	font-size:34px;
	font-weight:400;
}

.testimonialmb_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 345px;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonialmb_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    margin: 20px 25% 0 25%;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
    /*box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);*/
	border-radius:50%;
}
.testimonialmb_slide p {
    color: #595959;
    font-size: 16px;
    line-height: 1.4;
    margin: 5% 0 0 0;
    background: #fff;
    width: 100%;
    height: auto;
    padding: 3% 4%;
    text-align: justify;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    /*box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.23);*/
}
.testimonialmb_slide h4 {
  color: #ffffff;
  font-size: 22px;
}
.hm_p{
	width:100%;
	font-size:18px;
	margin-bottom:5px;
}
.marleft4{ margin: 0 -4% 0 4%; }
.martop25{ margin-top: 25px; }
.martop50{ margin-top: 50px; }
.martop10{ margin-top: 10px; }
.martp5{ margin-top: 5px; }
.martop5{ margin-top: -5%; }
.inthenews {
    background-image: url(img/In-The-News.png);
}
.imageSide .emailtosign {
    height: 40px;
    padding: 20px 0 20px 30px;
    background-color: transparent;
    border: 1px solid #bc343a;
    margin: 4.9% 0 0 5%;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.imageSide .head-submit:hover { color: #fff; }
.imageSide .head-submit {
    height: 42px;
    padding: 10.5px 10px 31px 10px;
    border-radius: 20px;
    background-color: #bc343a;
    color: #fff;
    border: none;
    font-size: 15px;
    width: 120%;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	margin-top:14px;
}
.topbtnch{ margin:1px 0 0 -25px; }
.midbtnch{ margin:0px 0 0 -25px; }
.midbtnch1{ margin:2px 0 0 -25px; }
.sm-icon{ margin:1% 0 0 0; } 
.ftkoo{ margin:0 0 0 10px; }
.fixed-wa {
    position: fixed;
    /* right: 0; */
    bottom: 0;
    left: 93%;
    z-index: 1030;
    text-align: end;
}
.img-wa {
    height: 50px;
    width: 50px;
    /* max-width: 100%; */
    border-radius: 50%;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.whcolor{ background-color:#fff; }
.hm-gradient{margin:0% 20% 0 20%;/*margin:0% 0 0 2%*/}.darken-grey-text{color:#2e2e2e}.clienttrust .carousel-control-prev{left:0}.clienttrust .carousel-control-next{left:5%}.clienttrust .carousel-inner{position:relative;width:100%;margin:0 0%;/*width:70%;margin:0 25%;*/overflow:hidden;}.clienttrust .carousel-control-next-icon.visible{background-image:url('img/getterthan.png');width: 54%;height: 14%;margin: -7% 0 0 35%;}.clienttrust .carousel-control-prev-icon.visible{background-image:url('img/lessthan.png'); width: 37%; height: 14%; margin: -5% 0 0 -65%;}.clienttrust .carousel-control-next, .clienttrust.carousel-control-prev{position:absolute;top:0%;display:block;width:10%;opacity:1}.carousal_us{text-align:left;width:18%;font-size:22px;font-weight:500; margin:0;}.carousal_hr{background-color:#bc343a;height:4px;width:70%;margin:-3.5% 0 2% 25%}.xb-item .companyName{color:#bc343a;font-size:16px;text-align:left}.xb-item p{text-align:left}.xb-item .companyDesc{font-size:16px;height:170px;/*120px*/color:#000; width:98%;  padding: 0 12%; text-align: justify; }.xb-item .founder1{color:#000;font-size:20px!important;padding:0 0 0 0px;vertical-align:super; font-weight: 600;}.comp-info img{border-radius:50%}.founder-desc{margin:-3% 0 10px 0%;/*-5% 0 10px 11.5%*/ color:#000;}.start-head p{text-align:left;font-size:65px;line-height:73px;margin-bottom:30px;font-weight:500;padding:10% 0 8% .8%;color:#fff}.start-head2 p{text-align:left;font-size:50px;line-height:73px;margin-bottom:30px;font-weight:500;padding:25% 0 18% 8%;color:#fff}.freeFore{font-size:30px;color:#fff}.sliderbv .carousel-control-next, .sliderbv .carousel-control-prev{ align-items:normal !important; }
.middlebv{ border:2px solid #d3d3d3; border-bottom:none; margin:10.6% 0 0 0; border-top-left-radius:25px; border-top-right-radius:25px; background-color:#efefef; }
.prnext{ border:2px solid #d3d3d3; background-color: #efefef; height: 85px; margin: -3% 0 0 0; padding: 4% 0 0 0; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; }

.clienttrust .carousel-contr	ol-prev { left: -35px !important; }.clienttrust .carousel-control-next { left: 35px; }
.bvScroll.scrollbar::-webkit-scrollbar{background-color:#fff;width:16px}.bvScroll.scrollbar::-webkit-scrollbar-track{background-color:#fff}.bvScroll.scrollbar::-webkit-scrollbar-track:hover{background-color:#f4f4f4}.bvScroll.scrollbar::-webkit-scrollbar-thumb{background-color:#babac0;border-radius:16px;border:5px solid #fff}.bvScroll.scrollbar::-webkit-scrollbar-thumb:hover{background-color:#a0a0a5;border:4px solid #f4f4f4}.bvScroll.scrollbar::-webkit-scrollbar-button{display:none}
.clienttrust .carousel-control-prev, .clienttrust .carousel-control-next{ opacity:1 !important; }
.width15 { max-width: 14% !important; font-size:15px; }
.ab-icon {
	background-color: #f5f5f5;
    height: 175px;
    width: 150px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
	padding:35px 0 0 0;
}
.midsignup .desk-signup-form{ margin: 7% 30% 0px -20%; width: 95%; }
.midsignup .desk-sign-form{ margin: 7% 17% 0px 15%; width: 38%; }
.logo-footer .built {
    font-size: 18px;
    margin: 10% 0 10% 18%;
    text-align: left;
    font-weight: 500;
}
.logo-footer .ftLogo{ margin-left:-12px; }

.indistart { margin: 1% 0 0 18%; width: 55%; }
.tenthousand-img { margin: -2% -2% 0 0; float: right; }
.footer-list .normallink{ pointer-events:none; }
.resourcecol{ max-width: 20%; flex: 20%; margin: -1% 0 0 0; }
.companycol{ max-width: 20%; flex: 20%; margin: -1% 0 0 0; }
.featurecol{ max-width: 20%; flex: 20%; margin: -1% 0 0 5%; } 

.social-row { margin: 2% -2% 5% -2%; }
.col-md-3.connect {
    background-color: #2da5a6;
    padding: 4% 0% 0% 0%;
	max-width:25% !important;
}
.font600 {
    font-weight: 600;
}
.commonSign {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
}
.socialConnect {
    background-color: #f19a27;
    padding:3% 5% 2% 6%;
}
.socialConnect p {
    float: left;
    width: 16%;
}
.textsocial1 {
    margin: 10px 0 0 -3px;
}
.textsocial2 {
    margin: 11px 0 0 -6px;
}
.textsocial3 {
    margin: 12px 0 0 -8px;
}
.textsocial5 {
    margin: 10px 0 0 6%;
}
.textsocial {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.trending-video-1 {
    width: 300px;
    height: 435px;
}
.trend-12 {
    padding: 2.5% 8% 0 8%;
}
.trending-video-row {
    /*background-color: #fef4ea;*/
    height: 730px;
    margin-bottom: 15%;
    background-image: url(img/5-01.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.trending-video-1 .video-container {
    margin: 6% 0 0 0;
    background-color: #000;
    height: 345px;
    padding: 0px 0 0 0;
    border-radius: 20px;
}
.most-trend {
    margin-top: 0px !important;
}
.video-container {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 100px;
    text-align: center;
}
.trending-video-row .carousel-control-prev-icon, .trending-video-row .carousel-control-next-icon {
    margin: -55% 0 0 0;
}
.trendVideocell {
    width: 540px;
    height: 390px;
    /*object-fit: fill;*/
	object-fit: contain;
}

.trending-other-video {
    background-color: #fff;
    border: 12px solid #efefef;
    height: 330px;
    border-radius: 0px;
    margin: 0px 0 0 12%;
    width: 75%;
    padding: 2% 2%;
}
.videorw {
    padding: 0% 4%;
}
.trend-desc {
    padding: 30px 0 0 0;
    font-size: 13px;
    background-color: #000;
    /* color: #fff !important; */
    margin-top: -7px;
}
.otherVideo {
    object-fit: fill;
    /*border-bottom: 8px solid #00d724;
    border-top-right-radius: 10px;
	border-top-left-radius: 10px;*/
    width: 100%;
    height: 170px;
}
.trend-cat {
    font-size: 12px;
    width: 45%;
    text-align: center;
    font-weight: 600;
}
.health_color {
    color: #524fa8;
}
.video--views {
    color: #585858;
    font-weight: 600;
    font-size: 12px;
}
.video--likes {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 12px;
}
.icon-like {
    margin-bottom: 5px;
}
.trending-desc {
    padding: 0 0 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
}
.trending-video-row .carousel-item { display:none !important;
	position: relative;
    float: left;
    width: 100%;
    margin-left: 14%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
 }
 .trending-video-row .carousel-item.active, .trending-video-row .carousel-item-next, .trending-video-row .carousel-item-prev {
    display: block !important;
}
.trend-h2{ margin-bottom:3%; }
.kooMar{ margin:0 0 0 -1%; }
.lastimg{ margin-top:25%; }
.width100{ width:100%; }
.height280{ height:280px; }
.srl_y{ overflow-y:scroll; background-color:#efefef; }
/* ------testimonial  close-------*/
.topvideo {
    width: 450px;
    height: 350px;
    object-fit: cover;
    margin: 14% 0 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.signupbox{
	/*height:740px;*/
	height:506px;
	text-align:center;
	/*background-image: url('img/green_wave.png');*/
	background-image: url('img/signupbox.png');
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: contain;
	margin:0% 0 -1% 0;
	width:101.1%;
	padding:12.8% 0 !important;
}
.freeresources{
	/*height:740px;*/
	height:650px;
	text-align:center;
	/*background-image: url('img/green_wave.png');*/
	background-image: url('img/images-01-01.png');
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: contain !important;
	margin:0% 0 -1% 0;
	width:101.1%;
}
.imageSide .emailtosign2 {
    height: 40px;
    padding: 20px 0 20px 30px;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 4.9% 0 0 5%;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.imageSide .head-submit2 {
    height: 42px;
    padding: 10.5px 10px 31px 10px;
    border-radius: 20px;
    background-color: #4ba5a6;
    color: #fff;
    border: none;
    font-size: 15px;
    width: 120%;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 17px;
}
.colorWhite{ color:#fff; padding-left:15px; }
.mediaiconbar{
	/*height:740px;*/
	height:500px;
	text-align:center;
	/*background-image: url('img/green_wave.png');*/
	background-image: url('img/social_media.png');
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: contain !important;
	margin:0% 0 -1% 0;
	width:101.1%;
}
.say_innovators{
	/*height:740px;*/
	height:500px;
	text-align:center;
	/*background-image: url('img/green_wave.png');*/
	background-image: url('img/testmonial.png');
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: contain !important;
	margin:5% 0 -1% 0;
	width:101.1%;
}
#xbcarousel{ /*background-color: #efefef;*/ border-radius: 10px; padding: 0 0 3% 0; height:525px; }
.tosay{ color:#000; font-size:18px; font-weight: 600; }
.yco{ color:#ffa700; }
.inno_image{ height:100px; }
.half-circle img{ border:2px solid #ffa700; margin:-40% 0 0 10%; }
.sliderbv{ height:300px; margin:0 0 0 44%;}
.half-circle {
  width: 187px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 15.2%;
  transform: translateX(-50%);
  border-bottom: 2px solid #d3d3d3;
  border-left: 2px solid #d3d3d3;
  border-right: 2px solid #d3d3d3;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: #fff;
}
