	.select2-container {
	  width: 105% !important;
	  margin: 1px 0px 0px -10px;
	}
	
	#set-target .client .select2-container {
		width: 99% !important;
		margin: 21px 0px 0px 0px;
	}
	
	#set-target .select2-container--default .select2-search--dropdown .select2-search__field {
	   /* border: none;*/
		border: 1px solid #d0d0d0;
		padding: 0 0 0 5px !important;
		width: 151%;
		max-width: 200%;
		background: #fff;
		border-radius: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	
	.int_client_ul ul.dropdown-content.select-dropdown{
		width:178px !important;
	}
	
	.comm_graph ul.dropdown-content.select-dropdown{
		width:320px !important;
	}
	
	.last_client_ul ul.dropdown-content.select-dropdown{
		width:178px !important;
	}
	
	.com-pri ul.dropdown-content.select-dropdown{
		width:100px !important;
		height:150px !important;
	}
	
	.com-pri .dropdown-content {
		min-width:165px !important;
	}
	
	.comp1 .dropdown-content{
		min-width:200px;
		margin-left:-10px !important;
	}
	
	.dropdown-content{
		min-width:115px;
		margin-left:-10px !important;
	}
	
	.int_client_ul .dropdown-content{
		min-width:270px;
		margin-left:-10px !important;
		font-size:12px !important;
	}
	
	.last_client_ul .dropdown-content{
		min-width:252px;
		margin-left:-10px !important;
	} 
	
	.select2-container--default .select2-selection--single {
	  border:none;
	  background-color: transparent;
	}
	input[type="search"]:not(.browser-default) {
	  height: 30px;
	  font-size: 14px;
	  margin: 0;
	  border-radius: 5px;

	}
	
	.select2-container--default .select2-selection--single .select2-selection__rendered {
	  font-size: 13px;
	  line-height: 35px;
	  color: #666;
	  font-weight: 400;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
	  height: 32px;
	}
	.select2-search--dropdown {
	  padding: 0;
	}
	input[type="search"]:not(.browser-default):focus:not([readonly]) {
	  border-bottom: 1px solid #bbb;
	  box-shadow: none;
	}
	.select2-container--default .select2-selection--single:focus {
		outline: none;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background: #fffaef;
	  color: #666;
	}
	.select2-container--default .select2-results > .select2-results__options {
	  font-size: 14px;
	  border-radius: 5px;
	  box-shadow: 0px 2px 6px #B0B7CA;
	}
	.select2-dropdown {
	  border: none;
	  border-radius: 5px;
	}
	.select2-container .select2-selection--single {
	  height: 37px;
	}
	.select2-results__option[aria-selected] {
	  border-bottom: 1px solid #f2f7f9;
	  padding: 14px 16px;
	  border-top-left-radius: 0;
	}
	.select2-container--default .select2-search--dropdown .select2-search__field {
	   /* border: none;*/
		border: 1px solid #d0d0d0;
		padding: 0 0 0 5px !important;
		width: 101%;
		max-width: 101%;
		background: #fff;
		border-radius: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	
	.cust-client #int_tables_clients.select2-dropdown.select2-dropdown--below{
		width:268px !important;
	}
	
	.select2-container--open .select2-dropdown--below {
	  margin-top: 0px;
	  left:10px;
	  /*width:160.813px !important;
	  border-top: 1px solid #aaa;
	  border-radius: 5px !important;*/
	}
	
	ul#select2-currency-results {
	  width: 97%;
	}
	/*---Dropdown error message format---*/
	.select-wrapper + label.error{
	 margin: 18px 0 0 -10px;

	} 
	select.error + label.error:not(.active){

	 margin: -20px 0 0 -10px; 
	}
	select + label.error.active{
	  margin-left: -10px;
	}
	
	/*..........................................*/
	div .solid{
		border-top:1px solid #b3cccc;
		border-bottom:1px solid #b3cccc;
		margin-top:5px; 
		margin-bottom:5px; 
		height:50px; 
		padding-top:1px;
	}
	
	.vl.active{
		border-top:3px solid #4fe3c1;
		background-color:white;
	}
	
	.tablinks.active{
		border-top:3px solid #4fe3c1;
		background-color:white;
	}
	
	.vl {
		border-right: 1px solid #b3cccc;
		height: 50px;
	}
	
	.vl_1 {
		border-right: 1px solid #d4d8e4;
		height: 15px;
		margin-left:0px;
	}
	
	.vl_2 {
		border-right: 1px solid #d4d8e4;
		height: 40px;
			margin-left:0px;
	}
	
	.vl_3 {
		background-color:#fff;
		height: 515px;
		margin-left:0px;
		border-radius:5px;
	}
	
	.mnth_dt{
		top:260px;
		right:1103px;
	}
	
	.yr_dt{
		top:260px;
		right:519px;
	}
	
	.interval_dt {
		top: 220px;
		right: 1000px;
	}
	
	.item_wise{
		top:2%;
		right:51%;
	}

	.cust_wise{
		top:267px;
		right:1198px;
	}
	
	.target_actual{
		top:267px;
		right:1007px;
	}
	
	.first{
		border:1px solid #b3cccc;
		border-radius:5px;
		height:40px;
		width:120px !important;
	}
	
	#item_wise_table tr{
		background-color:white;
	}
	
	/*#item_wise_table td{
		width:67px;
	}*/
	
	#cust_rev_table tr{
		background-color:white;
	}
	
	#cust_rev_table td{
		width:67px;
	}
	
	#startMtd, #endMtd{
		height: 35px !important;
		width:80% !important;
	}
	
	#startYtd, #endYtd, #startYtd1, #endYtd1{
		height: 25px !important;
	}
	
	.head_label{
		color:#000000;
		font-size:13px !important;	
	}
	
	.first span.caret {
		margin: 15px 0px 0 0 !important;
	}
	
	#startYtd, #endYtd{
		color:#000000 !important;
		padding: 3px 30px 0 5px !important;
	}
	
	#startYtd1, #endYtd1{
		padding: 3px 30px 0 5px !important;
	}
	
	#startMtd, #endMtd{
		padding: 3px 25px 0 5px !important;
	}
	
	#start_itm_rev_contr, #end_itm_rev_contr, #start_cust_rev_contr, #end_cust_rev_contr, #start_last_target_actual{
		height:30px !important;
		max-width:90px !important;
	}
	
	#end_last_target_actual, #start_target, #end_target{
		height:30px !important;
		max-width:70px !important;
	}
	
	#breadcrumbs-wrapper .breadcrumbs li a {
		font-size:11px !important;
	}
	
	#breadcrumbs-wrapper .breadcrumbs .active {
		font-size:11px !important;
	}
	
	.bil-date{
		cursor:pointer;
	}
	
	/* Style the tab */
		.tab {
		  overflow: hidden;
		  border: 1px;
		  background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		.tab button {
		  background-color: inherit;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 124px;
		  transition: 0.3s;
		  font-size: 17px;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
		  background-color: #f1f1f1;
		}

		/* Create an active/current tablink class */
		.tab button.active {
		  background-color: #fff;
		  border-bottom: 3px solid #ff7c9a !important;
		}

		/* Style the tab content */
		.tabcontent {
		  display: none;
		  padding: 6px 12px;
		  border: 1px solid #ccc;
		  border-top: none;
		}
		
		/* Modal CSS */
		#start_target, #end_target{
			height:30px !important; 
			margin-top:-5px !important;
		}
		
		#client_target{
			padding:0px 148px 0px 100px !important; 
			border-radius:0px; 
			color:black; 
			box-shadow:none !important; 
			text-transform:none !important;
		}
		
		#item_target{
			padding:0px 160px 0px 100px !important; 
			border-radius:0px; 
			margin-left:-6px; 
			color:black; 
			box-shadow:none !important; 
			text-transform:none !important;
		}			
		
		#set-target input[type="text"]:not(.browser-default) {
			top:3px !important;
			margin-top:0px !important;
			padding:14px 0 0 14px;
		}
		
		#set-target .select-wrapper span.caret {
			margin-top:42px !important;
		}
		
		#set-target .dropdown-content.select-dropdown {
			overflow-y: scroll !important;
			height:130px !important;
			margin-left:3px !important;
		}
		
		/*datepicker css*/
		.btn-date-bill {
			background-position: calc(100% - 5px) center !important;
		}
		
		::placeholder{
			color:#000000 !important;			
			font-size:10.7px !important;
		}
		/*datepicker css close*/
		
		.datepicker table tr td span.active{
			background-color:#ff85a1 !important;
		}
		
		.datepicker table tr td span.active{
			background-image: none !important;
		}
		
		.head-tr{
			background-color:#ffffff !important;
		}

		#target {
			background:#503CB5;
			width:50% !important;
			height:57%;
			padding:11px;
			display: none;
			position: absolute;
			white-space: nowrap;
			opacity: 1;
			z-index:999;
		}

.comment-form-container {
	background: #F0F0F0;
	border: #e0dfdf 1px solid;
	padding: 20px;
	border-radius: 2px;
}

.input-row {
	margin-bottom: 20px;
}

.input-field {
	width: 100%;
	border-radius: 2px;
	padding: 10px;
	border: #e0dfdf 1px solid;
}

.btn-submit {
	padding: 10px 20px;
	background: #503CB5 !important;
	border:1px solid #503CB5 !important;
	color: #ffffff;
	font-size: 0.9em;
	width: 150px;
	height:35px !important;
	border-radius: 5px;
    cursor:pointer;
}

ul {
	list-style-type: none;
}

.comment-row {
	border-bottom: #e0dfdf 1px solid;
	margin-bottom: 15px;
	padding: 15px;
	text-align:left;

}

.outer-comment {
	background: #F0F0F0;
	padding: 0px;
	border: #dedddd 1px solid;
	height:100%;
}

span.commet-row-label {
	/*font-style: italic;*/
}

span.posted-by {
	color: #7864e9;
	text-transform:uppercase;	
}

.comment-info {
	font-size: 13px;
}
.comment-text {
    margin: 10px 0px;
	font-size:13px !important;
}
.btn-reply {
    font-size: 0.8em;
    text-decoration: underline;
    color: #888787;
    cursor:pointer;
}
#comment-message {
    margin-left: 20px;
    color: #189a18;
    display: none;
}
	#output{
		max-height:70% !important;
		background-color:#F0F0F0;
		overflow-y: scroll !important;
	}

	.rpl{
		margin-left:5% !important;
	}
	
	.addname{
		color:black;
	}
	
	#contentbox p{
		margin:0px;
		padding-left:5px !important;
	}
	
	#contentbox{
		background-color:white; 
		height:40px; 
		width:100%;
		border-radius:0 5px 5px 0; 
		text-align:left;
		border:1px solid #e0dfdf;
		padding-top:10px !important;
	}
	
	#display{
		background-color: #eef2fe !important;
		text-align: left;
		padding: 10px;
		position: unset;
		width: 96%;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
		display:none;
	}
	
	.grey{
		padding-left:5px !important;
		margin: -21px 0 0 20px !important;
		background-color: transparent !important;
	}
	
	#cke_contentbox .cke_inner{
		display:none !important;
	}
	
	#comment_ba{
		margin-top:5px !important;
		height:80px !important;
		border:1px solid #e0dfdf !important;
		background-color:#fff !important;
	}
	
	.select-graph .dropdown-content{
		min-width:270px !important;
	}
	
	.select-graph{
		height:45px !important;
		margin-top:2px !important;
		border-radius:5px;
	}
	
	.select-graph input[type="text"]{
		margin-top:-11px !important;
		width:100% !important;
		font-size:13px !important;
	}
	
	.monthly span.caret{
		display:none;
	}
	
	#head-graph td, th {
		border: 2px solid #fff;
	}
	
	.chart {
		max-height: calc(200px + 20px) !important;
		overflow:hidden;
	}
	
	#at{
		background-color:white; 
		height:45px; 
		border-radius:5px; 
		text-align:left;
		border:1px solid #e0dfdf;
		border-right:none !important;
		padding-top:10px !important;
		margin-right:-24px;
	}
	
	.first_row{
		padding-top:10px;
	}
	
	#container-comm{
		margin-left:-18px;
	}
	
	#mtd_select .select-wrapper .dropdown-content{
		font-size:11px !important;
	}
	
	#tp-item {
		height:100%;
		width:100%;
		min-height:150px;
	}
	.zc-ref {
		display: none;
	}
	
	#tp-item-license-text a span{
		display:none !important;
	}
	
	#tp-item-license-text a{
		display:none !important;
		position:unset !important;
	}
	
	#tp-client-license-text a{
		display:none !important;
		position:unset !important;
	}
	
	#comment_ba::placeholder{
		font-size:13px !important;
	}
	
	/* Comment Section By WC366 */
	
	.smart_comment{
		background-color:#fff !important;
		height:100px;
		border-radius:5px !important;
		margin:3% 0 0 0;
	}
	
	.ba_comment_details{
		background-color:#fff !important;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	
	.ba_comment_header{
		padding:20px 15px 20px 15px;
	}
	
	.ba_comment_header h6{
		font-size:1.4rem;
	}
	
	.cke_chrome {
		width:80% !important;
		margin:0 9% 0 9% !important;
		padding:0 0 0 0 !important;
	}
	
	.ba_cancel{
		color: #000 !important;
	}
	
	.can{
		margin:19px -40px 0 0px;
		padding:0 0 0 0;
	}
	
	.bg-light{
		background-color:#eef2fe !important;
	}
	
	.first_letter{
		background-color: #50f0AE ;
		color: #fff;
		font-size: 30px !important;
		border-radius: 75%;
		height: 45px;
		width: 45px;
		text-align: center; !important;
	}
	
	.comm_date, .comm_time{
		font-size:12px
	}
	
	.asign_user{
		background-color: #FA7C9B;
		color:#fff;
		padding: 2px 5px;
		border-radius: 5px;
	}
	
	#chart_div svg{
		border-radius:8px !important;
		/*box-shadow: 2px 2px #f5f5f0;*/
		box-shadow: 0px 0px 4px 0px #b0b2ca !important;
	}
	
	.monthly .select2-container--default .select2-selection--single .select2-selection__arrow{
		display:none !important;
	}
	
	.monthly .select2-container--default.select2-container--disabled .select2-selection--single{
		background-color:transparent !important;
	}
	
	.ui-datepicker-calendar {
		display: none;
    }
	
	.hidden {
		/*display: none;*/
		visibility: hidden;
	}
	
	.pro_button{
		margin-top:-3px !important; 
		border-radius:5px; 
		border:1px solid #503CB5 !important; 
		color:#fff !important; 
		background-color:#503CB5 !important;
		width:28% !important;
	}
	#cust_name{
		width: 32% !important;
		margin: 11px 0 15px 20px;
		border: 1px solid #eef2fe !important;
		border-radius: 5px;
		padding: 10px 19px 8px 19px !important;
		height: 1.2rem !important;
	}
	
	#item_name{
		width: 32% !important;
		margin: 11px 0 15px 20px;
		border: 1px solid #eef2fe !important;
		border-radius: 5px;
		padding: 10px 19px 8px 19px !important;
		height: 1.2rem !important;
	}
	
	#supplier_name{
		width: 32% !important;
		margin: 11px 0 15px 20px;
		border: 1px solid #eef2fe !important;
		border-radius: 5px;
		padding: 10px 19px 8px 19px !important;
		height: 1.2rem !important;
	}
	
	#last_yr{
		width: 37% !important;
		margin-top: 10px;
		border: 1px solid #50E2C2 !important;
		border-radius: 5px;
		padding: 10px 19px 8px 19px !important;
		height: 1.2rem !important;
	}
	#tar_rev{
		width: 37% !important;
		margin-top: 10px;
		border: 1px solid #ff85a1 !important;
		border-radius: 5px;
		padding: 10px 19px 8px 19px !important;
		height: 1.2rem !important;
	}
	.rev_result{
		box-shadow: 0px 0px 4px 0px #b0b2ca !important;
		border:1px solid #f2f2f2 !important;
		background-color: #fff !important;
		padding: 8px 0 8px 0 !important;
		width: 94.3% !important;
		height:60px !important;
		margin-left: 10px !important;
	}
	