.contactFrom .contact-header {
  text-align: center;
  font-family: Arial;
  font-size: 17px;
  padding:40px 0;
  color: grey;
  margin-top: -5px;
  margin-bottom: -35px;
}

.contactFrom .mobile-view .contact-header {
  text-align: center;
  font-family: Arial;
  font-size: 17px;
  padding:40px 0;
  color: grey;
  margin-top: -25px;
  margin-bottom: -35px;
}

.contactFrom .input-container {
  display: -ms-flexbox;
  display: flex;
  width: 150%;
  margin-bottom: 27px;
  font-family: Arial;
}

.contactFrom .icon {
  padding: 15px;
  background: white;
  color: #ccc;
  min-width: 20px;
  text-align: center;
  border: 1.5px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contactFrom .input-field {
  width: 60%;
  padding: 10px;
  outline: none;
  border: 1.5px solid #ccc;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contactFrom .mobile-view .input-field {
  width: 82%;
  padding: 10px;
  outline: none;
  border: 1.5px solid #ccc;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contactFrom .input-field:focus {
  border-color: #bf4b3d;
  box-shadow: 0 0 10px 0 #bf4b3d;
}

.contactFrom .btn {
  background-color: #bf4b3d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  margin-top: 16px; 
  font-family: Arial;
}

.contactFrom .btn:hover {
  opacity: 1;
}

.contactFrom .col-75 {
  float: left;
  width: 100%;
  margin-top: 1px;
  margin-left: -5px;
}

.contactFrom textarea {
  width: 103%;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  font-family: Arial;
}

.contactFrom .mobile-view textarea {
  width: 97%;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  font-family: Arial;
}

.contactFrom textarea:focus {
  border-color: #bf4b3d;
  box-shadow: 0 0 10px 0 #bf4b3d;
}

.contactFrom .fa-user{
font-size: 20px;
}

.contactFrom #contact-btn{
border:1px solid #bf4b3d !important;
background-color: #bf4b3d;
color:#fff;
}

.contactFrom .sub-btn{
text-align: right;
margin-right: -2%;
}