	.bglight{
		background-color:#eef2fe !important;
		border-radius:5px; 
	}
	.crno{
		background-color:#fff;
		margin: 10px 0 0 -7px !important;
		padding: 0px 0 8px 13px !important;
		border-radius:5px;
		width:206px !important;
		height:31px !important;
	}
	.plain-page-header {
		padding: 30px 0 15px 0 !important;
	}
	.cre-cfredit{
		padding: 3px 18px !important;
	}
	.cre-cfredit span.caret{
		color: #7864e9!important;
	}
	input#cd_note_no {
		color: #000;
		padding: 3px 0px 0 20px;
		width: 91%;
		border-radius: 4px;
		font-size: 14px !important;
	}
	.modal input.select-dropdown{
		padding: 0 10px !important;
	}
	a.view_invoice{
		float: right !important;
		display: inline-flex;
		margin: -10px 0px 0 0 !important;
	}
	.ad-pay-foote {
		width: 275px!important;
	}
	.grandt-total {
		border: none;
	}
	.nature_iv {
		padding: 6px 18px 0 0;  
		height: 37px !important;
		background-color: #fff;
		border-radius:5px !important;
	}
	.row.billing-add {
		padding: 5px 0 0 0 !important;
	}
	.select-wrapper.tabl-select{
		margin: -6px -6px -6px -6px;
	}
	.service_drp .select-wrapper {
		padding: 8px 0 !important;
	}
	span.hoveraction {
		top: -5px !important;
	}
	.info-tooltipped{
		right: auto;
		top: unset;
		margin-top:-10px !important;
	}
	/*----------START SEARCH DROPDOWN CSS--------*/
	.select2-container--default .select2-selection--single {
		border:none;
	}
	input[type="search"]:not(.browser-default) {
		height: 30px;
		font-size: 14px;
		margin: 0;
		border-radius: 5px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 13px;
		line-height: 26px;
		color: #000;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 36px;
	}
	.select2-search--dropdown {
		padding: 0;
	}
	input[type="search"]:not(.browser-default):focus:not([readonly]) {
		border-bottom: 1px solid #bbb;
		box-shadow: none;
	}
	.select2-container--default .select2-selection--single:focus {
		outline: none;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background: #fffaef;
		color: #666;
	}
	.select2-container--default .select2-results > .select2-results__options {
		font-size: 14px;
		border-radius: 5px;
		box-shadow: 0px 2px 6px #B0B7CA;
	}
	.select2-dropdown {
		border: none;
		border-radius: 5px;
	}
	.select2-container .select2-selection--single {
		height: 37px;
		padding: 6px;
		border: 1px solid #d4d8e4;
		background: #fff;
		border-radius: 5px;
	}
	.diff .select2-container .select2-selection--single {
		height: 41px;
		padding: 6px;
		border: none;
		border-bottom: 1px solid #fff;
		background: transparent !important;
		border-radius: 0px;
	}
	
	.diff .select2-container--default .select2-selection--single .select2-selection__rendered {
		color: #fff !important;
	}
	
	.diff .select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: #fff transparent transparent transparent !important;
	}
	
	.select2-results__option[aria-selected] {
		border-bottom: 1px solid #f2f7f9;
		padding: 14px 16px;
	}
	.select2-container--default .select2-search--dropdown .select2-search__field {
		border: 1px solid #d0d0d0;
		padding: 0 0 0 15px !important;
		width: 96%;
		max-width: 100%;
	}
	.select2-search__field::placeholder {
		content: "Search Here";
	}
	.select2-container--open .select2-dropdown--below {
		margin-top: 0;
	}
	.select2-container {
		width: 100% !important;
	}
	input.select2-search__field {
		text-transform:uppercase;
	}
	ul#select2-currency-results {
		width: 97%;
	}
	/*----------END SEARCH DROPDOWN CSS--------*/
	table.scrol {
		width: calc(100% + 300px);
	}
	table.tabs-class td, th {
		padding: 5px !important;
	}
	.invoi-drop.btn-dropdown-select > input.select-dropdown {
		height: 42px !important;
		margin: 0 !important;
	}
	.row.billing-add {
		padding: 0;
	}
	.textbox-tabl {
		margin: 0 !important;
	}
	table.scrol-id input.select-dropdown {
		padding: 0 10px !important;
	}
	.advance-pay {
		width: calc(100% - 76px) !important;
	}
	.enter {
		margin-top: 36px !important;
	}
	.inner{
		padding: 0;
		margin: 0;
	}
	span.hoveraction {
		left: 0;
		box-shadow: none;
	}
	.scroll-hover-cover {
		float: right;
	}
	@media only screen and (max-width: 1300px){
		.fix {
			width: 98px !important;
		}
	}
	.btn-dropdown-select > input.select-dropdown {
		height: 39px !important;
	}
	.btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	#add .co_hsn{
		width:90px;
	}
	#add .co_rate{
		width:108px !important;
	}
	#add th.four-th p {
		margin: 0 0 0 6px !important;
	}
	#add .co_qty {
		width: 44px;
	}
	#add .co_rate, .co_dis, .co_taxamt{
		text-align:center;
	}
	#add th.sec-th p {
		text-align:center;
	}
	#add th.five-th p {
		text-align:center;
	}
	#add th.cgsts h6{
		text-align:center !important;
		margin: -1px 0 -17px 27px;
	}
	#add th.cgsts span {
		margin: 21px 0 -30px 9px;
	}
	#add th.cgsts p{
		margin: 21px 0 0 46px;
	}
	#add .select-wrapper input.select-dropdown {
		display:none;
	}
	#add .btn-dropdown-select span.caret {
		display:none;
	}
	#add .btn-dropdown-select {
		font-size:13px;
		font-style:normal;
	}
	#add .sales-in-drop {
		height: 43px !important;
		width: auto !important;
		top: -6px;
		left: 0px;
		opacity: 1;
	}
	#equi_save{
		background-color:#7864e9 !important;
	}
	#equiModal h4 {
		width: 89%;
		font-size: 20px;
		font-weight: 500;
		float: left;
		color: #352d5e;
		margin: -1.86rem 0px 0.912rem 22px !important;
	}
	#equiModal{
		overflow:hidden;
	}
	#equiModal input:focus{
		border-left:3px solid #ff7d9a !important;
	}
	.footer_btn{
		height:38px !important; line-height: 38px;
	}
	#add .select-wrapper input.select-dropdown {
		display:none;
	}
	#add .btn-dropdown-select span.caret {
		display:none;
	}
	#add .btn-dropdown-select {
		font-size:13px;
		font-style:normal;
		background-color: white!important;
	}
	#add .sales-in-drop{
		color:black !important;
		height: 38px !important;
		width: 190px !important;
		top: -7px;
		left: -10px;
		opacity: 1;
	}
	#add .sales-in-drop .dropdown-content{
		display:none !important;
	}
	.last-sec{
		margin: -54px 0 0 0 !important;
	}
	.refrance p {
		font-size: 11px !important;
	}
	.cus-name p {
		font-size: 11px;
	}
	p{
		font-size:11px !important;
	}
	th.Amountth span {
		font-weight: 600 !important;
	}
	.billing-add{
		margin:0px 0 0 -8px !important;
		width:106% !important;
	}
	.left-label{
		margin-left:5px !important;
	}
	span.check-boxs {
		font-size: 12px !important;
		font-style: normal !important;
		margin: -2px 0 0 -3px !important;
	}
	#add th.cgsts .per{
		color:#000000;
		max-width:50px !important; 
		float:right !important; 
		text-align:right !important; 
		padding-left:63px !important; 
		margin-top:-15px !important;	
	}
	label{
		color:#000000 !important;
	}
	th.cgsts {
		padding: 0 35px 0 11px !important;
	}
	.high {
		border: 1px solid red !important;
	}
	.meal.over.high {
		border: 1px solid red !important;
	}
	table.inter {
		width: calc(76% + 300px) !important;
	}
	#add .bond{
		left:-19px !important;
	}
	table.addCSS.ps-container.ps-active-x > .ps-scrollbar-x-rail{
		display:none !important;
	}
	table.addCSS{
		width: calc(78% + 248px) !important;
	}
	.billing-add span{
		font-size:13px !important;
	}
	table.inter {
		width: calc(76% + 322px) !important;
	}
	.ps-container > .ps-scrollbar-x-rail > .shide{
		display:none !important;
	}
	.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x{
		display:absolute !important;
	}
	#cdn_dollar_number{
		width:25px !important;
	}
	#cdn_inr_value{
		width:48px !important;
	}
	.cdn_cust > input.select-dropdown {
		width:200px !important;
	}
	
	.crdate {
		letter-spacing: 0.5px;
		border: 1px solid #d4d8e4 !important;
		border-radius: 6px !important;
		height:32px !important;
		line-height: 45px;
		padding: 3px 0px 0 6px !important;
		margin: 0 0 0 0 !important;
		background-color:#fff !important;
	}
	
	.invclient{
		margin-left:-5px !important; 
		width:73% !important;
	}
	
	.top-row-1{
		width:41.2% !important; 
		height:300px !important; 
		margin:0 10px 0 5px;
	}
	
	.curr-ex{
		width: 30.5% !important;
		margin-left: -12px !important;
	}
	
	.add-info{
		background-color:#fff !important;
		height: auto !important;
		border-radius:5px !important;
		width:100% !important;	
		padding: 5px 0 0 10px;
		height:74px !important;
	}
	
	.bcolor{
		background-color:#7864e9 !important;
		border-radius:5px; 
		width:30% !important; 
		height:300px !important; 
		margin:0 10px 0 5px;
	}
	
	.nature_ivd {
		padding: 8px 18px 0 0;
		border: none;
		border-bottom: 1px solid #a6a6a6 !important;
		margin: 2px 0 0 -12px;
		border-radius: 0px !important;
	}
	
	.nature_ivd span.caret {
		color: #fff;
	}
	
	.nature_ivd > input.select-dropdown {
		color: #fff !important;
	}
	
	.last-label p{
		color:#7864e9 !important;
		font-size:13px !important;
		font-weight: 500;
	}
	.addplusicon i {
		color: #ff7d9a !important;
	}
	.pnk{
		color:#ff7d9a !important;
	}
	.outer {
		padding-bottom: 15px !important;
		width: 96.5% !important;
		margin-left: 22px !important;
	}
	textarea.materialize-textarea {
		background-color:#fff !important;
	}
	.ex-tabl.pur-tbl{
		margin:20px 0 20px 2% !important
	}
	#cd_invoice_date:focus{
		background-color:transparent !important;
	}
	#cd_note_ref_no:focus{
		background-color:transparent !important;
	}
	#cd_note_ref_date:focus{
		background-color:transparent !important;
	}
	#cd_po_no:focus{
		background-color:transparent !important;
	}
	#cd_po_date:focus{
		background-color:transparent !important;
	}
	input.full-bg {
		padding: 20px 38px 0px 4px !important;
	}
	.fix.over.meal{
		height:57px !important;
	}
	.yello-clr.fix{
		height:57px !important;
	}
	
	.select-dropdown{
		margin-top:35px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		width:92% !important;
	}