  /*---------CHECKBOX ------ */
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 14px !important;
  width: 13px !important;
  border: 2px solid #B0B7CA;
 } 
[type="checkbox"].filled-in:checked + label:before {
    width: 3px !important;
    height: 11px !important;
    left: 0;
    border-width: 2px !important;
    margin: 0 !important;
} 
[type="checkbox"].filled-in:checked + label:after {
    width: 13px;
    height: 14px;
    border: 2px solid #5b47c3;
    background-color: #5b47c3;
}
.pink-border{
     border-left: 4px solid #ff7c9b;
}
   /*---------CHECKBOX ------ */
}

.modal input.select-dropdown{
	padding:0px;
}
input.select-dropdown.valid.active{
	padding:0px;
}
.alertmore {
    display: none;
}
.bankmore.active {
    display: block;
}
.bankmore,.branchmore {
    display: none;
}
.cardmore.active {
    display: block;
}
.cardmore {
    display: none;
}
.alertmore.active,.branchmore.active {
    display: block;
}
a.btn.btn-theme.btn-large.right.add-new-profile-btn.service {
    margin: 0px 0 0px 10px;
}
.dataTables_filter, .dataTables_info { display: none; }
.col.s12.m5.l6.notify {
    padding: 0px;
}
.stock-data{
	border-right: 1px solid #cccccc73;
    min-height: 45px !important;
}
.modal-display {
    overflow: hidden;
}
.pull-right{
	text-align: right;
	padding: 3px 8px 0 20px !important;
	
}
.modal-set{
        /* top: 32% !important; */
    overflow-y: unset !important;
    min-height: 219px;
    width: 505px;
    min-height: 212px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px #fff;
    text-align: center
}
div.modal-set h4{
        margin: 0 0 0 91px;
}
a.cur{
    cursor: pointer;
}
.cursor{
cursor: pointer;
}
.teste{
    border: 1px solid #d8deee;
    background: #fff;
        padding-bottom: 10px !important;
}
.teste p {
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin: 15px 0 3px 0;

}
.pl-20{
        padding-left: 20% !important;
}
a.addmorelink {
    color: #50E3C2;
    font-size: 11px;
    text-decoration: underline;
    float: left;
    font-size: 12px;
    padding-top: 15px;
}
a.addplusicon {
    color: #50E3C2;
       font-size: 20px;
    padding-top: 11px;
}
.addplusicon i {
    color: #50E3C2;
}
.border-split-form .select-wrapper{
    padding: 0px !important;
	top:0;
}
.service_drp .select-wrapper{
    padding: 7px 0 2px 0 !important;
}
img.edit-note {
    margin: 7px 0 0 0;
}
img.del-note{
margin: 0px 0 0 0;
}
.bill1 {
    color: #000 !important;
    padding: 3px 0px 0 7px !important;
    width: 91% !important;
    border-radius: 4px !important;
    font-size: 12px !important;
}
.btn-date-bill {
    font-size: 12px !important;
}
.custom_bill {
    color: #000 !important;
    width: 91% !important;
    border-radius: 4px !important;
    font-size: 11px !important;
}

.input-field label.full-bg-label:not(.label-icon).active {
  
  margin: 14px 0 !important;
  
}
.dropdown-class {
    padding: 5px 10px !important;
}

@media only screen and (min-width: 993px){
.container.custom {
    width: 97% !important;
}
}
.gtbls {
    margin: 0 10px 0 0 !important;
}
.advpay {
    width: calc(100% - -75px) !important;
}
.center_cls{
    text-align: center !important;
}
 .statement{
    font-size: 17px;
    color: #514873;
    font-weight: 600;
    text-align: center;
  }
  

.disable_cls{
    filter: opacity(40%);
}
.select-dropdown{
 margin-top: 40px !important;
}

ul#profile-dropdown .user-profile-fix {
    max-height: 100%;
}

ul#setting-dropdown .user-profile-fix {
    max-height: 100%;
}

.modal-width{
        width: 505px;
}
.text-right{
    text-align: right !important;
}
.modal-body.deactive-acc {
    margin: 5px 0 0 0;
}
 .sent-otp.filled-in:not(:checked) + label:after {
    height: 19px !important;
    width: 18px !important;
  }
 .sent-otp.filled-in:checked + label:after {
    width: 18px;
    height: 19px;
    border: 2px solid #50e3c2;
    background-color: #50e3c2;
  }
  .sent-otp.filled-in:checked + label:before {
    width: 7px !important;
    height: 16px !important;
  }
  .account-checkbox{
    border-right: 1px solid #EEF2FE !important;
   padding: 5px 0 15px 5px !important;
}
 .account-checkbox-right{
    padding: 5px 0 15px 15px !important;
}
.account-row{
   
    margin-bottom: unset !important;
}
label.account-lable {
    color: #b0b6cc;
}
.mb-20{
    margin-bottom: 20px !important;
}
.ml-20{
    margin-left: 20px !important
}
.ml-23{
    margin-left: 23px !important;
}
.par-otp{
    font-style: italic;
    font-size: 11px !important;
}
.centertext{
        text-align: center;
}
.border-bottom{
        border-bottom: 1px solid #e8ebf4;
}
.pays {
    padding: 0px 22px !important;
}
img.tick-format,img.po-tick-format {
    float: right !important;
    width: unset !important;
	margin:1px 7px 0 0;
}
.required_field{
    color: red;
	margin-top:-3px;
	margin-left: 1px;
}
p.gstin-bold {
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #000;
    font-weight: 600;
}
.modal-feedback{
    width: 55%;
    box-shadow: 1px 1px 1px 1px #fff;
}
input[type="radio"]:not(:checked)+span, input[type="radio"]:checked+span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"]:checked+span:before {
    border: 2px solid transparent;
}
input[type="radio"]:not(:checked)+span:before, input[type="radio"]:not(:checked)+span:after, input[type="radio"]:checked+span:before, [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}
input[type="radio"]:checked+span:after,input[type="radio"].with-gap:checked+span:after {
    background-color: #bc343a;
}
input[type="radio"]:checked+span:after, input[type="radio"].with-gap:checked+span:before, input[type="radio"].with-gap:checked+span:after {
    border: 2px solid #bc343a;
}
input[type="radio"]+span:before, input[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 22px;
    margin: 0px 0px 0px 31px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
input[type="radio"]:not(:checked)+span:before, input[type="radio"]:not(:checked)+span:after {
       border: 2px solid #fff;
    background-color: #fff;
}
.rating-feedback{
    background-color: #E9E9E9;
    border-radius: 5px;
    padding: 17px;
}
.radio-lable{
  padding: 5%;
  color: #000;
}

form.addgstin .info-tooltipped {
     display: inline-block; 
}

.capitalise
{
    text-transform:capitalize;
}
.state-sugestion{
    color: red;
    font-size: 12px;
}

/* .inner {
	margin-left: 0;
	padding: 0;
} */
.btn-dropdown-select > input.select-dropdown {
	color: #000 !important;
	max-width:100%;
}

.float-right{
    float: right !important;
}
.icon-img{
    width: 20px;
    margin: 0 24px 0 2px;
}
.years-drop {
	margin-top: 26px;
}
input[type=text].valid:not(.browser-default) {
	box-shadow: 0 1px 0 0 transparent;
}
.finance_year.btn-dropdown-select > input.select-dropdown {
    width: 55% !important;
	padding: 0 8px 0 16px !important;
}
input.serial_no {
	width: 50px !important;
    margin: 0px !important;
    padding-left: 8px !important;
}

.border-right{
border-right: 1px solid #EEF2FE !important;
}
input[type=text]:not(.browser-default) {
	font-size: 13px !important;
	color: #000 !important;
}
body.layout-semi-dark #main .side-nav li > a > i:hover {
    color: #fff;
}
/* For Disabled Li 
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color:rgb(176,183,202)!important;
}*/
@media only screen and (max-width:1300px){
	.company_dropdown {
		width: 250px;
	}
	.pays{
		margin: 0 5px 0 0;
		padding: 0px 1rem;
		text-align: center;
	}
	p.cus-green {
		margin: 15px 90px 0 0 !important;
	}	
	.searchbtn {
		margin-left: 10px !important;
	}
	.fix{
		width: 92px !important;
	}
	.proformainvdate {
		margin-left:10px !important;
	}
	.mylogo-tab span {
		font-size:11px; 
	}
	.modal-feedback {
		max-height: 65% !important;	
	}

}
.dropdown-menu {
    min-width: 170px !important;
}
.dropdown-menu td.day {
    height: 30px !important;
}
.last-sec {
	position: sticky;
    bottom: 0;
}
.pay{
	margin:0 !important;
}
.gst_dropdown .select-wrapper input.select-dropdown {
	font-size: 14px !important;
    color: #000 !important;
	letter-spacing: normal;
	font-weight:500;
}
div#contactmodal {
	overflow:hidden !important;
}
.select-wrapper.valid > input.select-dropdown {
	border-bottom: none;
	box-shadow: none !important;
}
input[type=text].valid:not(.browser-default):focus {
	border-bottom: 1px solid transparent; 
}
.companyname span {
	color: #666 !important;
    opacity: 1 !important;
} 	


#scrollbar-restable .ps-scrollbar-x-rail {
	height:10px;
	top:0;
	border-bottom : none;
}
.toast{
	text-align:center;
}  
.toast-container {
	text-align:center;	
}
.mytxtbox1{
	margin: 0 !important;
    padding: 0 10px !important;
    width: 90% !important;
    max-width: 100% !important;
	height: 47px !important;
}
.create-spy {
	min-width: 232px;
	/* padding: 4px !important;
	height: 47px !important; */
}
.create-spy span{
	
}
span.hoveraction {
top: -5px !important;
}
input[type=number].valid:not(.browser-default) {
	box-shadow: 0 1px 0 0 transparent !important;
}
input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus {
	box-shadow: 0 1px 0 0 transparent !important; 
}

.btn-dropdown-select ul.dropdown-content{
	width: 100% !important;
    max-width: 100% !important;
}

li.tree a {
   opacity: 1 !important;
}
.tree i.menu-round-icon {
   background-image: url(img/icons/menu-sub-active.png) !important;
}

.notess textarea#bill1 {
	font-size:12px !important;
	margin-bottom:0;
	
}
.feedbacktextbox  {
	box-shadow: 0px 0px 4px 0px #b0b2ca !important;
}
.statecode_gst {
	text-transform:uppercase;
}

.theme-btn:hover {	
	box-shadow: 3px 3px 3px #b0b7ca !important;
}
.error {
	font-size:11px !important;
	left : 3px !important;
	font-weight:400;
}

.page-content {
  
  word-spacing: 2px;
}
input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus {
 word-spacing: 2px;
}
input[type=text]:not(.browser-default) {
 word-spacing: 2px;
}
#slide-out > li > ul.collapsible > li > a {
		font-size:12px;
}


.note {
margin:0;
}
/* .select2-results__options li:first-child {
    display: none;
} */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
border-color: #666 transparent transparent transparent !important;
border-width: 7px 3px 0 3px !important;  
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left:15px !important;
}
::placeholder {
	font-size:12px;
}
th.sorting_disabled {
outline: none;
}
.sort p{
	margin-right:5px;
}
body{
	word-spacing:2px;
}
@media (min-width:1500px){
	.modal-feedback {
		height: 65% !important;	
	}
	.radio-lable {
		padding: 6%;
	}
}
table#my-customers thead .sorting_asc, table#my-customers thead .sorting_desc {
	    background-position: 110px 19px !important;
}
.bodrpinkright {
      border-left: 3px solid #ff7c9b !important;
}
#notification_error {
	position: absolute;
    margin-top: -5px;
    margin-left: -17px;
}
table.dataTable.display.table-type1 tbody tr {
	box-shadow: inset 0px -2px 1px #f8f9fd;
}
table.dataTable.display.table-type1 tbody tr:hover {
	box-shadow: inset 0 -2px 4px #b0b7ca !important;
}
.pl-7px {
	padding-left:7px !important;
}
li.notree a {
   opacity: 0.6 !important;
}
.notree i.menu-round-icon {
   background-image: url(img/icons/menu-sub.png) !important;
}
.readonly-bg-grey {
	background-color: #f0f0f0 !important;
}
.select2-selection__rendered {
	display:flex !important;
}
.select2-selection__rendered span {
	margin-top:-3px;
	margin-left: 1px;
}
