	/*----------START SEARCH DROPDOWN CSS--------*/
	.select2-container--default .select2-selection--single {
		border:none;
	}
	input[type="search"]:not(.browser-default) {
		height: 30px;
		font-size: 14px;
		margin: 0;
		border-radius: 5px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 13px;
		line-height: 26px;
		color: #000;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 36px;
	}
	.select2-search--dropdown {
		padding: 0;
	}
	input[type="search"]:not(.browser-default):focus:not([readonly]) {
		border-bottom: 1px solid #bbb;
		box-shadow: none;
	}
	.select2-container--default .select2-selection--single:focus {
		outline: none;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background: #fffaef;
		color: #666;
	}
	.select2-container--default .select2-results > .select2-results__options {
		font-size: 14px;
		border-radius: 5px;
		box-shadow: 0px 2px 6px #B0B7CA;
	}
	.select2-dropdown {
		border: none;
		border-radius: 5px;
	}
	.select2-container .select2-selection--single {
		height: 37px;
		padding: 6px;
		border: 1px solid #d4d8e4;
		background: #fff;
		border-radius: 5px;
	}
	.select2-results__option[aria-selected] {
		border-bottom: 1px solid #f2f7f9;
		padding: 14px 16px;
	}
	.select2-container--default .select2-search--dropdown .select2-search__field {
		border: 1px solid #d0d0d0;
		padding: 0 0 0 15px !important;
		width: 95.5%;
		max-width: 100%;
	}
	.select2-search__field::placeholder {
		content: "Search Here";
	}
	.select2-container--open .select2-dropdown--below {
		margin-top: 0;
	}
	.select2-container {
		width: 100% !important;
	}
	input.select2-search__field {
		text-transform:uppercase;
	}
	ul#select2-currency-results {
		width: 97%;
	}
	/*----------END SEARCH DROPDOWN CSS--------*/
	
	#add_expense_voucher .container {
		width: 96% !important;
	}
	input[type=text]:not(.browser-default) {
		font-size: 13px !important;
		color: #B0B7CA !important;
		padding-left:5px !important;
		border-radius:4px !important;
	}		
	.cust_name{
		width:380px !important;
		height:46px !important;
		border-radius:4px !important;
	}	
	.app_name{
		width:185px !important;
		height:37px !important;
		border-radius:0px !important;
		border:none;
		border-bottom:1px solid #000;
	}	
	.whom_name{
		width:240px !important;
		height:46px !important;
		border-radius:4px !important;
	}	
		.emp_codename{
			width:240px !important;
			height:46px !important;
			border-radius:4px !important;
		}
		
		.appr_name{
			width:200px !important;
			height:46px !important;
			border-radius:4px !important;
		}
		
		.cust_name > input.select-dropdown {
			margin-top:3px !important;
			max-width: 169px !important;
			font-size: 13px !important;
		}
		
		.cust_name span.caret {
			margin-top:17px !important;
			margin-right: 18px;
			color: #B0B7CA !important;
		}
		
		.footer_btn{
			height:38px !important; line-height: 38px;
		}

		.ad-pay-footess{
			margin: -38px 0 0 0 !important;
		}
		
		.pt-2 {
			padding-top: 48px !important;
			margin-bottom: 5px !important;
			margin-left:32.4% !important;
		}
		
		.plain-page-header {
			padding: 30px 0 15px 0 !important;
		}
		
		#appr_name{
			width:297px;
		}
		
		#ev_note.materialize-textarea {
			padding: 16px 22px 7px 22px;
		}
		
		#exp_voi_date{
			border: 1px solid #d4d8e4 !important;
		}
		
		.voucher-date{
			border:none !important;
			padding-left: 2px !important;
		}
		
		.ex_date_td{
			width:100px !important; 
			margin:0px !important;
		}
		
		.ex_parti_td{
			width:260px !important;
		}
		
		.ex_parti_td input[type=text]{
			margin-bottom:0px !important;
			color:black !important;
			font-size:15px !important;
		}
		
		.ex_amt_td input[type=text]{
			margin-bottom:0px !important;
			color:black !important;
			font-size:15px !important;
		}
		
		.mrk_amt_td input[type=text]{
			margin-bottom:0px !important;
			color:black !important;
			font-size:15px !important;
		}
		
		.tot_amt_td input[type=text]{
			margin-bottom:0px !important;
			color:black !important;
			font-size:15px !important;
		}
		
		.tot_ex input[type=text]{
			margin-bottom:0px !important;
			border-bottom:none !important;
			color:black !important;
			font-size:15px !important;
		}
		
		.tot_mrk input[type=text]{
			margin-bottom:0px !important;
			border-bottom:none !important;
			color:black !important;
			font-size:15px !important;
		}
		
		.tot_amt input[type=text]{
			margin-bottom:0px !important;
			border-bottom:none !important;
			color:black !important;
			font-size:15px !important;
		}
		
		a.addplusicon {
			padding-top:4px !important;
		}
		
		a.addmorelink {
			padding-top:9px !important;
		}
		
		#tot_span{
			font-size:10px !important;
			color:#B0B7CA !important;
			padding-right:5px !important;
		}
		
		#add-voucher .clold {
			    margin: 4px 0 0 34px !important;
		}
		
		input[type=text]:not(.browser-default) {
			color:#000000 !important;
			margin-bottom:10px !important;
		}
		
		.refrance p {
		font-size: 11px !important;
	}
	
	.cus-name p {
		font-size: 11px;
	}
	
	p{
		font-size:11px !important;
	}
	
	th.Amountth span {
		font-weight: 600 !important;
		margin: 11px 0 -28px 17px !important;
	}
	
	.billing-add{
		margin-left:50px !important;
	}
	
	.left-label{
		margin-left:5px !important;
	}
	
	.info-tooltipped {
		right: auto;
		top: unset;
	}
	
	.high {
		border:1px solid #ff7d9a !important;
	}
	
	.forex{
		padding-top:15px !important;
	}
	
	.approver{
		padding-top:15px !important;
	}
	
	span.addaction {
		position: absolute;
		top: -3px;
		left: -53%;
		height: calc(100% + 43px);
		padding: 10px;
		/*background: #fff;*/
	}
	
	#add .first{
		text-align:center;
		width:135px !important;
	}
		 
	#add .co_hsn{
		width:90px;
	}

	#add .co_rate{
		width:108px !important;
	}

	#add th.four-th p {
		margin: 0 0 0 6px !important;
	}

	#add .co_qty {
		width: 44px;
	}

	#add .co_rate, .co_dis, .co_taxamt{
		text-align:center;
	}

	#add th.sec-th p {
		text-align:center;
	}

	#add th.five-th p {
		text-align:center;
	}

	#add th.cgsts h6{
		text-align:center !important;
		margin: -1px 0 -17px 15px;
	}

	#add th.cgsts span {
		float:left !important;
		margin: 18px 0px 0px -4px;
	}

	#add th.cgsts {
		max-width:100px !important;
	}

	#add th.cgsts p{
		margin: 18px 0 0 0px !important;
	}

	#add th.cgsts .amt{
		color:#000000;
		max-width:50px !important; 
		float:left !important; 
		text-align:left !important;
	}

	#add th.cgsts .per{
		color:#000000;
		max-width:50px !important; 
		float:right !important; 
		text-align:right !important; 
		padding-left:63px !important; 
		margin-top:-15px !important;	
	}	
	
	th.Amountth{
		padding-bottom:40px !important;
		margin-left:-2% !important;
		width:80px;
	}
	
	.meal.over{
		margin-left:-9% !important;
		height:36% !important;
		width:10% !important;
	}
	
	th.exp-cat{
		width:18% !important;
	}
	
	th.exp-parti{
		align-content:center; 
		width:250px !important;
		padding-right:4px !important;
	}
	
	th.exp-amt{
		width:10% !important;
		padding-right:7px !important;
	}
	
	#inv_tr_rate{
		margin-left:25px !important;
	}

	span.hoveraction {
		left: 0; 
		box-shadow: none;
	}
   
	.scroll-hover-cover {
		float: right;
	}
	
	#add_expense_voucher #dept.error {
		border:1px solid #ff7d9a !important;
	}
	
	.btn-dropdown-select:has(> .error) {
		border:1px solid #ff7d9a !important;
	}
	
	#add_expense_voucher #dept.error {
		border:1px solid #ff7d9a !important;
	}
	
	#add_expense_voucher #emp_name.error {
		border:1px solid #ff7d9a !important;
	}
	
	#add_expense_voucher #approver_name.error {
		border:1px solid #ff7d9a !important;
	}
	
	select-wrapper.high .select-dropdown {
		border:1px solid #ff7d9a !important;
	}
	
	.tooltip-table {
		position: inherit;
		border-bottom: 1px dotted black;
	}
	
	.tooltip-table .tooltiptext {
	  visibility: hidden;
	  width: 150px;
	  background-color: #7864e9;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px 0;
	  margin: 10px 0 0 -10%;
	  /* Position the tooltip */
	  position: absolute;
	  z-index: 1;
	}
	
	.tooltip-table:hover .tooltiptext {
	  visibility: visible;
	}
	
	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
	}

	.tooltip .tooltiptext {
	  visibility: hidden;
	  width: 150px;
	  background-color: #7864e9;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px 0;
	  margin: -30px 0 0 0;
	  /* Position the tooltip */
	  position: absolute;
	  z-index: 1;
	}

	.tooltip:hover .tooltiptext {
	  visibility: visible;
	}
	
	span.hoveraction {
		height: calc(25% + 40px) !important;
		left: -216px; 
		box-shadow: none;
		top:0px !important;
		/*background-color:#fff !important;*/
	}
	.scroll-hover-cover {
		float: left;
	}  
	
	span.hoveraction img {
		margin: 3px 0px 3px 1px !important;
	}
	
	#add-voucher input[type=text]:not(.browser-default) {
		margin-bottom:-10px !important;
	}
	
	.farr{
		padding-top:5px !important;
	}
	
	.sales-in-drop {
		margin:-5px 0 0 0 !important;
		width:170px !important;
		background-color: transparent !important;
		color: #000;
	}	
	
	.services_inv input.select-dropdown{
		display:none;
	}	
	
	.services_inv .dropdown-content{
		display:none;
	}	
	
	.services_inv span.caret {
		display:none;
	}
	.invno{
		background-color:#fff;
		margin: 10px 0 0 -7px !important;
		padding: 0px 0 8px 13px !important;
		border-radius:5px;
		width:206px !important;
		height:31px !important;
	}
	.bglight{
		background-color:#eef2fe !important;
		border-radius:5px; 
	}
	.expdate {
		letter-spacing: 0.5px;
		border: 1px solid #d4d8e4 !important;
		border-radius: 6px !important;
		height:32px !important;
		line-height: 45px;
		padding: 3px 0px 0 15px !important;
		margin: 0 0 0 0 !important;
		background-color:#fff !important;
	}
	.nature_ivd .select2-container .select2-selection--single {
		height: 37px;
		padding: 6px;
		border: none;
		border-bottom: 1px solid #000;
		background: transparent;
		border-radius: 0px;
	}
	
	.nature_iv {
		padding: 8px 18px 0 0;
		border: none;
		border-bottom: 1px solid #a6a6a6 !important;
		margin: 2px 0 0 -12px;
		border-radius: 0px !important;
	}
	.addplusicon i {
		color: #ff7d9a !important;
	}
	.pnk{
		color:#ff7d9a !important;
	}
	/*th.yello-clr {
		background: #ff7d9a !important;
	}*/
	.top-row-1{
		height:225px !important; 
	}
	.btn-dropdown-select {
		border:none !important;
		border-bottom:1px solid #000 !important;
		border-radius:0px !important;
		width:100% !important;
	}
	
	.drop_exp_name{
		border-bottom:none !important;
		margin-top: -3px !important;
	}