.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
	background: #ff7d9a !important;
	border-radius:5px;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
	background: #ff7d9a !important;
    /* height: 0px; */
	border-radius:5px;
}
.outer {
	padding-bottom: 15px;
}
.co_parti {
    width: 350px;
}

.co_hsn {
    width: 200px;
}

.co_qty {
    width: 100px;
}

.co_rate {
    width: 100px;
}

.co_dis {
    width: 100px;
}

.co_taxamt {
    width: 96px;
}

.co_cgst {
    width: 100px;
}

.co_cess {
    width: 100px;
}

.co_amount {
    width: 400px;
}

.co_per {
    width: 100px;
}

.fix {
    right: -6px !important;
}

th.five-th span {
    font-weight: 600;
}

.last-btr {
    width: 17px;
}

th.Amountth {
    padding-bottom: 32px !important;
	color: #000 !important;
}
.advance-pay {
	width: calc(100% - -1px) !important;
}
table.scrol-id input.select-dropdown, body.purch-inv .btn-date-bill, table#scrol-id1 input.select-dropdown {
    font-size: 12px !important;
    color: #000 !important;
    padding: 9px 0 0 0 !important;
    font-weight: 400;
}
.export_type{
	min-width:90% !important;
}