@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700|Montserrat:400,400i,500);
.profile{
  width: 100%;
  text-align: center;
  padding: 20vh 0 0 0;
}
body#view-page{
  background: #fff !important;
}
section#content{
  background: #fff;
}
.content-profile{
  width: 100%;
  text-align: center;
}
.profile img {
    margin: 0 0 20px 0;
}
.content-profile a {
    background: #624ecd;
    text-align: center;
    padding: 15px 15px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 -2px 0 #d9d3f7;
}
.content-profile p {
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}
.top-bar{
  width: 100%;
  float: left;
  margin-top: 10px;
}
.top-bar h2, .top-bar h2 a {
    color: #000;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-left: 60px;
}
.top-bar h4 a{
    color: #c1c6d9;
    padding-bottom: 10px;
    font-size: 12px;
    margin-left: 30px;
}
.input-field input[type=text]:focus, .input-field input[type=tel]:focus, .input-field input[type=email]:focus, .input-field select  :focus{
     box-shadow: 0 1px 0 0 transparent !important;
    /* background: #fefaef;*/
     padding-left: 25px;
     float: left;
     color: #000;
}
.forms-set{
  width: 45%;
  margin: 0 auto;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  border: none !important;
}
/*#main{
  background: #f8f9fd;
}*/
.fbtn{
  width: 45%;
  margin: 0 auto;
}
.fbtn a {
    float: right;
    color: #B0B7CA;
    padding: 5px 30px;
    border: 1px solid #B0B7CA;
    border-radius: 4px;
    margin-top: 20px;
}
.fbtn a:hover {
    background: #6551d0;
    color: #fff;
    border: 1px solid #6551d0;
}
.margin-l{
  margin-right: 15px;
}
.form-outer{
  margin-top: 50px;
}
.top-bar h4 a span {
    margin-left: 10px;
}
.form-top {
    width: 100%;
    float: left;
    border-bottom: 2px solid #F3F4F9;
    padding-bottom: 20px;
    padding-top: 20px;
}
.left-ftop{
    width: 50%;
    float: left;
    padding: 0 64px;
}
.left-ftop h5 {
    margin-bottom: 0 !important;
    font-size: 24px;
    font-weight: 400;
}
.right-ftop{
    width: 50%;
    float: right;
}
.right-ftop a {
    background: #7864e9;
    padding: 12px 10px;
    float: right;
    color: #fff;
    border-radius: 4px;
    margin-right: 60px;
    margin-top: 5px;
    font-size: 12px;
    box-shadow: 2px -2px 0 #d4cff7;
}
.left-ftop span {
    font-size: 12px;
    color: #b0b7c9;
}
.form-data{
    margin-top: 20px;
}
.form-data thead tr, .form-data thead{
    border: none !important;
}
.form-data tbody tr{
    border-bottom: 3px solid #7965E929;
}
.btn.btn-default {
  border: 2px solid #d4d8e4;
  text-transform: capitalize;
  color: #c0c3d4;
  box-shadow: none;
  position: relative;
  min-width: 160px;
  font-size: 12px;
  }
.dropdown-button.btn .material-icons {
  position: absolute;
  right: 4px;
  font-size: 14px;
}
.btn.no-background{
  background: none; 
}

.icon.download{
  background: url(img/icons/download.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icon.export{
  background: url(img/icons/export.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icon.email{
  background: url(img/icons/email.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icon.deactivate{
  background: url(img/icons/deactivate.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icons.deactivate{
  background: url(img/icons/deactivate.png) no-repeat center;
  width: 25px;
  height: 20px;
  float: right;
}

.below-top{
    width: 100%;
    float: left;
    border-bottom: 2px solid #F3F4F9;
    padding-bottom: 20px;
}
.below-left{
    width: 70%;
    float: left;
    padding: 0 30px;
}
.below-right{
    width: 30%;
    float: right;
}
.ser {
  border: 2px solid #d4d8e4;
  padding: 5px 8px;
  border-radius: 4px;
  color: #b1b8ca;
  font-size: 25px !important;
}
.below-right .bulk{
  float: right;
}
.bulk{
    float: left;
    margin-right: 27px;
    margin-top: 0;
}
.icon-ser{
    float: left;
    margin-right: 20px;
    margin-top:0;
    cursor: pointer;
}
.tbl-cls{
    padding:  0 100px;
    color: #B0B9CA;
    margin-top: 20px;
}
.tbl-cls table thead{
    text-transform: uppercase;
    font-size: 12px;
}
.purple:checked + label:before {
  top: -4px;
  left: -3px;
  width: 5px;
  height: 14px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #7965E9; /* You need to change the colour here */
  border-bottom: 2px solid #7965E9; /* And here */
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; 
}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    width: 14px;
    height: 14px;
    border: 2px solid #B0B7CA;
 }
 table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 2px solid #7965e929;
}
.tbl-cls table td{
    color: #000;
    width: 120px;
}
.test:after {
  content: '\2807';
  font-size: 30px;
}
.test{
    border: none !important; 
}
.btn.btn-default.test{
    min-width: 50px !important;   
}
.border-radius-3 {
    border-radius: 3px !important;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
}
tr[disabled="disabled"] td{
  color: #ccc;
}
.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-flat:disabled, .btn[disabled], [disabled].btn-large, .btn-floating[disabled], .btn-large[disabled], .btn-flat[disabled]{
  background-color: transparent !important;
}
[type="checkbox"]:not(:checked):disabled + label:before{
  border: 2px solid #B0B7CA;
  background-color: transparent !important;
  pointer-events: none;
}
/*.card-panel{
  padding: 0 !important;
}*/
.forms p {
    margin-bottom: 10px;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    color: #362e5f;
}
.profile-cards {
    width: 45%;
    margin: 0 auto;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
  color: #B0B7CA;
}
button, input, optgroup, select, textarea, .select-wrapper span.caret{
  color: #B0B7CA;
}
input:not(.browser-default).validate + label{
  padding-left: 24px;
}
.sel{
  padding: 0 50px !important;
}
input:focus{
  position: relative;
  z-index: 2;
}
input[type=text]:focus + label {
   background: #fefaef;
   border-left: 6px solid #ff7d99 !important;
   float: left;
   padding: 15px 25px 30px 25px;
}
.list-top{
  width: 100%;
  float: left;
}
.list-left{
  width: 50%;
  float: left;
}
.list-right{
  width: 50%;
  float: right;
  margin-top: 25px;
}
.top-barl h4 a {
    color: #B0B7CA;
    padding-bottom: 10px;
    font-size: 12px;
}
.top-barl {
    width: 100%;
    float: left;
}
.top-barl h4 {
    margin-top: 10px !important;
}
.right-1 {
    text-align: right;
    width: 78%;
    float: right;
    border-right: 1px solid #e0e4f0;
    margin-right: 15px;
    height: 22px;
    max-width: 35px;
}
.right-1 i {
    margin-right: 15px;
    color: #B0B7CA;
}
.right-2 a, .top-barl a {
    color: #B0B7CA;
    text-decoration: underline;
    font-size: 12px;
}
.data-list{
    background: #7965ea;
    width: 100%;
    margin-left: 0;
    border-radius: 5px;
    float: left;
}
.first-list{
  width: 100%;
  float: left;
  padding: 20px 0;
}
.first-left{
  width: 92%;
  float: left;
  border-left: 5px solid #FF7D9A;
  padding: 10px 0;
}
.first-right {
    width: 5%;
    float: right;
    padding: 0 0;
    margin:3px 17px 0 0;
}
.first-list i{
  float: left;
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 15px;
  color: #51e2c5;        
}
.first-list h5 {
    margin-top: 7px !important;
    color: #fff;
    font-weight: 500;
    font-size: 21px;
}
.data-lists{
  width: 90%;
  float: left;
  padding: 0 0 0 60px;
}
.data-list-left{
  width: 50%;
  float: left;
 
}
.data-list-left p {
    color: #fff;
    font-weight: 300;
    margin: 5px 38PX;
    font-size: 15px;
}
.data-list-left span {
    color: #fff;
    font-size: 10px;
}
.data-list-left i {
    float: left;
    margin-right: 14px;
    margin-bottom: 4px;
}
.data-list-p{
  margin-left: 41px;
}
.globe {
    position: relative !important;
    width: 25px;
    font-size: 22px !important;
    top: 7px;
    left: 6px;
}
a.done-btn{
  color: #000;
  border: 1px solid #B0B7CA;
  padding: 8px 35px;
  border-radius: 5px;
  opacity: 0.2;
}
a.integrate-btn{
 color: #7965E9; 
 border: 1px solid #7965E9;
 padding: 8px 20px;
 border-radius: 5px;
}
[type="checkbox"]:focus + label{
  border-left: none !important;
  background: transparent !important;
}
table#myprofile-table td {
    border-bottom: 5px solid #ECE9FA !important;
    border-top: none !important;
    background: #fff !important;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
table#myprofile-table tr.disabled td {
  opacity: 0.5;
}
table#myprofile-table td:first-child {
  padding: 0 0 0 20px;
}
div#manage-tbl table.dataTable thead th, table.dataTable thead td{
  padding: 0 !important;
}
/*div#manage-tbl table.dataTable thead .sorting_asc {
    width: 100px !important;
}
div#manage-tbl table.dataTable thead .sorting_disabled{
    width: 94px !important;
}
div#manage-tbl table.dataTable thead .sorting {
    width: 150px !important;
}*/
div#manage-tbl table.dataTable.display.table-type2 {
    padding: 0 38px;
}
.btn-bg{
  background: url(img/icons/btn-background.png) no-repeat center;
  width: 100%;
  height: 100px;
}
.btn-bg a {
    position: relative;
    left: 0;
    top: 32px;

}
.icon.print{
  background: url(img/icons/printer.png) no-repeat center;
  width: 25px;
  height: 20px;
  float: right;
  color: #B0B7CA;
}
#tbl-bg-view {
  width: 100%;
  float: left;
}
.tbl-bg-view-r{
  width: 90%;
  float: left;
}
.tbl-bg-view-r {
    background: url(img/icons/new2.png) no-repeat;
    width: 14%;
    height: 16px;
    float: right;
    margin-right: 13px;
}
.right-2 {
    float: right;
}
@media only screen and (min-width: 993px){
section.view .container {
    width: 93% !important;
}
}
.top-barl h4 a:before {
    content: '';
    position: absolute;
    margin:20px 0 0 -25px;
    background: url(../images/arrow-o-circle-left-black.png) no-repeat;
    width: 12px;
    height: 12px;
}
.pro {
    position: relative;
    margin-top: -70px;
    margin-left: 17px;
}
.left-ftop h5 {
    color: #25292c;
}
.bulk a.dropdown-button.border-radius-3.btn.btn-default.no-background {
    text-align: left !important;
    padding: 0 15px;
}
table#myprofile-table .disabled td {
  border-bottom: 5px solid #f8f9fd !important;
  background: #fafbff !important;
}
table#myprofile-table td{
    background: #fff;
}
i.arrow-icon.arr-bulk {
    position: relative;
    top: 6px;
    left: 16px;
}
table#myprofile-table thead th:first-child, table#myprofile-table thead td:first-child {
    padding:0 0 0 20px;
    width: 20px !important;
}
section.bg-cp{
  background: #f8f9fd !important;
}
/*.icon.yes-bank{
  background: url(img/icons/yes-bank.jpg) no-repeat center;
  width: 100%;
  height: 100px;
}*/
i.material-icons.arrows{
  font-size: 20px !important;
}
input#email{
  color: #b1b8cb;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown{
  width: 82% !important;
}
input.active:not(.browser-default){
  width: 82% !important;
}
.icon.mail {
    background: url(img/icons/mail.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px;
}
.icon.location{
    background: url(img/icons/locate.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px;
}
.below-right .bulk {
    margin: 0 11px 0 0;
}
body{
  background: #f8f9fd;
}
span.state {
    margin: 0 0 0 38px;
}
.state-div {
    width: 50%;
    float: left;
}
.data-list-left.state-section {
    margin-bottom: 43px;
}

.data-list-left.mail-id-sec {
    margin-bottom: 49px;
}
.data-list-left.sec-section {
    margin-top: -9px;
}
.wind {
    background: #705bdc;
    border-radius: 10px;
    color: #fff;
}
i.material-icons {
    color: #51e2c5;
}
.camera {
    margin: 19px 16px 0 43px;
    float: left;
}
.wind h5 {
    font-size: 21px;
    margin: 19px 0 0 0;
    font-weight: 500;
}
.billing span {
    margin: 0 0 0 12px !important;
    float: initial;
    font-size: 10px;
    font-weight: 300;
}
.billing {
    margin: 17px 0 0 38px !important;
    width: 42% !important;
 }
 .shipping {
    MARGIN: 2px 0 0 0 !IMPORTANT;
    width: 47% !important;
}
.billing p {
    font-size: 13px;
    margin: 8px 0 0 39px;
}
.shipping span {
    font-size: 10px;
    margin: 0 0 0 12px;
    font-weight: 300;
}
.shipping p {
    font-size: 13px;
    /* font-weight: 300; */
    margin: 13px 0 0 39px;
}
.state-sec span {
    font-size: 10px;
    font-weight: 300;
    float: left;
    /* margin: 0; */
}
.state-col {
    margin: 0 0 0 45px !important;
    width: 22%;
    float: left;
}
.country-col {
    width: 20% !important;
    float: left;
}
.state-col p {
    font-size: 13px;
    margin: 19px 0 0 38px;
}
.country-col p {
    font-size: 13px;
    margin: 19px 0 0 0;
}
.states p {
    font-size: 13px;
    margin: 20px 0 0 37px;
}
.county-two p {
    font-size: 13px;
    margin: 18px 0 0 0;
}
.state-sec {
    width: 96%;
    margin: 0 0 37px -17px !important;
    float: left;
}

.Communications {
    width: 100%;
    margin: 28px 0 0 -11px;
    float: left;
    min-height: 64px;
    border-left: 4px solid #fe7d99;
}
.wind p {
    font-weight: 300;
}




section.status-section {
    background: #fbfcfe;
    box-shadow: 0px 0px 39px #d8d8d8;
    min-height: 322px;
}
.bank-detail-box{
    background: #fbfcfe;
    box-shadow: 0px 0px 39px #d8d8d8;
    min-height: 322px;
    margin: 0 !important;
}
.statur-info {
    WIDTH: 100% !IMPORTANT;
    FLOAT: LEFT;
}
.leftcolr {
    width: 2%;
    min-height: 64px;
    float: left;
    margin: 30px 0 0 0;
    border-left: 4px solid #fe7d99;
}
.row-left-color h5 {
    font-size: 17px;
    font-weight: 600;
    margin: 51px 0 0 0;
}
.statur-info p {
    font-size: 12px;
    color: #b1b8ca;
    margin: 20px 0 0 34px;
}
.statur-info span {
    font-size: 12px;
    font-weight: 500;
    margin: 11px 0 0 36px !important;
    float: left;
}
.gst-number {
    width: 100%;
    float: left;
}
.gst-number span {
    font-size: 11px !important;
    color: #c4ccd7;
    margin: 32px 0 0 35px !IMPORTANT;
    FLOAT: LEFT;
}
.gst-no-one {
    
     margin: 10px 0 0 -36px;
     float: left;
}
.gst-no-one span {
    font-size: 10px;
    color: #c5cbd7;
    margin: 0 0 0 57px;
    float: l;
}
.gst-no-one p {
    font-size: 13px;
    margin: 2px 0 0 57px;
}
.gst-no-two{

    margin:10px 0 0 0;
    float: left;
}
.gst-no-two span {
    font-size: 10px;
    color: #c5cbd7;
    margin: 0 0 0 57px;
    float: l;
}
.gst-no-two p {
    font-size: 13px;
    margin: 2px 0 0 57px;
}


.edit-icon{
  margin: 7px 0 0 36px;
  }

.circle-icon{
  margin: 26px -28px 0 -1px;
  float: left;
}
.four-icon{
      margin: 24px 0 0 16px;
  }
.off-circle-icon{
  float: right;
  margin:21px 46px -19px 0;  
}

.gst-place{
    width: 41% !important;
    margin-left: 103px !important;
     border: 1px solid #cccccc42;
    padding-bottom: 11px !important;

}
.gst-place-two {
    width: 41% !important;
    margin-left: 23px !important;
    padding-bottom: 11px !important;
    border: 1px solid #cccccc42;
}
.square-icon{

  float: left;
  margin: 22px 0 0 3px;
  
}
.edit-munbai-icon{
    float: right;
    margin: -22px -44px 0 0;
  
}
.delete-munbai-icon{
    float: right;
    margin: -18px -88px 0 0;
  
}
.hover-edit{
  display: none;

}

.gst-place-two:hover .hover-edit{
  display: block;
}
.gst-place:hover .hover-edit{
  display: block;
  
}
.gst-place:hover{
  BOX-SHADOW: -3px 8px 21px -5px #8888;
}
.gst-place-two:hover{
  BOX-SHADOW: -3px 8px 21px -5px #8888;
}
.gst-place-supply{
  min-height: 175px;
}
.type-company .circle-icon {
    margin: 0 -28px 0 -1px;
    float: left;
}   

.four-col{
    border-right: 2px solid #f2f2f2; 
}
.hover-edit:hover .one{
  margin: 36px 0 0 49px !important;
  }
.view-inner-box {
    box-shadow: 0 1px 10px #ebebed;
    cursor: pointer;
    border-radius: 8px;
}
.view-inner-box [type="checkbox"]:not(:checked):disabled + label:before {
    border: 2px solid #7965ea;
    background-color:#7965ea !important;
    padding:7px;
    margin: 28px 0 0 0 !important;
}
.view-inner-box input {
    color: #343539 !important;
    font-size: 15px !important;
    letter-spacing: 0.2px;
    margin: -7px 0 7px 0 !important;
}
.view-inner-box label.input-lable {
    font-size: 9px;
    color: #b2b9cc;
    letter-spacing: 0.5px;
    margin: 20px 0 0 0 !important;
    float: left;
}
.box-icon {
    float: left;
    width: 100%;
    height: 100%;
    padding: 28px 0;
    display: none;
}
.view-inner-box:hover{
  box-shadow:-2px 2px 30px #ebebed;
}
.view-inner-box:hover .box-icon{
  display: block;
}
.gst-number .row{
  margin-bottom: 0;
}
.bottom{
  min-height: 213px !important;
}

.Interate-left-color {
    background: #7965ea;
    color: #fff;
    float: left;
    width: 100%;
    margin: 12px 0 0 1px !important;
}
.leftcolr-inter {
    border-left: 5px solid #51e2c1;
    height: 37px;
    width: 53px;
    float: left;
    margin: 8px 0 0 -12px;
}
section.documents-section {
    background: #fbfcfe;
    box-shadow: 0px 0px 39px #d8d8d8;
    margin-top: 115px;
    padding-bottom: 3%;
}

.documents {
    color: #000;
    margin: 49px 0 0 0;
    font-weight: 600;
    font-size: 14px;
    float: left;
}
.circle-icon-document .circle-icon {
    margin: 15px 0 0 0;
    float: left;
}
.legal small.gray-box {
    background: #afb6c8;
    border-radius: 13px;
    padding: 5px 13px;
    color: #fff;
    margin-left: 15px;
}
.legal p{
  font-weight: 500;
}
.file-kb p{
    font-size: 14px;
    margin: 16px 11px 0 0;
    float: right;
    color: #c3c9d9;
}

.documents-color {
    border-left: 5px solid #ff7d99;
    height: 41px;
    margin: 54px 0 0 0px !important;
    width: 24px;
    display: block;
    float: left;
}
.pdf{
  float: left;
  margin: 0 0 0 14px;
}
.le-doc{
  margin-bottom:0 !important;
  }
.le-cont{
  box-shadow: 0px 3px 3px #cccccc6b;
  margin: 0 0 0 6px !important;
  min-height: 58px;
}
.le-cont:hover{
  box-shadow: 3px 6px 3px #cccccc6b;
}

.le-cont p{
    font-size: 12px;
    float: left;
    margin: 0 0 0 11px;
    width: 66%;
    word-wrap: break-word;
}
.le-cont span{
    font-size: 10px;
    color: #b0b7c9;
    margin: 0 0 0 11px;
    float: left;
}

.le-color-left{
    border-left: 5px solid #7965ea;
    height: 50px;
    border-right: 1px solid #cccccc73;
    margin: 6px 0 -58px -11px;
    border-radius: 3px;
}
.pdf-file{
  margin-top: 15px;
}
.date-start{
  border-right: 1px solid #cccccc73;
  min-height:58px;
}

.date-start p {
    margin: 13px 0 0 0;
    color: #b1b8ca;
    font-size: 11px;
}
.date-start span{
    font-size: 12px;
    color: #51e2c1;
    margin: 0;
}
img.tabl {
    border: 0;
    margin: 13px 0 0 0;
    width: 33px;
}
.end-date span{
    font-size: 12px;
    color: #fe6560 !important;
}



.alarom-col img{
    float: left;
    margin: 14px 0 0 0;
    width: 24px;
}

.alarom-col p{
    font-size: 13px;
    margin: 18px 0 0 14px;
}

.delete-col{
   margin: 25px 0 0 14px;
}

section.documents-section .delete{
      margin: 0 0 0 10px !important;

}

section.documents-section .circle-clold{
    margin: 3px 0 0 -16px;
}

.Purchase-order, .Other-Documents {
  padding: 25px 0 0 0;
}

.Purchase-left-color{
      border-left: 5px solid #4fe3c1 !important;
}

.Other-Documents-color{
        border-left: 5px solid #7965ea !important;
}
.Memorandum{
  border-left: 5px solid #51e2c1 !important;
}
.off-round{
    margin: 0 0 0 14.1%;
}
p.bank-detail-lin{
    float: left;
    margin: 48px 0 0 71px;
    font-weight: 600;
    font-size: 18px;
}

.left-color-bank{
    border-left: 5px solid #ff7c9b;
    height: 53px;
    width: 10px;
    margin: 31px 0 0 0;
    float: left;
}


.bank-box-shadow {
    background: #fbfcfe;
    box-shadow: 0px 0px 39px #d8d8d8;
    margin: 26px 0 0 0;
   
}

.bank-rows{ 
    box-shadow: 0px 1px 4px #ccc;
    width: 100%;
    height: 68px;
}
.border-right {
    border-right: 1px solid #cccccc87;
    height: 68px;
    border-left: 3px solid #7965ea;
    border-radius: 5px;
}
.bank-rows p{
    font-size: 11px;
    color: #c3cbd6;
    margin: 17px 0 0 20px;
}
.bank-rows span{
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 0 20px;
}

.border-right img{
    margin: 18px 0 0 8px;
}
.bank-rows .edit{
    margin:11px 0 12px 0;
    float: left;
}

.bank-rows:hover {
    box-shadow: 0px 6px 10px #ccc;
 }

.empty-row{
     width: 100%;
    background: #f6f6f6ba;
    margin: 0 !important;
    min-height: 45px;
}

.empty-row .material-icons{
    text-align: center;
    color: #afb6c8;
    width: 100%;
}

.off-circles{
    float: right;
    margin: -20px 100px 0 0;
 }
.last-border{
     border-right: 1px solid #cccccc73;
     height: 68px;
}

.Customization .border-right{
  border-left: none;
  border-right: none;
  height: auto;
  border-radius:unset;
}
.customization-cover img {
        margin: -4px 0 0 -7px;
}
.customization-cover{
  box-shadow: none;

}
.customization-cover:hover{
  box-shadow: none;

}
.customization-cover p {
    font-size: 11px;
    color: #c3cbd6;
    margin: -4px 0 0 19px;
}

.Customization{
    margin: 70px 0 0 0;
    min-height:unset;
}

.off-costom{
    float: left;
    margin: -19px 0 0 84px !important;
 }

.web [type="checkbox"]:not(:checked):disabled + label:before {
    border: 2px solid #7965ea;
    background-color: #7965ea !important;
    padding: 7px;
    margin: 28px 0 0 0 !important;
}
.web-row p {
    font-size: 11px;
    color: #c3cbd6;
    margin: 0 0 0 -21px;
}
.web-row span {
    margin: 0 0 0 -21px;
    font-size: 13px;
}

.web-row [type="checkbox"] + label{
  margin: -17px 0 0 0 !important;
  float: left;
}
img.edit-web-icon{
    margin: 19px 0 0 0;
    float: right;
}
img.delete-web-icon{
    margin: 19px 0 0 0;
    float: left;
}
.web:hover{
    box-shadow: 0px 6px 10px #ccc;
}
.use-of{
  margin: 0;
}
.off-last{
   margin: -19px 0 0 85px;
}