	#slide-out li > a.active i.menu-round-icon {
		background-image: url(img/icons/menu-sub-active.png);
	}
	#inv_recurring_date{
		margin-left: -12px !important;
		padding: 3px 30px 0 6px !important;
	}
	#inv_nooftime_recurring{
		padding: 3px 5px 0px 6px !important;
	}
	span.pluse-sym{
		margin: -7px 11px 2px 10px !important;
	}
	.grandt-total{
		border: none;
	}
	.border-bottom{
		border-bottom: 1px solid #d5dbe961;
	}
	input[type=submit]{
		padding-right: 12px;
	}	
	.statement{
		font-size: 17px;
		color: #514873;
		font-weight: 600;
		text-align: center;
	}
	.invoi-drop{
		width: 140px;
	}
	.sales-in-drop{
		border-radius:5px !important;
	}
	.row.border-full {
		border-radius: 5px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.podate{
		margin-left: -11px !important;
	}
	input#inv_invoice_no {
		margin: 0px !important;
	}
	.invoi-bg {
		padding: 11px 0;
		margin: 4px 0 0 0;
		height: 39px;
		width: 68px; 
	}
	.nature_iv {
		padding: 6px 18px 0 0;  
		height: 37px !important;
		background-color: #fff;
	}
	.row.billing-add {
		padding: 5px 0 0 0 !important;
	}
	.chkbox {
		margin: 30px 0 8px 2px !important;
	}
	p.cus-green {
		margin: 15px 137px 0 0;
	}
	.profil-img img {
		max-width:200px;
		max-height: 80px;
	}
	
	.place{
		margin: -31px 0 0 7% !important;
	}
	
	.info-tooltipped{
		right: auto;
		top: unset;
		margin-top:-10px;
	}
	.invoice_recurring{
		color: #50E3C2;
		font-size: 12px;
		display: inline-block;
		margin: 0px 12px;
	}
	@media only screen and (max-width: 1280px) {
		.create-spy {
			min-width: 225px !important;
		}
		.select-wrapper.gstn-w {
			min-width: 225px !important;
		}
	}
	
	/*view expense voucher*/
	#myTable {
		border-collapse: collapse;
		width: 100%;
		border: 1px solid #ddd;
		font-size: 12px;
	}
	#myTable th, #myTable td {
		text-align: left;
		padding: 12px;
	}
	#myTable tr {
		border-bottom: 1px solid #ddd;
	}
	#myTable tr.header, #myTable tr:hover {
		background-color: #f1f1f1;
	}
	.add_to_invoice{
		/*color: #6ee6cb;*/
		color:#808080;
	}
	.invoi-bg p {
		margin: 0 0 0 25px;
	}
	/*End view expense voucher*/

	/*----------START SEARCH DROPDOWN CSS--------*/
	.select2-container--default .select2-selection--single {
		border:none;
	}
	input[type="search"]:not(.browser-default) {
		height: 30px;
		font-size: 14px;
		margin: 0;
		border-radius: 5px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 13px;
		line-height: 26px;
		color: #000;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 36px;
	}
	.select2-search--dropdown {
		padding: 0;
	}
	input[type="search"]:not(.browser-default):focus:not([readonly]) {
		border-bottom: 1px solid #bbb;
		box-shadow: none;
	}
	.select2-container--default .select2-selection--single:focus {
		outline: none;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background: #fffaef;
		color: #666;
	}
	.select2-container--default .select2-results > .select2-results__options {
		font-size: 14px;
		border-radius: 5px;
		box-shadow: 0px 2px 6px #B0B7CA;
	}
	.select2-dropdown {
		border: none;
		border-radius: 5px;
	}
	.select2-container .select2-selection--single {
		height: 37px;
		padding: 6px;
		border: 1px solid #d4d8e4;
		background: #fff;
		border-radius: 5px;
	}
	.select2-results__option[aria-selected] {
		border-bottom: 1px solid #f2f7f9;
		padding: 14px 16px;
	}
	.select2-container--default .select2-search--dropdown .select2-search__field {
		border: 1px solid #d0d0d0;
		padding: 0 0 0 15px !important;
		width: 97%;
		max-width: 100%;
	}
	.select2-search__field::placeholder {
		content: "Search Here";
	}
	.select2-container--open .select2-dropdown--below {
		margin-top: 0;
	}
	.select2-container {
		width: 100% !important;
	}
	input.select2-search__field {
		text-transform:uppercase;
	}
	ul#select2-currency-results {
		width: 97%;
	}
	/*----------END SEARCH DROPDOWN CSS--------*/

	/*----------ANIKET CSS START------------*/
	table.scrol {
		width: calc(100% + 300px);
	}
	table.tabs-class td,
	th {
		padding: 8px !important;
	}
	.invoi-drop.btn-dropdown-select > input.select-dropdown {
		height: 42px !important;
		margin: 3px 0 0 0 !important;
	}
	.row.billing-add {
		padding: 0;
	}
	.textbox-tabl {
		margin: 0 !important;
	}
	table.scrol-id input.select-dropdown {
		padding: 0 10px !important;
	}
	.enter {
		margin-top: 36px !important;
	}
	.create-spy {
		min-width: 91%;
	}
	.btn-dropdown-select > input.select-dropdown {
		padding-right:0 !important; 
	}
	.btn-date-bill {
		padding-right :0 !important;
	}
	.advance-pay {
		width: calc(100% - 76px) !important;
	}
	table.tabs-class td,
		th {
			padding: 5px !important;
		}
		.inner{
			padding: 0;
			margin: 0;
		}
		span.hoveraction {
			left: 0; 
			box-shadow: none;
		}
		.scroll-hover-cover {
			float: right;
		}  
	@media only screen and (max-width: 1300px){
		.fix {
			width: 98px !important;
		}	
	}	
	/*----------ANIKET CSS END------------*/ 

	.meal .select2-container {
		width: 136% !important;
	}
	.select2-container--default .select2-search--dropdown .select2-search__field {
		width: 94% !important; 
	}
	#add .select2-container .select2-selection--single {
		height:46px !important;
	}
	#equiModal h4 {
		width: 89%;
		font-size: 20px;
		font-weight: 500;
		float: left;
		color: #352d5e;
		margin: -1.86rem 0px 0.912rem 22px !important;
	}
	#equiModal{
		overflow:hidden;
	}
	#equi_save, #client_save, #item_save{
		background-color:#7864e9 !important;
	}
	#add .first{
		text-align:center;
	}
	#add .co_hsn{
		width:90px;
	}
	#add .co_rate{
		width:108px !important;
	}
	#add th.four-th p {
		margin: 0 0 0 6px !important;
	}
	#add .co_qty {
		width: 44px;
	}
	#add .co_rate, .co_dis, .co_taxamt{
		text-align:center;
	}
	#add th.sec-th p {
		text-align:center;
	}
	#add th.five-th p {
		text-align:center;
	}
	#add th.cgsts h6{
		text-align:center !important;
		margin: -1px 0 -17px 15px;
	}
	#add th.cgsts span {
		float:left !important;
		margin: 18px 0px 0px -4px;
	}
	#add th.cgsts {
		max-width:100px !important;
	}
	#add th.cgsts p{
		margin: 18px 0 0 0px !important;
	}
	#add th.cgsts .amt{
		color:#000000;
		max-width:50px !important; 
		float:left !important; 
		text-align:left !important;
	}
	#add th.cgsts .per{
		color:#000000;
		max-width:50px !important; 
		float:right !important; 
		text-align:right !important; 
		padding-left:63px !important; 
		margin-top:-15px !important;	
	}
	/*#add .select-wrapper input.select-dropdown {
		display:none;
	}*/
	#add .btn-dropdown-select span.caret {
		display:none;
	}
	#add .btn-dropdown-select {
		font-size:13px;
		font-style:normal;
	}
	#add .sales-in-drop{
	  color:black !important;	
	  height: 38px !important;
	  width: 190px !important;
	  top: 1px;
	  left: 0px;
	  opacity: 1; 
	}
	#equiModal input:focus{
		border-left:3px solid #ff7d9a !important;
	}
	#view-client input:focus{
		border-left:3px solid #ff7d9a !important;
	}
	#new-item input:focus{
		border-left:3px solid #ff7d9a !important;
	}
	input.icon-calendar-gray {
		background-position: calc(100% - 19px) 18px !important;
	}
	#view-client .input-field label.select-label {
		margin: -8px 0 0 0 !important;
		padding: 0px 0px 0px 19px !important;
	}
	.invoi-foot{
		position: sticky;
	}
	#latefeeModal h4 {
		width: 89%;
		font-size: 20px;
		font-weight: 500;
		float: left;
		color: #352d5e;
		margin: -1.86rem 0px 0.912rem 22px !important;
	}
	#latefeeModal{
		overflow:hidden;
	}
	#late_save{
		background-color:#7864e9 !important;
	}
	#latefeeModal input:focus{
		border-left:3px solid #ff7d9a !important;
	}
	#addresses_model input.select-dropdown {
		margin: 0px 0 0 0px !important;
	}
	#view-client input.select-dropdown {
		margin: 0px 0 0 0px !important;
		padding-left:19px; 
	}
	#view-client .dropdown-content.select-dropdown {
		overflow-y: scroll !important;
		height: 130px !important;
	}
	#cke_1_contents{
		height:100px !important;
	}
	.footer_btn{
		height:38px !important; line-height: 38px;
	}
	.ad-pay-footess{
		margin: -38px 0 0 0 !important;
	}
	.garnd-tbl {
		margin: 0 -52% 0 0 !important;
		width: 100%;
		float: right;
	}
	.garnd-tbl  p{
		font-size:12px !important;
	}
	.teste  p{
		font-size:12px !important;
	}
	#view-client #client_no{
		width: calc(99% - 41px) !important;
	}
	#new-item #item_no{
		width: calc(99% - 41px) !important;
	}
	#add .select-wrapper input.select-dropdown {
		display:none;
	}
	#add .btn-dropdown-select span.caret {
		display:none;
	}
	#add .btn-dropdown-select {
		font-size:13px;
		font-style:normal;
		background-color: white!important;
	}
	#add .sales-in-drop:hover{
		display:inline;
	}
	#add .sales-in-drop option{
		border-radius:4px !important;
		background-color:white !important;	
	}
	/*:focus:not([readonly]*/
	#add .sales-in-drop option:hover:not(.browser-default){
		background-color:red !important;	
	}
	#add .inter-select{
		width:230px !important;
	}
	.add_to_invoice{
		pointer-events:none;
	}
	.frequ input.select-dropdown {
		padding-top:5px !important;
	}	
	#add .sales-in-drop .dropdown-content{
		display:none !important;
	}	
	#inv_bank_account_no::placeholder{
		color:#000000 !important;
	}
	#inv_bank_ifcs_code::placeholder{
		color:#000000 !important;
	}
	#inv_bank_swift_code::placeholder{
		color:#000000 !important;
	}
	span.check-boxs {
		font-size: 12px !important;
		font-style: normal !important;
		margin: -2px 0 0 -3px;
	}
	.refrance p {
		font-size: 11px !important;
	}
	.invoi-drop {
		margin-top:23px !important;
	}
	.cus-name p {
		font-size: 11px !important;
	}
	#sales-invoice_frm p{
		font-size:11px !important;
	}
	
	#sales-invoice_efrm p{
		font-size:11px !important;
	}
	
	#add-estimate-invoice p{
		font-size:11px !important;
	}
	
	th.Amountth span {
		font-weight: 600 !important;
	}	
	.billing-add{
		margin-left:50px !important;
	}
	.left-label{
		margin-left:5px !important;
	}
	.export_type{
		min-width:100% !important;
	}	
	.high {
		border: 1px solid red !important;
	}	
	.meal.over.high {
		border: 1px solid red !important;
	}	
	table.inter {
		width: calc(76% + 300px) !important;
	}	
	#add .bond{
		left:-19px !important;
	}	
	table.addCSS{
		width: calc(78% + 248px) !important;
	}	
	.select-wrapper.gstn-w {
		min-width: 200px !important;
	}
	
	/* New CSS By WC366 */
	.plain-page-header {
		padding: 30px 0 15px 0 !important;
	}
	#sales-invoice_efrm .plain-page-header {
		padding: 30px 0 15px 0 !important;
	}
	
	#sales-invoice_efrm .plain-page-header {
		padding: 30px 0 15px 0 !important;
	}
	#sales-invoice_efrm .plain-page-header {
		padding: 30px 0 15px 0 !important;
	}
	.invno{
		background-color:#fff;
		margin: 10px 0 0 -7px !important;
		padding: 0px 0 8px 13px !important;
		border-radius:5px;
		width:206px !important;
		height:31px !important;
	}
	.finance_year{
		display:none !important;
	}
	.bglight{
		background-color:#eef2fe !important;
		border-radius:5px; 
	}
	
	#add-estimate-invoice input[type=text]:not(.browser-default) {
		height: 32px !important;
	}
	
	#sales-invoice_frm input[type=text]:not(.browser-default) {
		height: 32px !important;
	}
	
	#sales-invoice_efrm input[type=text]:not(.browser-default) {
		height: 32px !important;
	}
	
	#edit-estimate-invoice input[type=text]:not(.browser-default) {
		height: 32px !important;
	}
	
	#edit-proforma-invoice input[type=text]:not(.browser-default) {
		height: 32px !important;
	}
	
	.invdate {
		letter-spacing: 0.5px;
		border: 1px solid #d4d8e4 !important;
		border-radius: 6px !important;
		height:32px !important;
		line-height: 45px;
		padding: 3px 0px 0 7px !important;
		margin: 0 0 0 0 !important;
		background-color:#fff !important;
	}
	
	.top-row-1{
		width:54.9% !important; 
		height:300px !important; 
		margin:0 10px 0 5px;
	}
	
	.top-row-2{
		width:54.9% !important; 
		height:210px !important; 
		margin:0 10px 0 5px;
	}
	
	.invclient{
		margin-left:-5px !important; 
		width:76% !important;
	}
	
	#sales-invoice_frm .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#edit-estimate-invoice .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#add-proforma-invoice .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#edit-proforma-invoice .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	.create-bil-plc {
		min-width: 96%;
	}
	
	#sales-invoice_frm .btn-dropdown-select > input.select-dropdown {
		margin-top:-4px !important;
	}
	
	#sales-invoice_efrm .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#sales-invoice_efrm .btn-dropdown-select > input.select-dropdown {
		margin-top:-4px !important;
	}
	
	#add-estimate-invoice .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#add-estimate-invoice .btn-dropdown-select > input.select-dropdown {
		margin-top:-4px !important;
	}
	
	#edit-estimate-invoice .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#edit-estimate-invoice .btn-dropdown-select > input.select-dropdown {
		margin-top:-4px !important;
	}
	
	#add-proforma-invoice .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#add-proforma-invoice .btn-dropdown-select > input.select-dropdown {
		margin-top:-7px !important;
	}
	
	#edit-proforma-invoice .btn-dropdown-select span.caret {
		margin-top:15px !important;
	}
	
	#edit-proforma-invoice .btn-dropdown-select > input.select-dropdown {
		margin-top:-3px !important;
	}
	
	.add-inv{
		background-color: #fff;
		padding: 5px 10px 5px 10px !important;
		border-radius:5px;
		width: 93% !important;
		height: 60px;
	}
	
	.bill-p{
		margin: 0 0px 5px -10px !important;
	}
	
	.last-inv-diff{
		padding: 0px 0 5px 0px; 
		background-color:#7864e9 !important;
		margin-top:15px !important;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	.inv-last p{
		color:#fff !important;
	}
	
	.bank-row p{
		margin-left:0px !important;
	}
	
	.inv-last input{
		border: none !important;
		padding: 0 0 0 0 !important;
		border-bottom: 1px solid #fff !important;
		border-radius: 0px !important;
	}
	
	.bank-row input{
		border: none !important;
		padding: 0 0 0 0 !important;
		border-bottom: 1px solid #ccc !important;
		border-radius: 0px !important;
	}
	
	.ftr-row input{
		border: none !important;
		padding: 0 0 0 0 !important;
		border-bottom: 1px solid #ccc !important;
		border-radius: 0px !important;
	}
	
	#inv_po_no::placeholder{
		color:#fff !important;
	}
	
	#inv_po_no{
		color:#fff !important;
	}
	
	#inv_po_date::placeholder{
		color:#fff !important;
	}
	
	#inv_po_date{
		color:#fff !important;
	}
	
	.pnk{
		color:#ff7d9a !important;
	}
	
	.custom-field{
		background-color:#7864e9 !important;
		padding: 12px 0 !important;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	.bank-data{
		background-color:#fff !important;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	.bank-select{
		border: none !important;
		border-bottom:1px solid #ccc !important;
		height: 37px;
		float: left;
		font-size: 13px;
		color: #B0B7CA;
		padding: 0;
		letter-spacing: 0.5px;
		cursor: pointer;
		border-radius:0px !important;
	}
	
	.est-bank-select{
		border: none !important;
		border-bottom:1px solid #ccc !important;
		height: 47px !important;
		float: left;
		font-size: 13px;
		color: #B0B7CA;
		padding: 0;
		letter-spacing: 0.5px;
		cursor: pointer;
		border-radius:0px !important;
	}
	
	.bank-select.btn-dropdown-select > input.select-dropdown {
		padding: 8px 18px 0 0px !important;
	}
	
	#inv_bank_branch_no::placeholder{
		color:#000 !important;
	}
	
	#sales-invoice_frm .select-dropdown{
		margin-top:30px !important;
	}
	
	#sales-invoice_efrm .select-dropdown{
		margin-top:30px !important;
	}
	
	#add-estimate-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	#add-estimate-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	#edit-estimate-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	#edit-estimate-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	#add-proforma-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	#add-proforma-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	#edit-proforma-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	#edit-proforma-invoice .select-dropdown{
		margin-top:30px !important;
	}
	
	.addplusicon i {
		color: #ff7d9a !important;
	}
	/*#sales_services1 option:nth-child(2){
		border:1px solid #000 !important;
		color:red;
		height:10px;
	}*/