/*------For Table Inputs------*/
.textbox-tabl{
  border-bottom: 0px #000 !important;
  margin:-6px -6px -6px -6px !important;
}

  
.textbox-tabl:not(.browser-default:focus):not([readonly]){
  border-bottom: 0px #000 !important;
  box-shadow:0 0 0 0 !important;
   outline: 1px solid #000 !important;
  /* outline: 1px solid silver;*/
}
.textbox-tabl:not(.browser-default),.textbox-tabl.valid:not(.browser-default), .textbox-tabl.valid:not(.browser-default):focus{
  border-bottom: 0px #000 !important;
  box-shadow:0 0 0 0 !important;
     /*outline: 1px solid silver;*/
}
.textbox-tabl:not(.browser-default)[readonly="readonly"], {
  border-bottom: 0px #000 !important;
}
input[type=text]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),textarea:not(.browser-default):focus:not([readonly]){
box-shadow: 0 0px 0 0 #d4d8e4;
border: 1px solid #d4d8e4 !important;
outline: none !important;
}
/*------End Table Inputs------*/
.error{
left: 0;
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail {
  opacity: 999;
} 
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  height: 8px;
}
#scrollbar-restable .ps-scrollbar-x-rail {
  height: 12px;
}


/*~~~~~~~~~~~~~~~~~ START Calculator~~~~~~~~~~~~~~~~~ */
.result{
  border: none;
}
.cal-btn {
  height: 50px;
  width: 50px;
  margin: 10px 4px;
  box-shadow: inset 1px 1px 50px  #7864e9;
  border: none !important;
  color: #000;
}
*:focus {
    outline: 0 !important;
}
#allClear {
  box-shadow: inset 1px 1px 50px  #990000;
  border: none;
}
#clear {
  box-shadow: inset 1px 1px 50px  #CC6600;
  border: none;
}
#equals{
  box-shadow: inset 1px 1px 50px #006633;
  border: none;
}
/* Hidden button for formatting sake */
#blank {
  visibility: hidden;
}
.calcBG {
  background-color: #0000CC;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: inset 1px 1px 50px #000;
}
.screen {
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold;
  background: #eef2f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3 , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3 , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 4px  #000099 inset;
  
}
.cal-text {
  color: #fff;
  font-weight: bold;
}


/*~~~~~~~~~~~~~~~~~ END Calculator~~~~~~~~~~~~~~~~~ */
