.top_navbar{color:#000;font-weight:bold;width:90%;float:left;padding-left:30px;}
.navbar_2{font-weight:bold;font-size:16px;}
.navbar_a{padding-top:15px;}
.navbar_height{height:50px;}
.nav_inverse{background:#CFF;}
.pass_2{font-size:11px;padding-left:11px;}
.header_btn{color:#000;font-size:12px;font-weight:800;border:#000 solid 1px;padding-left:10px;padding-right:10px;}
.header_btn_2{color:#000;font-size:14px;font-weight:800;border:#000 solid 1px;}
a.trial{font-size:14px !important;padding:0;}
.slider_text{color:#000;font-weight:800;padding-left:100px;padding-right:100px;padding-top:10px;padding-bottom:15px;text-align:center;}
.slider_img_text{font-weight:800;color:#000;font-size:25px;display:-webkit-inline-box;}
.w3button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;box-shadow:none !important;}
.text_2{padding-top:30px;text-align:center;font-weight:800;font-size:35px;color:#000;}
.text_3{display:-webkit-inline-box;padding-bottom:0 !important;}
.contact_form{padding-top:64px !important;}
button.contact_btn{margin-top:20px;}
.easy{font-family:serif;}
.text_4{color:#00BFF3;}
.portfolio_grid{padding-left:40px;padding-right:40px;}
.contact{padding-left:150px;padding-right:150px;}
.contact_2{font-size:20px;color:#000;}
.contact_form{padding-left:45px;padding-top:60px;font-size:25px;color:#000;}
.contact_form_1{color:#000;padding-left:45px;padding-top:15px;}
.input_text{width:100%;box-sizing:border-box;border:none;border-bottom:1px solid #000;font-size:20px;padding-left:5px;color:#000;}
.grid_title{color:#000;font-weight:800;font-size:20px;text-align:center;}
.grid_text{color:#000;font-size:15px;text-align:center;font-weight:600;line-height:initial;padding-bottom:30px;padding-left:20px;padding-right:20px;}
.grid_border{border:#00BFF3 2px solid;}
.logo{padding-top:30px;}
.contact_btn{padding:10px 30px;width:250px;border-radius:25px;color:#000;font-weight:700;border:1px solid #000;background:#fff;font-family:'Montserrat';}
button.contact_btn:hover{background:#000;color:#fff;}
.map_contact{padding-top:10px;}
.contact_us_1{padding-bottom:30px;}
.contact_us_2{color:#000;padding-top:15px;}
.contact_text{text-align:center;font-weight:800;font-size:35px;color:#000;}
.login_form{padding-left:160px;}
.login_google_icon{color:#f44336;}
.login_google_btn{border-radius:4px;background-color:white;color:black;border:1px solid #f44336;}
.login_page{padding-left:54px;}
.req_star_textbx{padding-left:3px;padding-top:6px;font-size:20px;}
.forgotpass{padding-left:0px;}
.login_form_textbox{padding-bottom:15px;display:-webkit-inline-box;}
.login_forgotpass_link{color:#000;}
.login_form_btn{border-radius:4px;background-color:#6b36f4;color:#FFF;width:150px;}
.login_btn_1{padding-top:10px;}
.login_signup_link{text-align:center;}
.form_checkbox{box-shadow:none;background:transparent;border:2px solid rgba(0, 0, 0, 0.1);height:21px;font-size:18px;font-weight:300;width:10%;}
.login_rem_2{display:inline-flex;padding-left:15px;}
.login_rem{padding-left:7px;padding-top:5px;color:#000;}
.signup_form{padding-left:100px;}
.signup_newsletter{padding-top:2px;color:#000;}
.terms_condition{color:#000;display:-webkit-inline-box;}
.security_ques{padding-left:189px;padding-right:33px;}
.error_login{text-align:center;background-color:antiquewhite;border:1px solid chocolate;color:#cc0000;}
.error_cls{padding-bottom:10px;}
.error{color:#F00;}
.popup_top_text{text-align:center;font-size:19px;color:#000;}
.popup_top_text_2{text-align:center;font-size:15px;color:#00bff3;padding:6px;font-weight:bold;}
@media (max-width:736px){.contact_text{padding-top:20px;text-align:center;font-weight:800;font-size:35px;color:#000;}
.login_form{padding-left:0;}
.login_forgotpass_link{padding-left:0;}
.login_remember_me{box-shadow:none;background:transparent;border:2px solid rgba(0, 0, 0, 0.1);height:21px;font-size:18px;font-weight:300;width:8%;}
.login_rem_2{display:flex;padding-left:15px;}
.login_rem{padding-left:5px;padding-top:2px;color:#000;padding-bottom:6px;}
.signup_form{padding-left:0;}
.login_page{padding-left:0;}
}
@media (max-width:768px){.contact{padding-left:40px;padding-right:40px;padding-bottom:30px}
.text_2{padding-top:0;text-align:center;font-weight:800;font-size:33px;color:#000;}
.contact_form{padding-left:45px;padding-top:40px;font-size:25px;color:#000;}
.contact_form_1{color:#000;padding-left:10px;padding-top:15px;}
.slider_text{color:#000;font-weight:800;padding-left:40px;padding-right:40px;padding-top:10px;padding-bottom:15px;text-align:center;}
}
@media (min-width:1280px){.modal-dialog.modal-lg.login_form{position:relative;margin-top:120px;}
.login_page{padding-left:54px;margin-left:6.6%;width:30%;}
.login_page_2{padding-left:54px;margin-left:0.6%;width:69%;}
.login_google_btn{background-color:white;color:black;border:1px solid #f44336;display:block;padding:4px 60px !important;text-align:left;border-radius:5px;height:47px;}
.login_google_icon{color:#f44336;font-size:14px;text-align:center !important;}
.login_form_or{text-align:center;font-weight:normal;color:#000;font-size:14px;margin:20px 0px -6px 0px !important}
.input-group-addon{padding:6px 12px;font-size:14px;font-weight:400;line-height:1;color:#555;text-align:center;background-color:#fff;border:1px solid #ccc;border-radius:4px;}
input#username{border-left:0px !important;border:1px solid #ccc;height:42px;font-size:16px;}
input#password{border:1px solid #ccc;border-left:0;font-size:16px;height:42px;}
.fa-user-o:before{content:"\f2c0";font-size:15px;}
.fa-lock:before{content:"\f023";font-size:18px;}
.login_page .modal-title{margin:0;line-height:1.42857143;font-family:'Roboto Slab', serif;font-weight:600;}
input#login_submit{background-color:#f27669;padding:0;font-size:16px;line-height:40px;outline:0;border:0;border-radius:5px;height:auto;color:#fff;}
form#login_frm{margin-bottom:0;}
.login_rem_2{display:inline-flex;padding-left:2px;}
.login_btn_1{padding-top:0;}
.signup_form .col-md-5{width:49%;padding-left:125px;margin-left:3.6%;}
.otp_first .col-md-5{width:65%;padding-left:0px;margin-left:70px;}
.new_pass .col-md-5{width:42%;padding-left:0px;margin-left:160px;}
.conf_pass .col-md-5{width:35%;padding-left:0px;margin-left:160px;}
.signup_frm{width:49%;padding-left:125px;margin-left:-5.4%;}
.signup_form h4.modal-title{margin:0;line-height:1.42857143;font-family:'Roboto Slab', serif;font-weight:600;}
input#email, input#contact{border-left:0px !important;border:1px solid #666666;height:42px;font-size:18px;border-top:0;border-right:0;color:#000;}
.signup_newsletter{padding-top:3px;color:#868686;font-size:13px;}
form#signup{margin-bottom:6px;}
.col-lg-12.login_form_textbox{font-size:12px;}
input#subscribe{height:15px;}
}
.login_btn, .signup_btn{background-color:#fff;color:#000;font-family:'Montserrat';}
.login_btn:hover, .signup_btn:hover{background:#000;color:#fff;}
.ubea-section{background:#fff;}
div#portfolio_sec{padding-top:30px;}
div#contact_sec{padding-top:30px;}
.login_page h4.modal-title , .signup_form h4.modal-title{font-family:Roboto !important;color:#333;font-size:18px;font-weight:300 !important;}
button.form-control.login_google_btn{background:#d34836;border:1px solid #d34836;color:#fff;}
button.form-control.login_google_btn:hover, button.form-control.login_google_btn:focus{background:#fff;border:1px solid #d34836;color:#d34836;}
button.form-control.login_google_btn:hover a.login_google_icon{color:#d34836;}
a.login_google_icon{color:#fff;}
#login_frm span.input-group-addon, #signup_frm span.input-group-addon{border:1px solid #ababab;}
#login_frm .input-group .form-control, #signup_frm .input-group .form-control{border:1px solid #ababab !important;border-left:0 !important;font-size:13px;max-height:40px;}
a.login_forgotpass_link{float:right;}
a.login_forgotpass_link, #login_frm .login_signup_link a, #signup_frm .login_signup_link a{font-family:Roboto;font-weight:300;color:#b380ff;text-decoration:underline;margin-right:-10px;}
a.login_forgotpass_link:hover, a.login_forgotpass_link:focus, #login_frm .login_signup_link a:hover, #login_frm .login_signup_link a:focus, #signup_frm .login_signup_link a:hover, #signup_frm .login_signup_link a:focus{color:#333;}
#login_frm input#login_submit, input#signup_submit{background:#8533ff;width:50%;font-size:14px;border:1px solid #cc99ff;}
input#signup_submit{width:60% !important;padding-right:50px !important;}
#login_frm input#login_submit:hover, #login_frm input#login_submit:focus, input#signup_submit:hover, input#signup_submit:focus{background:#fff;border:1px solid #00bff3;color:#00bff3;}
#login_frm .login_signup_link, #signup_frm .login_signup_link{font-size:13px;color:#333;}
.login_form_textbox label.error{position:absolute;left:0;margin:40px 0 0 0;font-size:12px; font-family: "Roboto",sans-serif !important;}
.col-lg-12.login_form_textbox{text-align:center;font-size:13px;}