.profile{
	width: 100%;
	text-align: center;
  padding: 20vh 0 0 0;
}
body#view-page{
  background: #fff;
}
section#content{
  background: #fff;
}
.content-profile{
	width: 100%;
	text-align: center;
}
.profile img {
    margin: 0 0 20px 0;
}
.content-profile a {
    background: #624ecd;
    text-align: center;
    padding: 15px 15px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 -2px 0 #d9d3f7;
}
.content-profile p {
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}
.top-bar{
	width: 100%;
	float: left;
	margin-top: 10px;
}
.top-bar h2, .top-bar h2 a {
    color: #000;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-left: 60px;
}
.top-bar h4 a{
    color: #c1c6d9;
    padding-bottom: 10px;
    font-size: 12px;
  	margin-left: 30px;
}
.input-field input[type=text]:focus, .input-field input[type=tel]:focus, .input-field input[type=email]:focus, .input-field select	:focus{
     box-shadow: 0 1px 0 0 transparent !important;
    /* background: #fefaef;*/
     padding-left: 25px;
     float: left;
     color: #000;
}
.forms-set{
	width: 45%;
	margin: 0 auto;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
	border: none !important;
}
/*#main{
	background: #f8f9fd;
}*/
.fbtn{
	width: 45%;
	margin: 0 auto;
}
.fbtn a {
    float: right;
    color: #B0B7CA;
    padding: 5px 30px;
    border: 1px solid #B0B7CA;
    border-radius: 4px;
    margin-top: 20px;
}
.fbtn a:hover {
    background: #6551d0;
    color: #fff;
    border: 1px solid #6551d0;
}
.margin-l{
	margin-right: 15px;
}
.form-outer{
	margin-top: 50px;
}
.top-bar h4 a span {
    margin-left: 10px;
}
.form-top {
    width: 100%;
    float: left;
    border-bottom: 2px solid #F3F4F9;
    padding-bottom: 20px;
    padding-top: 20px;
}
.left-ftop{
    width: 50%;
    float: left;
    padding: 0 64px;
}
.left-ftop h5 {
    margin-bottom: 0 !important;
    font-size: 24px;
    font-weight: 400;
}
.right-ftop{
    width: 50%;
    float: right;
}
.right-ftop a {
    background: #7864e9;
    padding: 12px 10px;
    float: right;
    color: #fff;
    border-radius: 4px;
    margin-right: 60px;
    margin-top: 5px;
    font-size: 12px;
    box-shadow: 2px -2px 0 #d4cff7;
}
.left-ftop span {
    font-size: 12px;
    color: #b0b7c9;
}
.form-data{
    margin-top: 20px;
}
.form-data thead tr, .form-data thead{
    border: none !important;
}
.form-data tbody tr{
    border-bottom: 3px solid #7965E929;
}
.btn.btn-default {
  border: 2px solid #d4d8e4;
  text-transform: capitalize;
  color: #c0c3d4;
  box-shadow: none;
  position: relative;
  min-width: 160px;
  font-size: 12px;
  }
.dropdown-button.btn .material-icons {
  position: absolute;
  right: 4px;
  font-size: 14px;
}
.btn.no-background{
  background: none; 
}

.icon.download{
  background: url(img/icons/download.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icon.export{
  background: url(img/icons/export.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icon.email{
  background: url(img/icons/email.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icon.deactivate{
  background: url(img/icons/deactivate.png) no-repeat center;
  width: 25px;
  height: 20px;
}
.icons.deactivate{
  background: url(img/icons/deactivate.png) no-repeat center;
  width: 25px;
  height: 20px;
  float: right;
}

.below-top{
    width: 100%;
    float: left;
    border-bottom: 2px solid #F3F4F9;
    padding-bottom: 20px;
}
.below-left{
    width: 70%;
    float: left;
    padding:0 11px;
}
.below-right{
    width: 30%;
    float: right;
}
.ser {
  border: 2px solid #d4d8e4;
  padding: 5px 8px;
  border-radius: 4px;
  color: #b1b8ca;
  font-size: 25px !important;
}
.below-right .bulk{
  float: right;
}
.bulk{
    float: left;
    margin-right: 27px;
    margin-top: 0;
}
.icon-ser{
    float: left;
    margin-right: 20px;
    margin-top:0;
    cursor: pointer;
}
.tbl-cls{
    padding:  0 100px;
    color: #B0B9CA;
    margin-top: 20px;
}
.tbl-cls table thead{
    text-transform: uppercase;
    font-size: 12px;
}
.purple:checked + label:before {
  top: -4px;
  left: -3px;
  width: 5px;
  height: 14px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #7965E9; /* You need to change the colour here */
  border-bottom: 2px solid #7965E9; /* And here */
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; 
}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    width: 14px;
    height: 14px;
    border: 2px solid #d4d8e4;
 }

 tr.disabled [type="checkbox"] + label:before, tr.disabled [type="checkbox"]:not(.filled-in) + label:after {
    width: 14px;
    height: 14px;
    border: 2px solid #eeeef6;
 }
 table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 2px solid #7965e929;
}
.tbl-cls table td{
    color: #000;
    width: 120px;
}
.test{
    border: none !important; 
}
.btn.btn-default.test{
    min-width: 50px !important;   
}
.border-radius-3 {
    border-radius: 3px !important;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
}
tr[disabled="disabled"] td{
  color: #ccc;
}
.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-flat:disabled, .btn[disabled], [disabled].btn-large, .btn-floating[disabled], .btn-large[disabled], .btn-flat[disabled]{
  background-color: transparent !important;
}
[type="checkbox"]:not(:checked):disabled + label:before{
  border: 2px solid #eeeef6;
  background-color: transparent !important;
  pointer-events: none;
}
/*.card-panel{
  padding: 0 !important;
}*/
.forms p {
    margin-bottom: 10px;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    color: #362e5f;
}
.profile-cards {
    width: 45%;
    margin: 0 auto;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
  color: #B0B7CA;
}
button, input, optgroup, select, textarea, .select-wrapper span.caret{
   color: #B0B7CA !important;
    font-size: 13px !important;
}

input:not(.browser-default).validate + label{
  padding-left: 24px;
}
.sel{
  padding: 0 50px !important;
}
input:focus{
  position: relative;
  z-index: 2;
}
input[type=text]:focus + label {
   background: #fefaef;
   border-left: 6px solid #ff7d99 !important;
   float: left;
   padding: 15px 25px 30px 25px;
}
.list-top{
  width: 100%;
  float: left;
}
.list-left{
  width: 50%;
  float: left;
}
.list-right{
  width: 50%;
  float: right;
  margin-top: 25px;
}
.top-barl h4 a {
    color: #B0B7CA;
    padding-bottom: 10px;
    font-size: 12px;
}
.top-barl {
    width: 100%;
    float: left;
}
.top-barl h4 {
    margin-top: 10px !important;
}
.right-1 {
    text-align: right;
    width: 78%;
    float: right;
    border-right: 1px solid #e0e4f0;
    margin-right: 15px;
    height: 22px;
    max-width: 35px;
}
.right-1 i {
    margin-right: 15px;
    color: #B0B7CA;
}
.right-2 a, .top-barl a {
    color: #B0B7CA;
    text-decoration: underline;
    font-size: 12px;
}
.data-list{
    background: #7965ea;
    width: calc(100% - 43px);
    margin-left: 21px;
    border-radius: 5px;
    float: left;
}
.first-list{
  width: 100%;
  float: left;
  padding: 25px 0 20px 0;
}
.first-left{
  width: 92%;
  float: left;
  border-left: 5px solid #FF7D9A;
  padding: 10px 0;
}
.first-right{
  width: 8%;
  float:right;
  padding: 10px 0;
}
.first-list i{
  float: left;
  margin-top: 9px;
  margin-left: 16px;
  margin-right: 15px;
  color: #51e2c5;        
}
.first-list h5 {
    margin-top: 7px !important;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}
.data-lists{
  width: 90%;
  float: left;
  padding: 0 0 0 60px;
}
.data-list-left{
  width: 50%;
  float: left;
  padding-bottom: 25px;
}
.data-list-left p {
    color: #fff;
    font-weight: 300;
    margin: 5px 0;
    font-size: 14px;
}
.data-list-left span {
    color: #ced5f1;
    font-size: 10px;
    letter-spacing: 0.2px;
}
.data-list-left i {
    float: left;
    margin-right: 14px;
    margin-bottom: 4px;
}
.data-list-p{
  margin-left: 41px;
}
.globe {
    position: relative !important;
    width: 25px;
    font-size: 22px !important;
    top: 7px;
    left: 6px;
}
a.done-btn{
  color: #000;
  border: 2px solid #B0B7CA;
  padding: 8px 32px;
  border-radius: 5px;
  opacity: 0.2;
}
a.integrate-btn {
    color: #7964e7;
    border: 2px solid #bcb1f3;
    padding:10.5px 20px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
}

[type="checkbox"]:focus + label{
  border-left: none !important;
  background: transparent !important;
}
table#myprofile-table td {
    vertical-align:middle;
    border-bottom:3px solid #ecedf1b0 !important;
    border-top: none !important;
    background: #fff !important;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
table#myprofile-table tr.disabled td {
  opacity: 0.35;
  color: #b4b5b9;
}
tr.disabled img {
    opacity: 0.2;
}
table#myprofile-table td:first-child {
  padding:6px 0 0 19px !important;
}
div#manage-tbl table.dataTable thead th, table.dataTable thead td{
  padding: 0 !important;
}
/*div#manage-tbl table.dataTable thead .sorting_asc {
    width: 100px !important;
}
div#manage-tbl table.dataTable thead .sorting_disabled{
    width: 94px !important;
}
div#manage-tbl table.dataTable thead .sorting {
    width: 150px !important;
}*/
div#manage-tbl table.dataTable.display.table-type2 {
    padding: 0 38px;
}
.btn-bg{
  background: url(img/icons/btn-background.png) no-repeat center;
  width: 100%;
  height: 100px;
}
.btn-bg a {
    position: relative;
    left: 0;
    top: 32px;

}
.icon.print{
  background: url(../images/printer.png) no-repeat center;
  width: 25px;
  height: 20px;
  float: right;
  color: #B0B7CA;
}
#tbl-bg-view {
  width: 100%;
  float: left;
}
.tbl-bg-view-r{
  width: 90%;
  float: left;
}
.tbl-bg-view-r {
    background: url(img/icons/new2.png) no-repeat;
    width: 14%;
    height: 16px;
    float: right;
    margin-right: 13px;
}
.right-2 {
    float: right;
}

.top-barl h4 a:before {
    content: '';
    position: absolute;
    margin:20px 0 0 -25px;
    background: url(../images/arrow-o-circle-left-black.png) no-repeat;
    width: 12px;
    height: 12px;
}
.pro {
    position: relative;
    margin-top: -70px;
    margin-left: 17px;
}
.left-ftop h5 {
    color: #25292c;
}
.bulk a.dropdown-button.border-radius-3.btn.btn-default.no-background {
    text-align: left !important;
    padding: 0 15px;
}
table#myprofile-table .disabled td {
  border-bottom: 5px solid #f8f9fd !important;
  background: #fafbff !important;
}
table#myprofile-table td{
    background: #fff;
}
i.arrow-icon.arr-bulk {
    position: relative;
    top: 6px;
    left: 16px;
}
table#myprofile-table thead th:first-child, table#myprofile-table thead td:first-child {
    padding:0 0 0 20px;
    width: 20px !important;
}
section.bg-cp{
  background: #f8f9fd !important;
}
/*.icon.yes-bank{
  background: url(img/icons/yes-bank.jpg) no-repeat center;
  width: 100%;
  height: 100px;
}*/
i.material-icons.arrows{
  font-size: 20px !important;
}
input#email{
  color: #b1b8cb;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown{
  width: 82% !important;
}
input.active:not(.browser-default){
  width: 82% !important;
}
.icon.mail {
    background: url(../images/mail.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px;
}
.icon.company {
    background: url(../images/company-icon.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px;
}
.icon.access {
    background: url(../images/access-icon.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px;
}
.icon.ppexport {
    background: url(../images/personal-profile-export-icon.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px;
}
.below-right .bulk {
    margin: 0 11px 0 0;
}
body{
  background: #f8f9fd;
}
.bulk .btn-dropdown-action{
  letter-spacing: 0.5px;
}

table#myprofile-table td:last-child > .material-icons{
  color:#50f1ae !important;
  font-size: 10px!important; 
  margin: 11px 10px 0 0;
}

table#myprofile-table td:last-child > .material-icons.deactive {
    color: #f1bec1 !important;
}
td,th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.country-dropdown ul{
  overflow: hidden;
  height: 500px !important;
}
table#myprofile-table img{
  display: none;
}