/* Arts, culture & artists 
.bv-catgr{
	float:left !important;
	width:12% !important;
	padding: 0px 0 20px 30px;
}
*/


/* without Arts, culture & artists */
.bv-catgr {
    float: left !important;
    width: 14% !important;
    padding: 0px 0px 20px 65px;
}
/* ****** */

.bv-catgr-art{
	float:left !important;
	width:12% !important;
	padding: 0px 0 20px 30px;
}

.bv-catgr-child{
	float:left !important;
	width:12% !important;
	padding: 0px 0 20px 30px;
}

.bv-catgr ul li a{
	color:#fff;
}

.bv-catgr-art ul li a{
	color:#fff;
}

.bv-catgr-child ul li a{
	color:#fff;
}

.cat-name-art{
	font-size:13px;
	font-family:roboto, sans-serif;
	font-weight:bold;
	color:#ff6600;
	padding-top:12px;
}

.cat-name-sci{
	font-size:13px;
	font-family:roboto,sans-serif;
	font-weight:bold;
	color:#6600cc;
	padding-top:12px;
}

.cat-name-pet{
	font-size:13px;
	font-family:roboto,sans-serif;
	font-weight:bold;
	color:#33cc33;
	padding-top:12px;
}

.cat-name-peo{
	font-size:13px;
	font-family:roboto,sans-serif;
	font-weight:bold;
	color:#ff33cc;
	padding-top:12px;
}

.cat-name-helt{
	font-size:13px;
	font-family:roboto,sans-serif;
	font-weight:bold;
	color:#333399;
	padding-top:12px;
}

.cat-name-life{
	font-size:13px;
	font-family:roboto,sans-serif;
	font-weight:bold;
	color:#990073;
	padding-top:12px;
}

.cat-name-edu{
	font-size:13px;
	font-family:roboto,sans-serif;
	font-weight:bold;
	padding-top:12px;
	color:#66ccff;
}

.cat-name-child{
	font-size:13px;
	font-family:roboto,sans-serif;
	font-weight:bold;
	color:#ff9900;
	padding-top:12px;
}

.cat-list{
	background-color:#000 !important;
	padding:2% 2px;
	margin-bottom:2%;
	font-family:"Arial", sans-serif !important;
}

.art-list li{
	font-size:13px;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.sci-list li{
	font-size:13px;
	color:#fff !important;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.pets-list li{
	font-size:13px;
	color:#fff !important;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.peo-list li{
	font-size:13px;
	color:#fff;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.hel-list li{
	font-size:13px;
	color:#fff;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.hel-list li{
	font-size:13px;
	color:#fff;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.life-list li{
	font-size:13px;
	color:#fff;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.edu-list li{
	font-size:13px;
	color:#fff;
	list-style: none;
	padding:8px 0;
	text-align:left;
}

.child-list li{
	font-size:13px;
	color:#fff;
	list-style: none;
	padding:8px 0;
	text-align:left;
}