.edit-pic{
	padding:3% 0;
}

.title-editor h4{
	font-size: 35px;
	font-family: Arial;
	color: grey;
}

.editor-video {
	width: 80%;
	height: 200px;
}

.editor-video .video-container video{
	top: 0;
	margin-left: -200px;
	width: 122.6%;
	height: 350px;
	max-height: 450px;
	border-radius:10px;
}

.editor-video .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	margin-left: -200px;
	width: 122.6%;
	height: 350px;
	max-height: 450px;
}

/*..........................*/

.editor-video-1 {
	width: 80%;
	height: 200px;
}

.editor-video-1 .video-container video{
	top: 0;
	margin-left: -200px;
	width: 122.6%;
	height: 350px;
	max-height: 450px;
	border-radius:10px;
}

.editor-video-1 .video-container .youtube, .editor-video-1 .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	margin-left: -200px;
	width: 135%;
	height: 350px;
	max-height: 450px;
	padding-left: 44%;
}

.editor-video-two-1 {
	width: 80%;
	height: 200px;
}

.editor-video-two-1 .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	/*width: 122.6%;*/
	width: 101%;
	height: 150px;
	max-height: 450px;
}

.editor-video-two-1 .video-container video{
	top: 0;
	left: 0;
	width: 122.6%;
	height: 150px;
	max-height: 450px;
	border-radius:10px;
}

.editor-video-three-1 {
	width: 60%;
	/*height: 460px;*/
}

.editor-video-three-1 .video-container .youtube, .editor-video-three-1 .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	width: 103%;
    height: 240px;
    max-height: 450px;
}

.video-details-one-1{
	background-color:#fff !important;
	width: 160%;
	margin-left: 147px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.editor-video-four-1 {
	width: 80%;
	height: 275px;
}

.editor-video-four-1 .video-container .youtube, .editor-video-four-1 .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	width: 105.2%;
    height: 240px;
    max-height: 450px;
}

.editor-video-four-1 .video-container video{
	top: 0;
	left: 0;
	margin-top:-60px !important;
	margin-left: 180px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}

.editor-video-five-1 {
	width: 80%;
	height: 275px;
}

.editor-video-five-1 .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	width: 105.2%;
    height: 240px;
    max-height: 450px;
}

.editor-video-five-1 .video-container video{
	top: 0;
	left: 0;
	margin-top:-60px !important;
	margin-left: 260px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}

.video-details-three-1{
	background-color:#fff !important;
	width: 118.5%;
	margin-left: 245px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
/*..........................*/

.editor-video-two {
	width: 80%;
	height: 200px;
}

.editor-video-two .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	width: 122.6%;
	/*width: 101%;*/
	height: 150px;
	max-height: 450px;
}

.editor-video-two .video-container video{
	top: 0;
	left: 0;
	width: 122.6%;
	height: 150px;
	max-height: 450px;
	border-radius:10px;
}

.editor-video-three {
	width: 60%;
	height: 460px;
}

.editor-video-three .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	margin-right: -300px;
	width: 122.6%;
	height: 150px;
	max-height: 450px;
}