
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}	
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}

/* Desktop View */
@media only screen and (min-width: 992px) {
	.desktop-view{
		display:block !important;
	}
	
	.mobile-view{
		display:none !important;
	}
	
	#navbarSupportedContent{
		display:block !important;
	}
	
	#navbarMobileContent{
		display:none !important;
	}
} 

*:focus {
    outline: none;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
	body{
		width:100% !important;
	}
	
	#navbarSupportedContent {display:none !important;}
  
	.navbar{
		width:100% !important;
	}
	
	.section{
		width:100% !important;
	}
	
	.section h3 {
		text-align:left !important;
		font-size:15px !important;
	}
	
	.desktop-view{
		display:none !important;
	}
	
	.mobile-view{
		display:block !important;
	}
	
	.container {
		width: 100%;
		padding-right: 40px;
		padding-left: 40px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.for-mobile{
		padding:4% 0 30px 8% !important;
	}
	
	.tc-head p {
		font-size:25px !important;
	}
	
	#bv-about-us{
		width:100% !important;
	}
	
	#bv-submit-story{
		width:100% !important;
	}
	
	.input-container{
		width:100% !important;
	}
	
	#submit-story-form{
		padding:1% 1% 3% 12% !important;
	}
	
	.navbar-expand-lg .navbar-collapse {
		display: -ms-flexbox !important;
		display: none !important;
	}

	.navbar-expand-lg .navbar-collapse.show{
		display: -ms-flexbox !important;
		display: block !important;
	}
	
	.mobile-view h3{
		text-align:center !important;
		padding-top:0px !important;
	}
	
	.mobile-view ..head-margin {
		margin-left:75px;
	}
	
}
/* MOBILE CSS EXIT */
.bg-light {
	background-color: white !important;
}

.dropdown.cat-drop-head{
	border-radius: 10px; 
	border: 1.1px solid #adadad;
	color: #adadad;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	min-width: 125px;
}

.dropdown {    
	border-radius: 10px; 
	/*border: 1.5px solid #adadad;*/
	color: #adadad;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	min-width: 100px;
}

.home-cat-drop{
	display: none;
	position: absolute !important;
	min-width: 1300px !important;
	max-width: 1500px !important;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
	z-index: 1;
}

.dropdown-menu {
	display: none;
	position: absolute !important;
	min-width: 125px;
	max-width: 400px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
	z-index: 1;
}

.home-cat-drop.show {
	transform: translate3d(-50px, -293px, 0px) !important;
    top: 0px !important;
    left: -750px !important;
    will-change: transform !important;
	border:none !important;
}

.navbar {
	background: #fff !important;
	padding-bottom: 0px !important;
	margin-bottom: 4px !important;
	margin-top: -2px !important;
}

.navbar-nav li {
	position: relative;
	margin-right: 10px;
	font-weight: 500;
}

.social-item {
	padding-top: 7px;
}

.dropdown-item {
	padding: 0.8rem 1.5rem;
}

.dropdown-toggle::after {
	margin-left: 8px !important;
}

#navbarSupportedContent ul{
	/*padding-left: 30%;*/
	display:absolute !important;
	float:right !important;
}

hr{
	margin: 1rem 0 0px 0 !important;
}

.footer-margin {
	padding: 30px;
	background-color: #bf4b3d;
}

.cat-name{
	padding-top :13px;
	font-family: sans-serif !important;
	font-size: 17px !important;
	font-weight: bold !important;
}

.sub-stories {
	padding-top :13px;
	font-family: sans-serif !important;
	font-size: 17px !important;
	font-weight: bold !important;
}

#popUpMain {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1001;
}

#popup {
	width: 350px;
	height: 660px;
	background-size: cover;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	box-shadow: 1px 2px 10px 3px black;
	text-align: center;
	background-color: white;
}

#langHeading {
	font-family: Arial;
	font-size: 20px;
	color: white;
	margin-top: 40px;
	margin-bottom: 20px;
}

a:hover{
	text-decoration: none !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://bharatvaani.in/assets/images/logo/last.gif') center no-repeat #fff;
    opacity: 0.8;
}
	