/* Mobile View */
.section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  padding-top: 440px;
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 22px;
  z-index: 1;
  opacity: 0.7;
  margin-bottom: 7px;
}

.section h3 {
  padding-top: 440px;
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 22px;
  z-index: 1;
  opacity: 0.7;
  margin-bottom: 7px;
}

.video-container {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
}

.search-cat{
  background-color: #bf4b3d;
  height: 110px;
}

.search-contain{
  background-color: white;
  padding: 2% 0 5% 0%;
  margin: 3.1% 0% 3.3% 0%;
  border-radius: 50px;
}

.search-contain input{
  background-color: white;
  width: 730px;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 3px;
  border: none;
}

/*Mobile View */
.mobile-view .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100px;
  margin:0px 43%;
  text-align: center;
}

.mb-search-contain{
  background-color: white;
  padding: 2% 0 5% 0%;
  margin: 2.2% 0% 3.3% 0%;
  border-radius: 50px;
  height:45px !important;
}

.mb-search-contain input{
  background-color: white;
  width: 90%;
  padding-left: 10px;
  margin-left: 15px;
  margin-top: 7px;
  border: none;
}

.mb-search-contain .mb-search[type=submit] {
    font-family: Arial;
    font-size: 15px;
    background-color: #bf4b3d;
    border-radius: 20px;
    width: 75px;
    height: 30px;
    color: white;
    margin-top: -5px;
    padding: 0px 2px 0 0 !important;
}

.mb-search-contain #bv-sub{
	margin:1px 0px 0 0px !important;
}

.mobile-view .search-cat{
  background-color: #bf4b3d;
  height: 80px !important;
  padding: 8px 0 0 0;
}

.mobile-view .editor-video .video-container iframe, .video-container object, .video-container embed {
    top: 0;
    margin-left: -230px;
    width: 110% !important;
    height: 185px;
    max-height: 450px;
}

.mobile-view .editor-video-two .video-container iframe,.video-container object,.video-container embed {
	top: 0;
	left: 0;
	width: 110% !important;
	height: 150px;
	max-height: 450px;
	margin-left: -230px;
}

.mobile-view .video-details-one{
	background-color:#fff !important;
	width:92%;
	margin-left: 50px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.mobile-view .video-details-two{
	background-color:#fff !important;
	width: 122%;
	margin-left: 200px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.mobile-view .video-details-three{
	background-color:#fff !important;
	width: 122.5%;
	margin-left: 245px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.mobile-view .editor-video-three .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100px;
    margin: 0px -24%;
    text-align: center;
}
/* END */
#bv-sub{
	margin:-6px 15px 0 0;
}

.dropdown-header{
	
}

.drop-cat-list{
	padding:3px 0 3px 24px !important;
	font-size:13px !important;
}

#institution{
	background-color: #fff !important;
    color: #595959;
    padding: 0px 13px;
    border: none !important;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    margin: 2px 0 0 -50px;
    font-family: "roboto";
}

.carousel-control-prev-icon {
  color: #bf4b3d !important;
}

.carousel-control-next-icon {
  color: #bf4b3d !important;
}

.carousel-control-prev {
 width: 9%;
}

.carousel-control-next {
  width: 9.5%;
}