.head-margin {
  padding: 30px;
  background-color: #bf4b3d;
  color: white;
}

.mobile-view .head-margin {
  padding: 15px;
  background-color: #bf4b3d;
  color: white;
}

.design {
  font-family: Arial;
  font-size: 18px;
}