	@media only screen and (max-width: 600px) {
		#signup_frm input { font-size: 11px !important; }
		#signup_frm_mb input { font-size: 11px !important; }
		#signin_frm input{ font-size:11px !important; }
		#signin_frm_mb input{ font-size:11px !important; }
		#new_pass_frm input{ font-size:11px !important; }
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		-webkit-box-sizing: border-box;
        box-sizing: border-box;
		/* 1 */
		padding: 0;
		/* 2 */
	}
	[type="checkbox"].filled-in:checked + label:before {
		top: 0;
		left: 1px;
		width: 8px;
		height: 13px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		-webkit-transform: rotateZ( 37deg );
		transform: rotateZ( 37deg );
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	/* Remove default checkbox */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	[type="checkbox"] {
		/* checkbox aspect */
	}

	[type="checkbox"] + label {
		position: relative;
		padding-left: 20px;
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		font-size: 1rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
        user-select: none;
	}

	[type="checkbox"] + label:before,
	[type="checkbox"]:not(.filled-in) + label:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		z-index: 0;
		border: 2px solid #5a5a5a;
		border-radius: 1px;
		margin-top: 2px;
		-webkit-transition: .2s;
		transition: .2s;
	}

	[type="checkbox"]:not(.filled-in) + label:after {
		border: 0;
		-webkit-transform: scale(0);
        transform: scale(0);
	}

	[type="checkbox"]:not(:checked):disabled + label:before {
		border: none;
		background-color: rgba(0, 0, 0, 0.42);
	}

	[type="checkbox"].tabbed:focus + label:after {
		-webkit-transform: scale(1);
        transform: scale(1);
		border: 0;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	}
	
	[type="checkbox"]:checked + label:before {
		top: 1px;
		left: 0px;
		width: 8px;
		height: 14px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #26a69a;
		border-bottom: 2px solid #26a69a;
		-webkit-transform: rotate(40deg);
        transform: rotate(40deg);
		-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
		-webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
	}

	[type="checkbox"]:checked:disabled + label:before {
		border-right: 2px solid rgba(0, 0, 0, 0.42);
		border-bottom: 2px solid rgba(0, 0, 0, 0.42);
	}

	/* Indeterminate checkbox */
	[type="checkbox"]:indeterminate + label:before {
		top: -11px;
		left: -12px;
		width: 10px;
		height: 22px;
		border-top: none;
		border-left: none;
		border-right: 2px solid #26a69a;
		border-bottom: none;
		-webkit-transform: rotate(90deg);
        transform: rotate(90deg);
		-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}

	[type="checkbox"]:indeterminate:disabled + label:before {
		border-right: 2px solid rgba(0, 0, 0, 0.42);
		background-color: transparent;
	}

	[type="checkbox"].filled-in + label:after {
		border-radius: 2px;
	}

	[type="checkbox"].filled-in + label:before,
	[type="checkbox"].filled-in + label:after {
		content: '';
		left: 0;
		position: absolute;
		/* .1s delay is for check animation */
		-webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
		transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
		z-index: 1;
		border:1px solid red;
	}

	[type="checkbox"].filled-in:not(:checked) + label:before {
		width: 0;
		height: 0;
		border: 3px solid transparent;
		left: 6px;
		top: 10px;
		-webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
		-webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
	}

	[type="checkbox"].filled-in:not(:checked) + label:after {
		border: 2px solid #ccc;
		height: 18px;
		width: 18px;
		background-color: #ccc;
		top: 0px;
		z-index: 0;
	}

	[type="checkbox"].filled-in:checked + label:before {
		top: -1px;
		left: 0px;
		width: 8px;
		height: 13px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		-webkit-transform: rotateZ(37deg);
		transform: rotateZ(37deg);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}

		[type="checkbox"].filled-in:checked + label:after {
		  top: 0;
		  width: 18px;
		  height: 18px;
		  border: 2px solid #bc343a;
		  background-color: #bc343a;
		  z-index: 0;
		}

		[type="checkbox"].filled-in.tabbed:focus + label:after {
		  border-radius: 2px;
		  border-color: #5a5a5a;
		  background-color: rgba(0, 0, 0, 0.1);
		}

		[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
		  border-radius: 2px;
		  background-color: #26a69a;
		  border-color: #26a69a;
		}

		[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
		  background-color: transparent;
		  border: 2px solid transparent;
		}

		[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
		  border-color: transparent;
		  background-color: #949494;
		}

		[type="checkbox"].filled-in:disabled:checked + label:before {
		  background-color: transparent;
		}

		[type="checkbox"].filled-in:disabled:checked + label:after {
		  background-color: #949494;
		  border-color: #949494;
		}
	
	.login_form_textbox {
		padding-bottom: 25px;
		display: -webkit-inline-box;
	}
	
	.input-group-addon {
		padding: 6px 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		color: #555;
		text-align: center;
		background-color: #e5e5e5;
		border:1px solid #e5e5e5;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-right: none;
	}
	
	*{ font-family: roboto, sans-serif; }
	
	#signup_frm input{ font-size:13px; }
	#signup_frm_mb input{ font-size:13px; }
	input:focus { background-color: transparent !important; width:20%; box-shadow:none !important;}
	#signup_frm .form-control{ border:1px solid #e5e5e5; }
	#signup_frm_mb .form-control{ border:1px solid #e5e5e5; }
	.text-center{ text-align:center; }
	.logo-sign{ margin:5% 0 !important; }
	.logo-sign img{ width:50% !important; }
	.fa-user{ font-size:25px !important; }
	.fa-envelope-o{ font-size: 20px !important; margin: 2px -1px !important; }
	.fa-lock{ font-size: 26px !important; margin: 2px -0.5px !important; }
	.fa-refresh{ font-size: 21px !important; margin: 6px -0.5px !important; }
	.bv-input{ height:40px; line-height:40px; }
	.sign-bv{ height: 36px; width: 28%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 15px;}
	.sign-bv:hover{ height: 36px; width: 28%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff !important; font-size: 15px;}
	.sign-bv:focus{ height: 36px; width: 28%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff !important; font-size: 15px;}
	.sign-bv:active{ height: 36px; width: 28%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff !important; font-size: 15px;}
	.sign-bv:after{ height: 36px; width: 28%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff !important; font-size: 15px;}
	.bv{ color:#bc343a; font-size:14px; }
	.week_email{ line-height: 22px; padding-top: 0px !important; font-size: 13.5px; font-weight: 500; color: #6e6e70; padding-left:10px;}
	.modal-f{ background-color:#f0f0f5 !important; border-top: 1px solid #dee2e6;}
	.modal-footer{ padding:15px 10px; border-radius:5px; text-center:center; border-top:none;}
	.login_signup_link{ font-size:16px; color:#6e6e70; }
	.bv_color{ font-size:16px; color:#bc343a; } .bv_color:hover{ font-size:16px; color:#bc343a; }
	#verifify_modal .modal-body{ height:auto; text-align:center;}
	#verifify_modal .modal-content{ width: 75%; margin: 33% 12%; }
	#verifify_modal p{ font-size:20px; }
	#verifify_modal .bv{ font-size:20px !important; }
	
	/* Sign In page */
	
	.sign-text{ font-size: 16px; margin: 5% 4% -4% 8%; text-align: left; font-weight:600; }
	#signin_frm input{ font-size:13px; }
	#signin_frm input:focus { background-color: transparent; }
	#signin_frm .form-control{ border:1px solid #e5e5e5; }
	#signin_frm .week_email{ margin: -33px 0 0 10% !important; }
	
	#signin_frm_mb input{ font-size:13px; }
	#signin_frm_mb input:focus { background-color: transparent; }
	#signin_frm_mb .form-control{ border:1px solid #e5e5e5; }
	#signin_frm_mb .week_email{ margin: -33px 0 0 10% !important; }
	
	.login_forgotpass_link{ font-size:15px; color:#bc343a; font-weight:500; } 
	.login_forgotpass_link:hover{ font-size:15px; color:#bc343a;  font-weight:500;}
	.signin-bv{ height: 36px !important; width: 50% !important; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 15px; padding-left: 0px; padding-right: 15px;}
	.signin-bv:hover{ height: 36px !important; width: 50% !important; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 15px;     padding-left: 0px; padding-right: 15px;}
	.signin-bv:active{ height: 36px !important; width: 50% !important; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 15px;     padding-left: 0px; padding-right: 15px;}
	.signin-bv:after{ height: 36px !important; width: 50% !important; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 15px;     padding-left: 0px; padding-right: 15px;}
	
	.login_form_textbox label.error {
		position: absolute;
		left: 0;
		margin: 45px 0 0 0;
		font-size: 12px;
		font-family: "Roboto",sans-serif !important;
	}
	
	.error {
		color: #F00;
	}
	
	/* Mobile View */
	@media only screen and (max-width: 600px) {
		#forgot_email_modal .modal-content{ width: 50% !important; margin: 9% 5% !important; }
		#forgot_email_modal .can-btn{ float: right !important; margin: 0% 0% 0 0 !important; }
		#resend_email .modal-content{ width: 50% !important; margin: 20% 5% !important; }
		.error_login { font-size: 9.5px !important; padding-bottom: 5px; }
	}
	
	#forgot_email_modal .modal-body{ height:auto; text-align:center;}
	#forgot_email_modal .modal-content{ width: 85%; margin: 22% 7.5%; }
	#forgot_email_modal p{ font-size:17px; }
	#forgot_email_modal .bv{ font-size:17px !important; }
	#forgot_email_modal .forgot-title{ font-size:22px !important; }
	#forgot_email_modal .forgot_email{ padding: 4% 8%;}
	#forgot_email_modal .link-btn{ height: 36px; width: 66%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 15px; padding-left: 10px; padding-right: 15px; }
	#forgot_email_modal .can-btn{ float: right; margin: -11% -4% 0 0; }
	#forgot_email_modal .cancelbtn{ cursor: pointer; font-size:15px; color:#bc343a; } 
	
	#resend_email .modal-body{ height:auto; text-align:center;}
	#resend_email .modal-content{ width: 84%; margin: 33% 8%; }
	#resend_email p{ font-size:18px; }
	#resend_email .bv{ font-size:20px !important; }
	#resend_email .resend-bv{ height: 36px; width: 40%; border: 1px solid #bc343a; background-color: #bc343a; color: #fff; font-size: 15px;     padding-left: 0px; padding-right: 15px; }
	
	#new_pass_frm input{ font-size:13px; }
	#new_pass_frm input:active { background-color: transparent !important; }
	#new_pass_frm .form-control{ border:1px solid #e5e5e5; }
	.error_login{ font-size: 13.4px; padding-bottom: 5px; }