	@media only screen and (min-width: 600px) {
	  /* For tablets: */
	  .col-sm-1 {width: 8.33%;}
	  .col-sm-2 {width: 16.66%;}
	  .col-sm-3 {width: 25%;}
	  .col-sm-4 {width: 33.33%;}
	  .col-sm-5 {width: 41.66%;}
	  .col-sm-6 {width: 50%;}
	  .col-sm-7 {width: 58.33%;}
	  .col-sm-8 {width: 66.66%;}
	  .col-sm-9 {width: 75%;}
	  .col-sm-10 {width: 83.33%;}
	  .col-sm-11 {width: 91.66%;}
	  .col-sm-12 {width: 100%;}
	}

	@media only screen and (min-width: 768px) {
	  /* For desktop: */
	  .col-sm-1 {width: 8.33%;}
	  .col-sm-2 {width: 16.66%;}
	  .col-sm-3 {width: 25%;}
	  .col-sm-4 {width: 33.33%;}
	  .col-sm-5 {width: 41.66%;}
	  .col-sm-6 {width: 50%;}
	  .col-sm-7 {width: 58.33%;}
	  .col-sm-8 {width: 66.66%;}	
	  .col-sm-9 {width: 75%;}
	  .col-sm-10 {width: 83.33%;}
	  .col-sm-11 {width: 91.66%;}
	  .col-sm-12 {width: 100%;}
	}

	/* Desktop View */
	@media only screen and (min-width: 992px) {
		.desktop-view{
			display:block !important;
		}
		
		.mobile-view{
			display:none !important;
		}
		
		#navbarSupportedContent{
			display:block !important;
		}
		
		#navbarMobileContent{
			display:none !important;
		}
		.moblogo{ display:none; }
	} 

	*:focus {
		outline: none;
	}
	
	.bColor{
		color:#bc343a;
	}
	
	.green{ color:#12c426; }
	.agri_color{ color:#00d724; }
	.urban_color{ color:#74c1f7; }
	.travel_color{ color:#960175; }
	.insp_color{ color:#ffb4ec; }
	.health_color{ color:#524fa8; }
	.sci_color{ color:#914cc3; }
	.default_color{ color:#12c426; }

	/* Mobile View */
	@media only screen and (max-width: 600px) {
		body{
			width:100% !important;
		}
		
		#navbarSupportedContent {display:none !important;}
	  
		.navbar{
			width:100% !important;
		}
		
		.section{
			width:100% !important;
		}
		
		.section h3 {
			text-align:left !important;
			font-size:15px !important;
		}
		
		.desktop-view{
			display:none !important;
		}
		
		.mobile-view{
			display:block !important;
		}
		
		.container {
			width: 100%;
			padding-right: 40px;
			padding-left: 40px;
			margin-right: auto;
			margin-left: auto;
		}
		
		.for-mobile{
			padding:4% 0 30px 8% !important;
		}
		
		.tc-head p {
			font-size:25px !important;
		}
		
		#bv-about-us{
			width:100% !important;
		}
		
		#bv-submit-story{
			width:100% !important;
		}
		
		.input-container{
			width:100% !important;
		}
		
		#submit-story-form{
			padding:1% 1% 3% 12% !important;
		}
		
		.navbar-expand-lg .navbar-collapse {
			display: -ms-flexbox !important;
			display: none !important;
		}

		.navbar-expand-lg .navbar-collapse.show{
			display: -ms-flexbox !important;
			display: block !important;
		}
		
		.mobile-view h3{
			text-align:center !important;
			padding-top:0px !important;
		}
		
		.mobile-view ..head-margin {
			margin-left:75px;
		}
		
		.navbar-dark .navbar-toggler.bvtoggle {
			color: #000;
			border-color: #000;
		}
		.navbar-toggler-icon{
			padding-top:5px;
		}
		
		.a-link { padding: 1% 0px 0px 9% !important; }
		.bv_nav { position: inherit !important; }
		.compnyLogo{ display:none; }
		.search-form{ width:96% !important; }
		.rescollapse:not(.show) { display: block; }
		.catcollapse:not(.show) { display: block; }
		.mbbv-video { height: 156.5px !important; width: 100% !important; margin: 12% 0 0 -0.3%; }
		.mbtop-1-left{ border:1px solid #ccc; border-radius:10px; height:200px; width:105%; background-color:#fff; margin:10% 0 0 -3%;}
		.mbtrending-video-1{ width:300px; height:435px; }
		.mbtrending-video-1 .video-container{ margin: 5% 0 0 13%; background-color: #000; height: 250px; padding: 0px 0 0 0; border-radius: 20px; width:75%;} 
		.mbtrending-video-row{ background-color:#fef4ea; height:550px; margin-bottom:15%;}
		.mbtrending-other-video{ background-color: #fff; border: 1px solid #ccc; height: auto; border-radius: 10px; margin: -20% 0 0 6%; width: 90%; padding:2% 2%;}
		.bvfoot{ margin-top:1500% !important;}
		.mbvideorw{ padding: 4% 4%; }
		.mbtrending-desc{ padding: 10px 5% 0 5%; text-align:center; height:20px; font-size:13px; line-height:20px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; height:50px; }
		.mbsignup-middal-row{ margin: 10% 0% 0% 0%; }
		.mbsocial-row{ margin: 20% -2% 5% -2%; width: 160%; }
		.mbjust-added-video { background-color:#fff; height:450px; width: 95%; border: 1px solid #ccc; margin: 0 4% 18% 4%; border-radius: 10px; box-shadow: 0 0 50px rgb(168 163 163 / 65%);}
		.mbjust-added-video h2{ text-align:center; font-size:25px; font-weight:600; }
		.mbtrending-other-video{ background-color: #fff; border: 1px solid #ccc; height: auto; border-radius: 10px; margin: -35% 0 0 0%; width: 100%; padding:2% 2%;}
		.search-input{ width:90% !important; }
		.mblink{ margin: 0 0 0 0 !important; }
		.mblink.lgbtn{ padding:0px !important; line-height:0px !important; }
		.mblink .navbar-toggler{ display:none !important; }
		.bvLogin{ font-size: 14px; padding:5px 9% !important; color: #000; font-weight: 600; }
		#bvSignup{ width: 85% !important; margin: 3% 0 0 9% !important; }
		.upldVid{ margin: -4% 0 0 9% !important; }
		.searchItem{ padding:15px 5px 0 9% !important; }
		.proDrop{ padding:5% 5% 0 9% !important; }
		#bv_change_pass .modal-content { width: 85% !important; margin: 20% 0%; border-radius: 10px; }
		#bv_feedback .modal-content { width: 70% !important; margin: 20% 0%; border-radius: 10px; }
		#bv_deactive .modal-content { width: 85% !important; margin: 20% 0%; border-radius: 10px; }
		#bv_signout .modal-content { width: 85% !important; margin: 20% 0%; border-radius: 10px; }
		#bv_user_awards .modal-content { width: 90% !important; margin: 20% 5% !important; border-radius: 10px; }
		#bvuploadvideo{ max-width: 550px; margin: 3% 2% 0px 2% !important; }
		#bvuploadvideo .modal-content{ width: 85% !important; margin: 20% 0%; border-radius:10px; }
		#bvuploaddetails .modal-content{ width: 85% !important; margin: 0% 5%; border-radius:10px; overflow-y: scroll; height: 92%; }
		#bvuploadvideo .select-file{ height: 40px; width: 45% !important; border: 1px solid #bc343a; background-color: #bc343a; color: #fff !important; font-size: 14px; padding: 0px; border-radius: 8px; line-height:38px;}
		.video--cat{ padding:0 10px !important; width:125% !important;}
		.playfirst {
			left: 0% !important;
			top: -110% !important;
		}
		.viewMoreVid{
			margin: 5px 0 0 8% !important; 
		}
		.morevidRw{
			margin:0 0px 0 0% !important;
		}
		.moreVVid .youtube5 img {
			width: 100%;
			height: 155px;
			border-radius: 0px;
			object-fit: fill;
		}
		.morePlay .playpause {
			width: 25%;
			height: 25%;
			left: -2%;
			right: 0%;
			top: -12%;
		}
		.mbBlog .tab {
			overflow: hidden;
			margin: 0 0%;
			padding: 0 2%;
			width: 100%;
		}
		.mbBlog .tab button.active {
			font-size:12px;
		}
		.mbBlog .tab button{
			font-size:12px;
			padding: 14px 2px
		}
		.mbBlog .tabcontent {
			padding: 5% 0px;
			margin: 8% -5%;
		}
		
		.mbBlog .col-lg-4{
			padding-bottom:8%;
		}
		.blog-disp .playpause{
			left: -51%;
			right: 0%;
			top: -30%;
		}
		.btn.blog_sign{
			width: 50%;
		}
		.commentRow .commented, .commentRow .comments {
			width:100%;
		}
	}
	
	.morevidRw{
		padding:5% 0 0 0; 
		margin:0 -10px 0 -10%;
	}
	.viewMoreVid{
		font-family: Arial; 
		font-size: 20px; 
		margin: 5px 0 0 -3.5%; 
		text-align: left; 
		color: grey;
	}
	.proDrop{ padding:0 5% 0 4%; }
	.searchItem{ padding:15px 5px 0 0px }
	.bvLogin{ font-size: 14px; color: #000; font-weight: 600; }
	.input-field label.error { width: 100%; padding: 6px 0 0px 0%; color: red; font-size: 11px; font-weight: 500;}
	input:focus { background-color: transparent !important; width:20%; box-shadow:none !important;}
	#bv_signout *{ font-family: roboto, sans-serif; }
	#bv_signout .modal-body{ height:auto; text-align:center;}
	#bv_signout .modal-content{ width: 100%; margin: 20% 0%; border-radius:10px; }
	#bv_signout p{ font-size:20px; }
	#bv_signout .bv{ font-size:20px !important; }
	#bv_signout .modal-header{ padding-left:40%; font-size:25px; border-bottom:none;}
	#bv_signout .sign-bv{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_signout .sign-bv:active{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_signout .can-bv{ height: 40px; width: 25%; border: 1px solid #d7d7d7; background-color: #d7d7d7; color: #373435; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_signout .logout-ftr{ margin: 10% 0 5% 0; }
	#bv_signout .logout-bdy{ margin:4% 0 2% 0; }
	#bv_signout .modal-header .close { margin: -0.5rem -1rem -1rem auto !important; }
	/*.modal-backdrop.show { background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('<?php echo base_url();?>assets/images/firstbg.jpg'); background-repeat: no-repeat; background-size: 100% 100%; opacity: 0.7 !important; }*/
	
	#bv_change_pass *{ font-family: roboto, sans-serif; }
	#bv_change_pass p{ font-size:20px; }
	#bv_change_pass .modal-body{ height:auto; text-align:center;}
	#bv_change_pass .modal-content{ width: 100%; margin: 20% 0%; border-radius:10px; }
	#bv_change_pass img{ width:48% !important; }
	#bv_change_pass .modal-header{ border-bottom:none;}
	#bv_change_pass .sign-bv{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_change_pass .sign-bv:active{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_change_pass .can-bv{ height: 40px; width: 25%; border: 1px solid #d7d7d7; background-color: #d7d7d7; color: #373435; font-size: 14px; padding-left: 0px; padding-right: 0px; margin-top:-6px !important; border-radius: 8px;}
	
	
	#bv_deactive *{ font-family: roboto, sans-serif; }
	#bv_deactive p{ font-size:20px; }
	#bv_deactive .modal-body{ height:auto; text-align:center;}
	#bv_deactive .modal-content{ width: 108%; margin: 20% 0%; border-radius:10px; }
	#bv_deactive .bv{ font-size:20px !important; }
	#bv_deactive .modal-header{ padding-left:27%; font-size:25px; border-bottom:none;}
	#bv_deactive .sign-bv{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_deactive .sign-bv:active{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_deactive .can-bv{ height: 40px; width: 25%; border: 1px solid #d7d7d7; background-color: #d7d7d7; color: #373435; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_deactive .logout-ftr{ margin: 10% 0 5% 0; }
	#bv_deactive .logout-bdy{ margin:4% 0 2% 0; }
	#bv_deactive .modal-header .close { margin: -0.5rem -1rem -1rem auto !important; }
	
	#bv_change_pass .login_form_textbox label.error {
		position: absolute;
		left: 0;
		margin: 40px 0 0 0;
		font-size: 12px;
		font-family: "Roboto",sans-serif !important;
	}	
	
	#bv_change_pass .error {
		color: #F00;
	}
	
	#bv_feedback *{ font-family: roboto, sans-serif; }
	#bv_feedback p{ font-size:20px; }
	#bv_feedback .bv{ font-size:20px !important; }
	#bv_feedback .modal-body{ height:auto; text-align:center;}
	#bv_feedback .modal-content{ width: 100%; margin: 20% 0%; border-radius:10px; }
	#bv_feedback .modal-header{ padding: 0 3%; font-size:25px; border-bottom:none;}
	#bv_feedback .sign-bv{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_feedback .sign-bv:active{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_feedback .can-bv{ height: 40px; width: 25%; border: 1px solid #d7d7d7; background-color: #d7d7d7; color: #373435; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_feedback .logout-ftr{ margin: 5% 0 5% 0; }
	#bv_feedback .logout-bdy{ margin:4% 0 2% 0; }
	#bv_feedback .modal-header .close { margin: -0.5rem -1rem -1rem auto !important; }
	#bv_feedback textarea{ width: 95%; height:235px; font-size:15px; }
	#bv_feedback textarea::placeholder{ font-size:13px; }
	#bv_feedback .user--name{ font-size:20px; color:#3e8b83; margin:-3% 0 5% 0; }
	
	#bv_user_awards .modal-header .close { margin: -0.9rem -1rem -1rem auto !important;}
	#bv_user_awards *{ font-family: roboto, sans-serif; }
	#bv_user_awards p{ font-size:20px; }
	#bv_user_awards .modal-body{ height:auto; text-align:center;}
	#bv_user_awards .modal-content{ width: 100%; margin: 20% 18%; border-radius:10px; }
	#bv_user_awards .bv{ font-size:20px !important; }
	#bv_user_awards .modal-header{ padding-left:5%; font-size: 20px; border-bottom: none; background-color: #f9f9f9;}
	#bv_user_awards .sign-bv{ height: 34px; width: 20%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_user_awards .sign-bv:active{ height: 34px; width: 20%; border: 1px solid #bc343a; background-color: #bc343a !important; color: #fff; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bv_user_awards .can-bv{ height: 36px; width: 20%; border: 1px solid #d7d7d7; background-color: #d7d7d7; color: #373435; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px; margin-top:1px;}
	#bv_user_awards .logout-ftr{ margin: 2% 0 4% 0; text-align: right; }
	#bv_user_awards .logout-bdy{ margin:0% 0 2% 0; }
	
	#bvuploadvideo{ max-width: 550px; margin: 3% 30% 0px 30%; }
	#bvuploadvideo input.file-video { margin: -34% 0 0 0 !important; cursor:pointer !important; }
	#bvuploadvideo *{ font-family: roboto, sans-serif; }
	#bvuploadvideo p{ font-size:15px; }
	#bvuploadvideo .bv{ font-size:20px !important; }
	#bvuploadvideo .modal-body{ height:auto; text-align:center;}
	#bvuploadvideo .modal-content{ width: 100%; margin: 20% 0%; border-radius:10px; }
	#bvuploadvideo .modal-header{ padding: 2% 3%; font-size:16px; border-bottom:none;}
	#bvuploadvideo .select-file{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a; color: #fff !important; font-size: 14px; padding: 0px; border-radius: 8px; line-height:38px;}
	#bvuploadvideo .can-bv{ height: 40px; width: 25%; border: 1px solid #d7d7d7; background-color: #d7d7d7; color: #373435; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bvuploadvideo .logout-ftr{ margin: 1% 0 5% 0; }
	#bvuploadvideo .logout-bdy{ margin:-2% 0 2% 0; }
	#bvuploadvideo .modal-header .close { margin: -0.9rem -1rem -1rem auto !important; }
	#bvuploadvideo textarea{ width: 95%; height:235px; font-size:15px; }
	#bvuploadvideo textarea::placeholder{ font-size:13px; }
	#bvuploadvideo .user--name{ font-size:20px; color:#3e8b83; margin:-3% 0 5% 0; }
	#bvuploadvideo input.file-video{ opacity: 0; width: 100%; float: left; height: 100%; cursor: pointer; }
	
	#bvuploaddetails *{ font-family: roboto, sans-serif; }
	#bvuploaddetails p{ font-size:16px; }
	#bvuploaddetails .bv{ font-size:20px !important; }
	#bvuploaddetails .modal-body{ height:auto; text-align:center;}
	#bvuploaddetails .modal-content{ width: 700px; margin: 0% 5%; border-radius:10px; overflow-y: scroll; height: 92%; }
	#bvuploaddetails .modal-header{ padding: 2% 3%; font-size:16px; border-bottom:none;}
	#bvuploaddetails .select-file{ height: 40px; width: 25%; border: 1px solid #bc343a; background-color: #bc343a; color: #fff !important; font-size: 14px; padding: 0px; border-radius: 8px; line-height:38px;}
	#bvuploaddetails .can-bv{ height: 40px; width: 25%; border: 1px solid #d7d7d7; background-color: #d7d7d7; color: #373435; font-size: 14px; padding-left: 0px; padding-right: 0px; border-radius: 8px;}
	#bvuploaddetails .logout-ftr{ margin: 1% 0 5% 0; }
	#bvuploaddetails #reg_profile_image{ opacity:0 !important; }
	#bvuploaddetails .logout-bdy{ margin:-2% 0 2% 0; }
	#bvuploaddetails .modal-header .close { margin: -0.9rem -1rem -1rem auto !important; }
	#bvuploaddetails textarea{ width: 100%; height:95px; font-size:15px; border:1px solid #eef2fe; padding:5px 12px 5px 12px; }
	#bvuploaddetails textarea::placeholder{ font-size:15px; color:#495057; }
	#bvuploaddetails .thumbnail_box{ border:1px solid #e5e5e5; max-width:23.8% !important; padding:0px; }
	#bvuploaddetails .left-margin{ margin-left:8px; }
	#bvuploaddetails .choices{ text-align:left !important; }
	#bvuploaddetails .progress{ height:8px !important; margin:8px 0 -2px 0; width:65%; }
	.sctech{ color:#339deb; }
	div[data-value="Science and Tech"] { color: #339de9; }
	div[data-value="Environment"] { color: #00d721; }
	div[data-value="Health"] { color: #6ab0eb; }
	div[data-value="Inspiring Innovators"] { color: #fec923; }
	div[data-value="Lifestyle and Fashion"] { color: #3a774d; }
	div[data-value="Education and Development"] { color: #339de9; }
	div[data-value="Agriculture"] { color: #00d721; }
	.choices__inner{ background-color: transparent !important; border:none !important; }
	.choices__input{ background-color: transparent !important; }
	.catbox{ border:1px solid #eef2fe; width: 94.5%; margin-left: 2.3%; padding: 5px 0 0 0; border-radius: 5px; }
	.tagsbox{ border:1px solid #eef2fe; width: 94.5%; margin: 15px 0 0 2.3%; padding: 5px 0 0 0; border-radius: 5px; height:115px; }
	.progressbox{ padding: 25px 0 12px 0 !important; border-top: 1px solid #eef2fe; box-shadow: 0px 0 10px 0 rgb(0 0 0 / 80%); margin-bottom: -15px;  border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
	.publishvid{ height: 34px; width: 60%; border: 1px solid #bc343a; background-color: #bc343a; color: #fff !important; font-size: 12px; padding: 0px; border-radius: 8px; line-height: 32px; margin: 8px 0 0 30%; font-size:15px; }
	.bg-success{ background-color: #d5eded !important; }
	.catbox .choices__inner { padding-right: 30px !important; }
	.catbox .choices__inner:after { content: ""; position: absolute; right: 18px; top: 50%; transform: translateY(-50%); border-top: 5px solid #333; border-left: 5px solid transparent; border-right: 5px solid transparent; }
	.tagsbox .choices__list--multiple .choices__item { background-color: #f5f5f5 !important; border: 1px solid #f5f5f5 !important; color: #4d4d4d !important; }
	
	.dataTables_paginate .paginate_button.previous{
		background: #fff url(img/arrow-o-circle-left.png) no-repeat center !important;
		padding: 18px;
		text-indent: -9999999px;
		box-shadow: 0 1px 3px #e8e7ec !important;
		-webkit-box-shadow: 0 1px 3px #e8e7ec;
		-o-box-shadow: 0 1px 3px #e8e7ec;
		-moz-box-shadow: 0 1px 3px #e8e7ec;
		-ms-box-shadow: 0 1px 3px #e8e7ec;
		white-space: nowrap;
		border: none !important;
	}
	.dataTables_paginate .paginate_button.next{
		background: #fff url(img/arrow-o-circle-right.png) no-repeat center !important;
		padding: 18px;
		text-indent: -9999999px;
		box-shadow: 0 1px 3px #e8e7ec !important;
		-webkit-box-shadow: 0 1px 3px #e8e7ec;
		-o-box-shadow: 0 1px 3px #e8e7ec;
		-moz-box-shadow: 0 1px 3px #e8e7ec;
		-ms-box-shadow: 0 1px 3px #e8e7ec;
		white-space: nowrap;
		border: none !important;
	}
	.dataTables_paginate span a.paginate_button.current,.dataTables_paginate span a.paginate_button.current:hover{
		background: #bc343a;
		color: #fff !important;
		border: none !important;
	}
	.dataTables_paginate span a.paginate_button{
	}
	.dataTables_paginate span a.paginate_button:hover{
		background: #bc343a;
		color: #fff !important;
		border: none !important;
	}
	.showmore-row{
	  background: url('img/showmorebg.png');
	  background-repeat: repeat-x;
	  height: 40px;
	  width: 100%;
	  float: left;
	  border-radius: 0 0 6px 6px;
	}
	.showmore-row:hover{
	  box-shadow: 0px 4px 7px #e8e7ec;
	}
	.showmore-row i{
		vertical-align: middle;
		height: 100%;
		line-height: 200%;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button{ padding: 0.5em 1em !important; }
	.dataTables_wrapper .dataTables_paginate{ margin-top:8px; }
	
	table.dataTable thead th, table.dataTable thead td {
		padding: 15px 18px 15px 18px;
		border-bottom: none;
		font-size:13px;
		border-top: 1px solid #fbc585;
		border-bottom: 1px solid #fbc585;
	}
	table.dataTable tbody tr { background-color:#ebfffe !important; font-size:14px; }
	table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
		background-color:#ebfffe !important;
		padding: 12px 5px !important;
	}
	table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
		background-color:#ebfffe !important;
		padding: 12px 5px !important;
	}
	table.dataTable.display thead tr th:first-child{ 
		border-left: 1px solid #fbc585; 
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
	}
	table.dataTable.display thead tr th:last-child{ 
		border-right: 1px solid #fbc585; 
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
	}
	table.dataTable.display tbody tr td:first-child{
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		border: 1px solid #70aaab;
		border-right:none !important;
		border-right: 1px solid #ccc !important;
	}
	table.dataTable.display tbody tr td:last-child{
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
		border: 1px solid #70aaab;
		border-left:none !important;
		border-right: 1px solid #ccc !important;
	}
	table.dataTable tbody td{ border-top: 1px solid #70aaab !important; border-bottom: 1px solid #70aaab !important; border-right: 1px solid #ccc !important; vertical-align: middle; }
	
	.dataTables_wrapper.no-footer .dataTables_scrollBody{ height:auto !important; border-bottom:none !important; }
	.dataTables_scrollBody thead{ display: table-footer-group; background-color: transparent; }
	.dataTables_scrollBody thead tr th:first-child{ background-color: transparent;  border-left:1px solid transparent !important; }
	.dataTables_scrollBody thead tr th:last-child{ background-color: transparent;  border-right:1px solid transparent !important; }
	table{ width:100%; }
	table thead{ background-color:#fef6eb; /*border:1px solid #fbc585;*/ border-radius:5px; }
	table th{ padding:5px 0; }
	
	
	/* Check Box css */
	input[type="checkbox"],
	input[type="radio"] {
		-webkit-box-sizing: border-box;
        box-sizing: border-box;
		/* 1 */
		padding: 0;
		/* 2 */
	}
	[type="checkbox"].filled-in:checked + label:before {
		top: 0;
		left: 1px;
		width: 8px;
		height: 13px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		-webkit-transform: rotateZ( 37deg );
		transform: rotateZ( 37deg );
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	/* Remove default checkbox */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	[type="checkbox"] {
		/* checkbox aspect */
	}

	[type="checkbox"] + label {
		position: relative;
		padding-left: 20px;
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		font-size: 1rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
        user-select: none;
	}

	[type="checkbox"] + label:before,
	[type="checkbox"]:not(.filled-in) + label:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		z-index: 0;
		border: 2px solid #5a5a5a;
		border-radius: 1px;
		margin-top: 2px;
		-webkit-transition: .2s;
		transition: .2s;
	}

	[type="checkbox"]:not(.filled-in) + label:after {
		border: 0;
		-webkit-transform: scale(0);
        transform: scale(0);
	}

	[type="checkbox"]:not(:checked):disabled + label:before {
		border: none;
		background-color: rgba(0, 0, 0, 0.42);
	}

	[type="checkbox"].tabbed:focus + label:after {
		-webkit-transform: scale(1);
        transform: scale(1);
		border: 0;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	}
	
	[type="checkbox"]:checked + label:before {
		top: 1px;
		left: 0px;
		width: 8px;
		height: 14px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #26a69a;
		border-bottom: 2px solid #26a69a;
		-webkit-transform: rotate(40deg);
        transform: rotate(40deg);
		-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
		-webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
	}

	[type="checkbox"]:checked:disabled + label:before {
		border-right: 2px solid rgba(0, 0, 0, 0.42);
		border-bottom: 2px solid rgba(0, 0, 0, 0.42);
	}

	/* Indeterminate checkbox */
	[type="checkbox"]:indeterminate + label:before {
		top: -11px;
		left: -12px;
		width: 10px;
		height: 22px;
		border-top: none;
		border-left: none;
		border-right: 2px solid #26a69a;
		border-bottom: none;
		-webkit-transform: rotate(90deg);
        transform: rotate(90deg);
		-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}

	[type="checkbox"]:indeterminate:disabled + label:before {
		border-right: 2px solid rgba(0, 0, 0, 0.42);
		background-color: transparent;
	}

	[type="checkbox"].filled-in + label:after {
		border-radius: 2px;
	}

	[type="checkbox"].filled-in + label:before,
	[type="checkbox"].filled-in + label:after {
		content: '';
		left: 0;
		position: absolute;
		/* .1s delay is for check animation */
		-webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
		transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
		z-index: 1;
		border:1px solid red;
	}

	[type="checkbox"].filled-in:not(:checked) + label:before {
		width: 0;
		height: 0;
		border: 3px solid transparent;
		left: 6px;
		top: 10px;
		-webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
		-webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
	}

	[type="checkbox"].filled-in:not(:checked) + label:after {
		border: 2px solid #B0B7CA;
		height: 16px;
		width: 16px;
		background-color: transparent;
		top: 0px;
		z-index: 0;
	}

	[type="checkbox"].filled-in:checked + label:before {
		top: -2px;
		left: 0px;
		width: 8px;
		height: 13px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		-webkit-transform: rotateZ(37deg);
		transform: rotateZ(37deg);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}

		[type="checkbox"].filled-in:checked + label:after {
		  top: 0;
		  width: 16px;
		  height: 16px;
		  border: 2px solid #bc343a;
		  background-color: #bc343a;
		  z-index: 0;
		}

		[type="checkbox"].filled-in.tabbed:focus + label:after {
		  border-radius: 2px;
		  border-color: #5a5a5a;
		  background-color: rgba(0, 0, 0, 0.1);
		}

		[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
		  border-radius: 2px;
		  background-color: #26a69a;
		  border-color: #26a69a;
		}

		[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
		  background-color: transparent;
		  border: 2px solid transparent;
		}

		[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
		  border-color: transparent;
		  background-color: #949494;
		}

		[type="checkbox"].filled-in:disabled:checked + label:before {
		  background-color: transparent;
		}

		[type="checkbox"].filled-in:disabled:checked + label:after {
		  background-color: #949494;
		  border-color: #949494;
		}
		
		/* Dropdown css */
		.admin-list .nav-link{ border: 1px solid #ccc; margin: 0 0 0 15px; border-radius: 8px; height: 40px; line-height: 20px; font-size:12px; color:#bc343a; width:140px; }
		.admin-list .nav-link:hover{ border: 1px solid #ccc; margin: 0 0 0 15px; border-radius: 8px; height: 40px; line-height: 20px; font-size:12px; color:#bc343a; width:140px; }
		.admin-list .dropdown-menu { padding:0px; border-radius:5px; }
		.admin-list .dropdown-menu.show { width: 24.2%; }
		.admin-list .dropdown-item { padding: 5px 15px; font-size: 12px; border-bottom:1px solid #ccc; }
		.admin-list .dropdown-item:hover { background-color:#fbc585; font-size: 12px; border-bottom:1px solid #ccc; }
		.admin-list .dropdown-toggle::after { margin-left: 18px !important; width: 7px; margin-top: 1px; font-size: 12px;}
		.admin-list .shadow { box-shadow: 0 0.5rem 3rem rgb(0 0 0 / 8%) !important; }
		
		.catopen .modal-backdrop.show{ opacity:0; }
	
	.select2-container--default .select2-selection--single {
		background-color: transparent;
		border: none !important; 
		border-radius: 4px;
	}
	.select2-container--default .select2-results__option[aria-selected=true] {
		background-color: #ddd;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background-color: #fefaef !important;
		color: #595959 !important;
	}
	.select2-container--default .select2-search--dropdown .select2-search__field {
		border: none !important;
	}
	.select2-search--dropdown {
		display: block;
		padding: 4px;
		border: 2px solid #ccc;
		border-radius: 5px;
		background-color: white;
		box-sizing: border-box
		position: absolute;
		z-index: 1051;
	}
	.select2-container{ font-size:13px; width:160px !important; width: 160px !important; height: 48px; padding: 10px 0; }
	.select2-container--open .select2-dropdown--below { border:none !important; width:155px !important; }
	.select2-container--default .select2-results > .select2-results__options {
		font-size: 13px;
		border-radius: 5px;
		box-shadow: 0px 2px 6px #b0b7ca;
	}
	.select2-container--default .select2-results>.select2-results__options {
		max-height: 210px;
		overflow-y: auto;
	}	
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
		border-color: #198587 transparent transparent transparent !important;
		margin-top:8px !important;
	}
	
	.ustate .select2-container{ border-left: 1px solid #f1f1f1; }
	.ucity .select2-container{ border-left: 1px solid #f1f1f1; }
	input.hide-file-thumbnail { opacity: 0; width: 100%; float: left; height: 100%; cursor: pointer; }
	
	.see_more_video{ background-color: rgb(191, 75, 61); color: #fff !important; text-decoration: none; padding: 3px 8px; border-radius: 4px; font-weight: 100 !important; font-size: 15px !important; float: right; margin-top: -35px; }