.editor-video-three {
	width: 80%;
	height: 250px;
}
.mobile-view .editor-video-three {
	width: 87.9%;
    height: 280px;
    margin: 0 0 0 -17px;
}

.editor-video-three .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	margin-left: -10px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}

.mobile-view .editor-video-three .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	margin-left: -10px;
	width: 100%;
	height: 240px;
	max-height: 450px;
}

.editor-video-three .video-container video{
	top: 0;
	left: 0;
	margin-top:-60px !important;
	margin-left: 100px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}

.editor-video-four {
	width: 80%;
	height: 275px;
}

.editor-video-four .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	margin-left: 215px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}

.editor-video-four .video-container video{
	top: 0;
	left: 0;
	margin-top:-60px !important;
	margin-left: 180px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}

.editor-video-five {
	width: 80%;
	height: 275px;
}

.editor-video-five .video-container iframe,
.video-container object,
.video-container embed {
	top: 0;
	left: 0;
	margin-left: 260px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}

.editor-video-five .video-container video{
	top: 0;
	left: 0;
	margin-top:-60px !important;
	margin-left: 260px;
	width: 90%;
	height: 240px;
	max-height: 450px;
}
	
.carousel-inner img {
	width: 100%;
	/*height: 580px !important;*/
}

.carousel-indicators li {
	width: 14px !important;
	height: 14px !important;
	background-color: #fff !important;
	border-radius:50%;
}

.carousel-indicators .active {
	background-color: #bf4b3d !important;
}

.carousel-item .active{
	
}

#sp-home-slider{
	height:200% !important;
	margin:1% 0;
}

.video-details-one{
	background-color:#fff !important;
	width: 123%;
	margin-left: 147px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.video-details-two{
	background-color:#fff !important;
	width: 123.1%;
	margin-left: 200px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.video-details-three{
	background-color:#fff !important;
	width: 123.5%;
	margin-left: 245px;
	margin-top:240px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.upload-details{
	color:#ccc !important;
	font-size:13px;
	padding-top:5px;
}

.overall-details{
	text-align:justify;
	padding:10px 15px 20px 15px;
	font-family:roboto, sans-serif;
	line-height: 1.5;
}

.see-more{
	color:#808080 !important;
	font-size:20px;
	font-family: Arial;
	font-weight:500 !important;
	text-decoration: underline;
}

.editor-picks{
	border-radius:10px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  /*content: '>';*/
  font-size: 50px;
  color: #bf4b3d;
  font-weight: bold;
}

.carousel-control-prev-icon:after {
  /*content: '<';*/
  font-size: 50px;
  color: #bf4b3d;
  font-weight: bold;
}