/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */

.pp-head{
	margin: 4% 0;
	color: grey;
}

.pp-head p{
	font-family: "Arial";
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:#595959;
}

.pri-pol{
	padding: 0 0 5% 0;
	font-family: Arial;
	color: grey;
	font-size: 17px;
}

.tc-head{
	margin: 4% 0;
	color: grey;
}

.tc-head p{
	text-align: center;
	font-family: "Arial";
	font-size: 30px;
	font-weight: bold;
	color:#595959;
}

.tr-cond{
	padding: 1% 0 5% 0;
	color: grey;
	font-family: Arial;
	color: grey;
	font-size: 17px;
}

.tr-cond p{
	justify-content: center;
}