.contact-header {
  text-align: center;
  font-family: Arial;
  font-size: 17px;
  padding:40px 0;
  color: grey;
  margin-top: -5px;
  margin-bottom: -35px;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 150%;
  margin-bottom: 20px;
  font-family: Arial;
}

.icon {
  padding: 15px;
  background: white;
  color: #ccc;
  min-width: 20px;
  text-align: center;
  border: 1.5px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-field {
  width: 50%;
  padding: 10px;
  outline: none;
  border: 1.5px solid #ccc;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  background-color: #7863E8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  margin-top: 16px; 
  font-family: Arial;
}

.btn:hover {
  opacity: 1;
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 1px;
  margin-left: -5px;
}

textarea {
  width: 88%;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  font-family: Arial;
}

.fa-user{
font-size: 20px;
}

#contact-btn{
border:1px solid #7863E8 !important;
background-color: #7863E8;
color:#fff;
}

.sub-btn{
text-align: right;
margin-right: 13%;
}