	.shadow {
		box-shadow: 0 3px 15px #e7e5ee;
	}
			
	.box-wrapper {
		float: left;
		width: 100%;
	}
	
	.bg-white {
		background-color: #fff;
	}
	
	.border-radius-6 {
		border-radius: 6px !important;
	}
			
	.box-header {
		float: left;
		padding: 30px 25px;
		width: 100%;
	}
	
	.border-bottom{
		border-bottom:1px solid #ccc;
	}
	
	.input-field{
		padding: 5.4% 5% 5.4% 10%;
	}
	
	.sc-input-field{
		padding: 4.4% 5% 5.4% 26%;
	}
			
	.box-title {
		font-size: 22px;
		margin: 0;
		font-weight: 500;
		color: #413A68;
	}
	
	.main-div{
		margin:5% 0;
	}
	
	.uploader-placeholder {
		float: left;
		width: 100%;
		margin: 0;
		background-size: cover;
		height: 90px;
		background-image: url(img/icons/image-uploader.png);
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid #EEF2FE;
		border-right: none;
	}
	
	input.hide-file {
		opacity: 0;
		width: 100%;
		float: left;
		height: 100%;
		cursor: pointer;
	}
	
	label.full-bg-label {
		color: #666;
		font-size: 12px;
		padding: 10px 0 10px 0px !important;
		text-transform: uppercase;
		margin: 0px 0;
		height: auto;
		display: flex;
	}
	
	input[type=text]:not(.browser-default) {
		font-size: 13px !important;
		color: #000 !important;
		border:none;
	}
	
	input[type=date]:not(.browser-default) {
		font-size: 13px !important;
		color: #000 !important;
		border:none;
		-webkit-appearance: media-sliderthumb !important;
		padding:2.7px 0;
	}
	
	input.full-bg.adjust-width {
		width: calc(100% - 41px) !important;
		border:none;
	}
	
	.select{
		border:none !important;
		padding:4.5px 0px;
		width:95%;
		font-size:13px;
	}
	
	.border-right{
		border-right:1px solid #ccc;
	}
	
	.col-twelth{
		max-width:97% !important;
	}
	
	.col-left{
		padding-right:0 !important;
	}
	
	.col-right{
		padding-left:0 !important;
	}
	
	h6.label {
		color: #666;
		font-size: 12px;
		text-transform: uppercase;
		line-height: unset;
		margin: 0;
	}
	
	.badge-cover {
		background: #afb6c8;
		border-radius: 13px;
		padding: 5px 13px;
		color: #fff;
		margin-left: 15px;
	}
	small {
		font-size: 0.8rem;
	}
	
	h6.label a {
		cursor: pointer;
	}
	.right {
		float: right !important;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		font-weight: inherit;
	}
	
	h6.label img {
		vertical-align: middle;
	}
	img {
		border: 0;
	}
	
	i.left-field-prefix.facebook {
		background: url(../img/facebook.png) no-repeat center;
	}
	
	i.field-prefix.twitter {
		background: url(../img/twitter.png) no-repeat center;
	}
	
	i.left-field-prefix.linkedin {
		background: url(../img/linkedin.png) no-repeat center;
	}
	
	i.field-prefix.instagram {
		background: url(../img/instagram.png) no-repeat center;
	}
	
	i.left-field-prefix.youtube {
		background: url(../img/youtube.png) no-repeat center;
	}
	
	i.field-prefix.vimeo {
		background: url(../img/vimeo.png) no-repeat center;
	}
	
	i.left-field-prefix{
		position: absolute;
		top: 0;
		left: 30px;
		margin-right:2%;
		height: 100%;
		width: 28px;
	}
	
	i.field-prefix {
		position: absolute;
		top: 0;
		left: 20px;
		margin-right:2%;
		height: 100%;
		width: 28px;
	}
	i {
		line-height: inherit;
	}
	
	[type="button"], [type="reset"], [type="submit"] {
		-webkit-appearance: initial !important;
	}