a:hover{
	text-decoration: none !important;
}

.foo-firsttabs{
	list-style-type:none;
	text-align:left !important;
	padding-left:38%;
	font-size: 15px;
}

.foo-secondtabs{
	list-style-type:none;
	text-align:left !important;
	padding-left:28%;
	font-size: 15px;
}

.foo-thirdtabs{
	list-style-type:none;
	text-align:left !important;
	padding-left:36%;
	font-size: 15px;
}

.foo-list li{
	padding:8px 0px;
}

.foo-list li a{
	color:#000 !important;
}