* {
	box-sizing: border-box;
}

body { 
	margin: 0;
	font-family: "roboto", sans-serif;
}

.header {
	overflow: hidden;
	opacity: 0.9;
	padding: 0px 0px;
	margin-top: -13px;
	margin-bottom: -5px;
}

.header .logo {
	float: left;
	text-align: center;
	padding: 20px;
}

.header .header-right a{
	color: black;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 15px !important; 
	line-height: 25px;
	border-radius: 10px;
}

.header a.logo {
	height:30px;
	width: 30px;
	margin-top:-20px;
}

.header .header-right a:hover {
	background-color: #ddd;
	color: black;
}

.login-btn {
	background-color: #7863E8 !important;
	color: #fff !important;
	height: 32px !important;
	margin-top: 10px !important;
	line-height: 5px !important;
	width: 25%;
}

.header-right {
	float:right !important;
	padding:15px 20px 15px 0;
}

@media screen and (max-width: 500px) {
.header a {
	float: none;
	display: block;
	text-align: center;
	padding:0 10px;
}
}

*:focus {
	outline: none;
}