.txt{
	margin: 10% 0 0 40px;
	color: #7863E8;
	font-size:  25px;
	font-weight: 700;
	text-align: left;
}

.txt1{
	color: black;
	margin: 30px 0 30px 40px;
	text-align: left;
}

.input {
	margin-bottom: 20px;
	margin-left: 40px;
	width: 270px; 
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px;
	outline: none;
	background-color: white;
	border: 1.5px solid #ccc;
	float: left;
}

.input:focus {
  	border-color: #7863E8;
  	box-shadow: 0 0 10px 0 #7863E8;
}

#partner-btn{
	background-color: #7863E8;
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 10%;
	opacity: 0.9;
	height:45px;
	margin-right: 68%;
	margin-top: 2px !important;  
}

.gift-image{
	height:250px;
	width:100%;
	text-align:center;
}

.gift-container{
	margin-top:13% !important;
}

.event-container{
	margin:5% 0;
	margin-left: 13%;
}

.feature-div{
	padding:11% 0;
}

.progress-bar{
	width:10%;
	height:6px;
	background-color: #7863E8;
}

.input1 {
	text-align:center;
	border-radius: 25px;
	height:30px;
	padding:10px 0;
	margin:10px 0;
}

.xc-contact{
	text-align:center;
}

.contact-input{
	margin:10px 0;
}

.contact-input input{
	border-radius: 10px;
	border: 1.5px solid #ccc;
	width:350px;
	height:43px;
	padding-left:10px;
	border-left:none;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	margin-left:-5px;
}

.icon {
	padding: 12px;
	background: white;
	color: #ccc;
	min-width: 20px;
	text-align: center;
	border: 1.5px solid #ccc;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.contact-login{	
	background-color: #7863E8;
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 10%;
	opacity: 0.9;
	height:40px;
	margin-left: 290px;
}

.btn:hover {
	opacity: 1;
}

.sub-btn{   
	text-align:left;   
}
