.navbar-expand.bg-dark{
background-color:#f8f9fd !important;
padding-left:0px !important;
padding-right:0px !important;
margin-top: -16px !important;
}

.bg-dark {
display:block !important;
height: auto !important;
}

.navbar-dark .navbar-nav .nav-link {
color:#000 !important;
}

.xc-sidenav{
margin:0px 0px !important;
width:17%;
}

.video-row{
padding:2% 0;
}

.single-video{
margin:2% 0;
}

.filter h6{
padding:10px 18px 10px 40px;
}

.top-head h6{
padding:10px 18px 10px 40px;
}

.filter-list{
border-bottom:1px solid #ccc !important;
}

.filter{
border-bottom:1px solid #ccc !important;
width:128% !important;
}

.side-nav li{
margin-right:-18px !important;
}

.side-nav .learn-item a{
font-size:12px !important;
font-family:"roboto", sans-serif !important;
color:#000 !important;
}

.fr-title{
padding:3% 0 5% 0;
}

.add-new {
margin: 0 0 0 0 !important; 
}
.section_li {
margin: 0 0 0 0 !important; 
}
.categories>li {
float: none;
display: inline-block;
}
a.btn.btn-theme.btn-large.section_li {
background-color: #f8f9fd;
color: #7864e9;
border: 1px solid #7864e9;
font-size:11px;
font-weight:500;
}

.ac-tabs .btn-theme.section_li{
padding: 0 10px !important;
}

.btn-theme.section_li{
padding: 0 40px !important;
border-radius: 6px !important;
line-height: 45px !important;
height: 45px !important;
} 
ul.categories {
text-align: center;
margin:0;
width: 135% !important;
}

.ac-tabs{
margin-left:5px !important;
}

.tabs {
height:auto;
background: transparent !important;
width: 100% !important;
}
ul.tabs li {
border:none !important;
float: left;
width: 24% !important;
}

ul.ac-tabs li {
border:none !important;
float: left;
width: 2.8% !important;
}

li.tab a.active {
min-height: auto !important;
}

a.btn-theme.section_li.active {
background-color: #7864e9 !important;
color: #f8f9fd !important;
border: 0px;
}

.tabs .tab{
padding: 0 5px 0 5px !important;
}

.collapsible {
border: 0px;
-webkit-box-shadow: none;
}

.document-box-view.redborder.active {
border-left: 4px solid #ff7c9b;
}

.collapsible-header{
border-bottom:none;  
}

.collapsible-header.active{
padding-bottom: 0px;
font-weight: 600;
}

.collapsible-body{
padding: 0 1rem 1rem 1rem;
}

.red-bg-right:before {
top: -32px !important;
}

.green-bg-right:after{
bottom: -25px !important;
left: 50px;
}

ul:not(.browser-default) > li .li_cls {
list-style-type: disc !important;
}

.btn-theme{
padding:0px !important;
}

.formula{
font-size:15px;
color: #7864e9 !important;
}

.mt-5 {
margin-top: 3% !important;
}

.info-top{
text-align:center;
margin-bottom:20px;
}

.list-menu{
background-color:#fff !important;
border-radius:5px;
}

.p-head{
padding:10px 0;
}

.card-body{
border:none !important;
}

.btn:focus, .btn.focus {
outline: 0;
box-shadow: none !important;
}

.side-nav .nav-item.learn-item:hover{
border-left: 3px solid #ff85a1;
background-color: rgba(0,0,0,0.12);
opacity: 1
}

.side-nav .nav-item.learn-item.active{
border-left: 3px solid #ff85a1;
background-color: rgba(0,0,0,0.12);
opacity: 1;
}