* {box-sizing: border-box;}
body { 
margin: 0;
font-family: "roboto", sans-serif;
}

@media screen and (max-width: 500px) {
.header{
float: none;
display: block;
text-align: center;
padding:0 10px;
}
}

.navbar {
background: #fff !important;
margin: -10px 0px -17px 0px !important;
}

.navbar-nav li {
position: relative;
margin-right: 20px;
font-weight: 500;
}

#navbarSupportedContent{
padding-left: 24%;
}

.vl{
border: 0.5px solid #ccc;
margin: 0px 8px -9px -11px;
}

.nav-link{
text-align:center;
}

.icon-name{
font-size: 12px;
font-weight: bold;
}

.dropdown{
padding: 10px 0;
}

.user-name, .down, .user-display-name{
color: #ccc !important;
}

#navbarSupportedContent .navbar-nav .nav-item:hover{
box-shadow: 0 3px 0px #7863E8;
}

.dropdown:hover{
box-shadow: none !important;
}

.up{
display:none;
}

#profile-dropdown li{
margin-left:-30px;
padding:5px 2px;
}

#profile-dropdown li a{
color:#fff !important;
}

#profile-dropdown{
display:none;
list-style:none !important;
background-color: #7864e9;
color:#fff !important;
border-radius: 5px;
}

.user-pofile-image{
border-bottom:1px solid #fff;
padding:10px 2px;
text-align:center;
}

.first-label{
margin-top:3%;
}

.img-div{
text-align:center;
margin-top: 30px;
margin-bottom: 30px;
}

.middle-div{
margin-top:3%;
}

.one-hr{
width:60%;
}

.list-buzz{
width: 100%;
margin-right: 10px;
text-align: center;
margin-top: 40px;
}

.mar-top{
margin-top:-20px;
}

.feature_list li{
color:#fff;
font-size:14px;
text-align:left;
margin-left:80px;
}

.numberCircle {
border-radius: 50%;
behavior: url(PIE.htc);
/* remove if you don't care about IE8 */
width: 50px;
height: 50px;
padding: 13px;
background: #50e3c2;
border: 2px solid #fff;
color: #fff;
text-align: center;
font: 20px Arial, sans-serif;
}

.step-one{
border: 2px solid #fff;
border-radius:5px;
padding: 14px 0px 12px 52px !important;
margin-top:7px;
margin-left:10px;
line-height:7px;
color:#fff;
font-size:13px;
}

.step-three{
border: 2px solid #fff;
border-radius:5px;
padding: 14px 0px 12px 16px !important;
margin-top:7px;
margin-left:35px;
line-height:7px;
color:#fff;
font-size:13px;
}

.gift-terms{
height: 9%;
text-align: center;
padding-top: 20px;
font-family: 'Roboto', sans-serif;
color: #fff;
}

.accept-btn{
background-color: #50e3c2 !important;
border: none;
color: #fff;
margin-left: 10px;
}

.term_cond{
margin-top: 5px;
}